

.shared-message-compose-recipient-span {
  font-size: 0.75rem;
  color: $accentDarkest;
  cursor: pointer;

  @include flexbox();
  @include flex(0 0 auto);
  @include align-items(center);
  @include align-content(center);

}
