{{shared/elements/file-uploader/s3-upload-new id=uploadId class='off-screen' newDocumentCreated=(action 'newDocumentCreated') uploadComplete=(action 'uploadComplete') uploadError=(action 'uploadError')}}

<label for={{uploadId}} class='selectable no-pointer-events'>
  {{yield}}
</label>
