<div {{action 'toggleSelect'}}>
    {{inline-svg 'icons/question-mark' class=class}}
</div>

<div class='loan-type-select-dropdown-container {{if showSelect "in-focus"}}'>
  {{#each loanTypes as |type|}}
    <div class='loan-type-select-dropdown-component'>
      <div class='s06'>
        {{inline-svg type.svgPath class=class}}
      </div>
      <div class='s18'>
        {{type.name}}
      </div>

    </div>

  {{else}}
    There are no owners
  {{/each}}
</div>
