<div class='s24 flex-column-nowrap absolute'>
  {{#each model as |template|}}
    <div class='element-table-row element-table-row-display ' {{action 'selectTemplate' template}}>
      <div class='s24 m12'>
        {{template.name}}
      </div>
      <div class='s00 m12'>
        {{template.subject}}
      </div>
    </div>

  {{/each}}
</div>
