{{shared/buttons/svg-circle-button hasBorder=true label=label iconName='buttons/calculator' altClasses=altClasses onClick=(action 'toggleCalculator')}}

{{#if showCalculator}}
  <div class='repayent-calculator-popover-container'>
    <!--div class='s24 pad5 accent-darker-bg white-fg text-centre'>
      <b>Repayment Calculator</b>
    </div-->
    {{shared/tools/segments/tool-title-bar title='Repayment Calculator' closeAttribute=showCalculator }}

    <div class='s24 pad5 flex-row-wrap'>
      <div class='s12'>
        {{shared/inputs/element-currencyfield value=loanAmount placeholder='loan amount'}}
      </div>
      <div class='s02 spacer'>
      </div>
      <div class='s10'>
        {{shared/inputs/element-percentfield value=rate placeholder='interest rate' }}
      </div>
      <div class='s12'>
        {{shared/inputs/element-select listName='frequency' placeholder='frequency' value=frequency}}
      </div>
      <div class='s02 spacer'>
      </div>
      <div class='s10'>
        {{shared/inputs/element-termfield value=term placeholder='loan term'}}
      </div>
      <div class='s24'>
        {{shared/inputs/element-segmentbutton value=interestType listItems=interestTypes}}
      </div>

      <div class='s24 spacer'>
      </div>
      <div class='s24'>
        {{shared/labels/label-with-placeholder-option value=repayment placeholder='repayments' currency=true centre=true style='bold' inputSize=true}}
      </div>
      <div class='s24'>
        <button class='square-button accent-darker-bg full-width-button' {{action 'use'}}>Use</button>
      </div>
    </div>

  </div>
{{/if}}
