.accent-lightest-bg {
  background-color: $accentLightest;
  border-color: $accentLightest;
  color: white;
}

.accent-lightest-fg {
  background-color: transparent;
  border-color: $accentLightest;
  color: $accentLightest;
}


.accent-lighter-bg {
  background-color: $accentLighter;
  border-color: $accentLighter;
  color: white;
}

.accent-lighter-fg {
  background-color: transparent;
  border-color: $accentLighter;
  color: $accentLighter;
}


.accent-bg {
  background-color: $accent;
  border-color: $accent;
  color: white;
}

.accent-fg {
  background-color: transparent;
  border-color: $accent;
  color: $accent;
  //stroke: $accent;
  //fill: $accent;
}

.accent-bd {
  border-color: $accent;
}

.accent-darker-bg {
  background-color: $accentDarker !important;
  border-color: $accentDarker !important;
  color: white;
}

.accent-darker-fg {
  background-color: transparent;
  border-color: $accentDarker;
  color: $accentDarker;
  //stroke: $accentDarker;
  //fill: $accentDarker;
}

.accent-darker-bd {
  border-color: $accentDarker !important;
}

.accent-darker-icon {
  stroke: $accentDarker;
  fill: $accentDarker;
}

.accent-darker-icon-stroke {
  stroke: $accentDarker;
  fill: none;
}


.accent-darkest-fg {
  border-color: $accentDarkest;
  color: $accentDarkest;
}

.accent-darkest-icon {
  fill: $accentDarkest;
}


.accent-darkest-bd {
  border-color: $accentDarkest;
}

.red-fg {
	color: $iconred;
  //border-color: $iconred;
  //stroke: $iconred;
  //fill: $iconred;
}

.red-bg {
	background-color: $iconred;
	border-color: $iconred;
  color: white
}

.red-bd {
	border-color: $iconred;
}

.red-icon {
	fill: $iconred;
}

.green-fg {
  color: $icongreen;
}
.green-bg {
  background-color: $icongreen !important;
  border-color: $icongreen !important;
  color: white;
}

.green-bd {
  border-color: $icongreen;
}
.green-icon {
  fill: $icongreen;
}



.blue-fg {
  color: $iconblue;
}
.blue-bg {
  background-color: $iconblue !important;
  border-color: $iconblue !important;
  color: white;
}

.blue-bd {
  border-color: $iconblue;
}
.blue-icon {
  fill: $iconblue;
}


.light-grey-bg {
  background-color: rgba(220, 220, 220, 0.5) !important;
  border-color: rgba(220, 220, 220, 0.5) !important;
}

.white-bg {
  background-color: white;
}

.white-fg {
  color: white;
  border-color: white;
}

.white-bd {
  border-color: white;
}


.white-icon-stroke {
  stroke: white;
  stroke-width: 2;
  fill: none;
}


.white-icon {
  fill: white;
}

.whitesmoke-bg {
  background-color: whitesmoke;
}

.purple-bd {
  border-color: $iconpurple;
}

.grey-bd {
  border-color: rgba(0,0,0,0.05);
}

.grey-border-thick {
  border: solid 3px rgba(0,0,0,0.05);
  border-radius: 3px;
}

.grey-icon {
  stroke: rgba(0,0,0,0.05);
  fill: rgba(0,0,0,0.05);
}

.white-icon {
  stroke: white;
  fill: white;
}


.primary-icon {
  stroke: $primary;
  fill: $primary;
}

.primary-fg {
  color: $primary;
}
.primary-bg {
  background-color: $primary !important;
  border-color: $primary !important;
  color: white;
}

.primary-bd {
  border-color: $primary;
}
