.navigation-menu-button {
  padding: 6px 5px 2px;
  border: none;
  background: none;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:focus {
		outline: 0;
	}
}

.main-menu {
  position: fixed;
  left: 0;
  //top: calc(4rem + 1px); this specified on tool
  //height: calc(100vh - 4rem - 1px); and this
  background-color: $accent;
  color: white;
  font-size: 1.1rem;
  width: 240px;
  padding-top: 10px;
  z-index: 100;
  transform: translateX(-102%);
  transition: all 0.4s ease-in-out;
  overflow-y: auto;

  &.on-screen {
    transform: translateX(0);
  }

  @include respond-to(small){
    width: 250px;
  }
}

.main-menu-subheader {
  padding: 8px 0 8px 15px;
  //font-weight: bold;
  text-align: left;
  display: flex;
  vertical-align: middle;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  font-weight: bold;
  &.disabled {
    opacity: 0.3;
  }
}

.main-menu-item {
  padding: 6px 2px 7px 12px;
  //font-weight: bold;
  cursor: pointer;
  text-align: left;
  display: flex;
  vertical-align: middle;
  align-items: center;
  align-content: center;
  justify-content: flex-start;

  &:hover {
    opacity: 0.9;
    background-color: $accentDarker;
  }

  &.disabled {
    opacity: 0.3;
    pointer-events: none;
    &:hover {
      opacity: 0.3;
      background-color: $accent;
    }
  }
}

.main-menu-icon {
  stroke: white;
  fill: white;
  height: 16px;
  width: 16px;
  margin: 0 8px;
}

.main-menu-divider {
  height: 1px;
  width: 90%;
  margin: 8px 5% 5px;
  background-color: white;
}

.main-menu-recent-tool-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: auto;

}

.main-menu-fadeout {
  position: fixed;
  left: 0;
  width: 100vw;
  z-index: 99;
  background-color: rgba(0,0,0,0.6);

}
