<div class='user-menu-gravatar-container' {{action 'toggleMenu'}}>
  {{shared/elements/gravatars/gravatar-with-default model=model ghosted=false size='small'}}
</div>

{{#if showUserMenu}}
  <div class='user-menu-arrow'>
  </div>
  <div class='user-menu-menu'>
    <div class='user-menu-item not-selectable flex-row-nowrap light-grey-bg'>
      <div class='pad5'>
        {{shared/elements/gravatars/gravatar-with-default model=model ghosted=false size='medium'}}
      </div>
      <div class='flex-column-nowrap flex-justify-centre flex-align-start pad5'>
        <div class='menu-user-details'>
          <b>{{model.name}}</b>
        </div>
        <div class='font-three-quarter'>
          {{model.email}}
        </div>

        <div class='pad5'>
          <a href='http://en.gravatar.com/emails/' target='_blank'>Change Gravatar</a>
        </div>
      </div>
    </div>
    <div class='user-menu-item' {{action 'launchSettings'}}>
      User Settings
    </div>
    {{yield}}
    <div class='user-menu-item' {{action 'logout'}}>
      {{#if loggingOut}}
        {{shared/elements/loading-circle}}
      {{else}}
        Logout
      {{/if}}
    </div>
  </div>
{{/if}}
