<div class='selectable' {{action 'toggleSelect'}}>
  {{#if value}}
    {{inline-svg thisType.svgPath class=class}}
  {{else}}
    {{inline-svg 'icons/question-mark' class=class}}
  {{/if}}
</div>
<div class='relative'>
  <div class='loan-type-select-dropdown-container {{if showSelect "in-focus"}}'>
    {{#each loanTypes as |type|}}
      <div class='loan-type-select-dropdown-component selectable' {{action 'selectType' type}}>
        <div class='s04 flex-justify-centre'>
          {{inline-svg type.svgPath class=class}}
        </div>
        <div class='s20 accent-darker-fg'>
          <h5>{{type.name}}</h5>
        </div>

      </div>

    {{else}}
      There are no loan types
    {{/each}}
  </div>

</div>
