.structure-component-donut-container {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  @include respond-to(small) {
    width: calc(100% / 24 * 8);
  };
}

.structure-component-donut {
  //width: 200px;
  //height: 160px;
  max-width: 80vw;
  max-height: 50vh;
}

.structure-component-row {
  cursor: pointer;
  padding: 5px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-bottom: 1px solid rgba(230, 230, 230, 0.5);

  &:hover {
    background-color: rgba(230, 230, 230, 0.5);
  }

}

.structure-component-row-colour-indicator {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-right: 5px;
}



.structure-bar-graph-column-container {
  height: 400px;
  display: flex;
  flex: 1 1 50%;
  flex-flow: column nowrap;

}
.structure-bar-graph-drag-container {
  height: 380px;
}

.structure-bar-graph-column {
  width: 90%;
  margin: 0% 5%;
  background-color: blue;
}

.structure-bar-graph-column-label {
  height: 20px;
  text-align: center;
  display: flex;
}





.structure-graphical-display-container {
  width: 100%;
  display: flex;
  padding: 10px;
}

.structure-graphical-display-segment {
  padding: 5px 2px;
  font-size: 0.5rem;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  @include easer(0.3s);

  &:hover {
    @include scale(1.3);
  }

  &.s0 {
    border-color: RGBA(245, 142, 88, 1.00);
    background-color: RGBA(254, 243, 238, 1.00);
    color: RGBA(245, 142, 88, 1.00);

  }
  &.s1 {
    border-color: RGBA(213, 52, 51, 1.00);
    background-color: RGBA(251, 234, 234, 1.00);
    color: RGBA(213, 52, 51, 1.00);

  }
  &.s2 {
    border-color: RGBA(24, 69, 119, 1.00);
    background-color: RGBA(231, 236, 241, 1.00);
    color: RGBA(24, 69, 119, 1.00);
  }
  &.s3 {
    border-color: RGBA(237, 214, 193, 1.00);
    background-color: RGBA(237, 214, 193, 0.10);
    color: RGBA(237, 214, 193, 1.00);
  }
  &.s4 {
    border-color: RGBA(185, 151, 197, 1.00);
    background-color: RGBA(248, 244, 249, 1.00);
    color: RGBA(185, 151, 197, 1.00);
  }
  &.s5 {
    border-color: RGBA(255, 204, 68, 1.00);
    background-color: RGBA(255, 250, 236, 1.00);
    color: RGBA(255, 204, 68, 1.00);
  }
  &.s6 {
    border-color: RGBA(138, 194, 171, 1.00);
    background-color: RGBA(243, 249, 247, 1.00);
    color: RGBA(138, 194, 171, 1.00);
  }
  &.s7 {
    border-color: RGBA(190, 215, 88, 1.00);
    background-color: RGBA(249, 251, 238, 1.00);
    color: RGBA(190, 215, 88, 1.00);
  }
  &.s8 {
    border-color: RGBA(25, 166, 141, 1.00);
    background-color: RGBA(231, 246, 243, 1.00);
    color: RGBA(25, 166, 141, 1.00);
  }
  &.s9 {
    border-color: RGBA(128, 183, 210, 1.00);
    background-color: RGBA(242, 248, 251, 1.00);
    color: RGBA(128, 183, 210, 1.00);
  }
}

.structure-graphical-display-add-button-container {
  padding: 5px;
}
