


<div class='s24 flex-row-nowrap flex-align-centre pad5'>
  <div class='s04 m03 l02 flex-justify-centre'>
    {{#if multiSelect}}

        {{#if isSelected}}
          {{inline-svg 'icons/check-circle-checked' class='svg-small-medium'}}
        {{else}}
          {{inline-svg 'icons/check-circle-unchecked' class='svg-small-medium'}}
        {{/if}}
    {{else}}
        {{gravatar-image email=model.primaryEmail.contact defaultImage='mm' class='gravatar-small circle' secure=true}}
    {{/if}}
  </div>


  <div class='s19 m12 l09 text-start flex-shrink-grow'>
    <label class='pad5'>{{model.fullName}}</label>
  </div>
  {{#if showPhone}}
    <div class='s00 m00 l05'>
      {{model.primaryPhone.contact}}
    </div>
  {{/if}}
  {{#if showEmail}}
    <div class='s00 m09 l08 flex-justify-end'>
      <a href="mailto:{{model.primaryEmail.contact}}">
      {{model.primaryEmail.contact}}
      </a>
    </div>
  {{/if}}
  {{#if showOwner}}
    <div class='s00 m03 l02 flex-justify-end'>
      {{shared/elements/gravatars/gravatar-with-default model=model.owner size='small'}}
    </div>
  {{/if}}

</div>
