<div class='s24 presentation-container flex-column-nowrap flex-align-centre'>
<!--  Title Bar -->
  {{#if title}}
    {{shared/tools/segments/tool-title-bar title=title backTitle=backTitle backAttribute=backAttribute closeAttribute=closeAttribute}}
  {{/if}}

  <div class='s24 m20 flex-column-small-row-medium flex-align-centre flex-justify-space-around pad5 flex-shrink-grow'>

    <div class='s24 m08 flex-column-nowrap flex-align-centre'>
      {{#shared/buttons/svg-circle-button hasBorder=true iconName='person' searchButton=true displayLabel=true altClasses='accent-darker-bd accent-darker-icon'  onClick=(action 'searchClient')}}
          find client
      {{/shared/buttons/svg-circle-button}}
      <div class='font-three-quarter'>
        Search for an existing client
      </div>

    </div>


    <div class='s24 m08 flex-column-nowrap flex-align-centre'>
      {{#shared/buttons/svg-circle-button hasBorder=true iconName='person' addButton=true displayLabel=true altClasses='accent-darker-bd accent-darker-icon'  onClick=(action 'addClient')}}
          create client
      {{/shared/buttons/svg-circle-button}}
      <div class='font-three-quarter'>
        Create a new client record
      </div>

    </div>

  </div>



  {{#shared/tools/segments/tool-presentation-object show=createClient}}
    {{shared/views/clients/new/add-client action='addNewClient' hideRelationshipOwner=hideRelationshipOwner hidePreferredName=hidePreferredName backAttribute=createClient backTitle='options' closeAttribute=closeAttribute title="New Client"}}
  {{/shared/tools/segments/tool-presentation-object}}

  {{#shared/tools/segments/tool-presentation-object show=findClient}}
    {{shared/views/clients/search/client-search hideCreateButton=hideCreateButton multiSelect=multiSelect title='Find Client(s)' hasEmailFilter=hasEmailFilter backAttribute=findClient backTitle='options' closeAttribute=closeAttribute action='selectClients' continueButtonTitle='continue' hidePreferredName=true hideRelationshipOwner=true}}
  {{/shared/tools/segments/tool-presentation-object}}



</div>

{{yield}}
