
<!--  Title Bar -->
{{#if title}}
  {{shared/tools/segments/tool-title-bar title=title backTitle=backTitle backAttribute=backAttribute closeAttribute=closeAttribute}}
{{/if}}

<div class='s24 flex-column-nowrap flex-align-centre pad5 flex-shrink-grow'>


<!--  The flippable search-by-name or search-by-tag -->
  <div class='shared-client-search-search-flip-type-outer-container'>

    <div class='shared-client-search-search-flip-type-inner-container {{if searchByTag "flipped"}}'>
      <div class='shared-client-search-search-bar front {{if searchByName "in-focus"}}'>
        <div class='shared-client-search-input-container'>
          {{input type="text" value=q placeholder="Search by name..." name='clientSearchInput' class="shared-client-search-search-input"}}
          {{#if filtering}}
            {{inline-svg "icons/loader-circles" class='svg-medium loading shared-client-search-filtering'}}
          {{/if}}
        </div>
        <button class='square-button accent-darker-bg shared-client-search-alt-search-button' {{action 'toggleSearchType'}}>or tag</button>
      </div>

      <div class='shared-client-search-search-bar back {{if searchByTag "in-focus"}}'>
        <div class='shared-client-search-input-container'>
          {{input type="text" value=newTag placeholder="Search by tag(s).." class="shared-client-search-search-input"}}
          {{#if filtering}}
            {{inline-svg "icons/loader-circles" class='svg-medium loading shared-client-search-filtering'}}
          {{/if}}

        </div>
        <button class='square-button accent-darker-bg shared-client-search-alt-search-button' {{action 'toggleSearchType'}}>or name</button>
      </div>
    </div>
  </div>


  <!-- tag matches - outside container above so doesn't fall behind client search results -->
  <div class='s24 relative'>
    {{#if searchByTag}}
    <div class='shared-client-search-tag-match-container {{if showServerTagMatches "in-focus"}}'>
      {{#each possibleNewTagMatches as |match|}}
        <div class='shared-client-search-tag-add-tag-server-match' {{action 'addTagToSearchArray' match.name}}>
          {{match.name}}
        </div>
      {{else}}
        {{#unless filtering}}
          {{#if validNewTag}}
            <div class='shared-client-search-tag-add-tag-server-match' >
              <i class=red-fg>no tags contain {{newTag}}</i>
            </div>
          {{/if}}
        {{/unless}}
      {{/each}}
    </div>
    {{/if}}
  </div>



<!--  'This Many Clients Selected' line above resultsArray-->
{{#if multiSelect}}
  <div class='s24 flex-row-nowrap flex-justify-space-between pad5'>
    <div class='accent-darkest-fg selectable' {{action 'viewSelected'}}>{{clientArray.length}} clients selected</div>
    <div class='accent-darkest-fg selectable' {{action 'toggleSelectAll'}}>{{#if allSelected}}un{{/if}}select all</div>
  </div>
{{/if}}


<!--  Search results  -->
<div class='shared-client-search-results-container'>
  {{#unless hideInstructions}}
    <div class='s24 spacer'>
    </div>
    <div class='s24 flex-row-nowrap flex-justify-centre pad5'>
      <i>Start typing a name (or select a tag) above to begin client search</i>
    </div>
  {{/unless}}
  <div class='s24 absolute'>
    {{#each sortedFilteredClients as |client|}}
      {{shared/views/clients/search/client-search-table-row model=client multiSelect=multiSelect clientArray=clientArray showPhone=showPhone showEmail=showEmail click=(action 'selectClient' client)}}
    {{else}}
      <div class='spacer'>
      </div>
      {{#if showNoResults}}
        <div class='pad5 text-centre'>
          <i>No results</i>{{#unless hideCreateButton}}<span class='label-looking-link' {{action 'addClient'}}>- Add Client?</span>{{/unless}}
        </div>
      {{/if}}

    {{/each}}
  </div>

</div>


<!--  Add Client Button (component at bottom) and Continue Button when using multiSelect-->
<div class='s24 flex-justify-space-between'>
  {{#unless hideCreateButton}}
    <button class='square-button accent-darker-bg' {{action 'addClient'}}>create new client</button>
  {{else}}
    <div class='s01 spacer'>
    </div>
  {{/unless}}
  {{#if multiSelectContinue}}
    <button class='square-button accent-darker-bg' {{action 'multiSelectContinue'}}>{{continueButtonTitle}}</button>
  {{/if}}
</div>

<div class='s24 spacer pad5'> <!-- Spacer so tag search bar appears over blank space -->
</div>

<!--  Tags use for search appear at bottom of screen  -->
<div class='shared-client-search-tag-search-array-container {{if searchByTag "in-focus"}}'>
  Search tags:
  {{#each searchTags as |tag|}}
    {{shared/views/tags/coloured-tag tag=tag canRemove=true action='removeTagFromSearchArray'}}

  {{/each}}
</div>


<!--  Add client component can be called - pops over the search screen  -->
{{#if addClient}}
  <div class='presentation-inner-object'>
    {{#shared/tools/tools-popover-tool-container  size='small' closeAttribute=addClient}}
      {{shared/views/clients/new/add-client title='New Client' closeAttribute=addClient onAddClient=(action 'selectNewClient')  hideRelationshipOwner=hideRelationshipOwner hidePreferredName=hidePreferredName checkForMatches=true}}
    {{/shared/tools/tools-popover-tool-container}}
  </div>

{{/if}}



</div>
{{yield}}
