.whole-screen-loading-blackout-container{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 9999999;
}


.delete-confirm-popover {
  width: 300px;
  height: 250px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  background-color: white;
}



//for swiper elements
.swiper-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  overflow-y: auto;
}

.swiper-container {
  position: relative;
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  overflow-y: auto;
}

.swiper-page {
  position: absolute;
  width: 100%;
  top: 0;//50%;
  //transform: translateY(-50%);
  left: 100vw;
  display: flex;
  flex-flow: column nowrap;
  padding: 10px 5px;
  background-color: white;
  @include easer(0.4s);

  &.past {
    left: -100vw;
  }

  &.selected {
    left: 0%;
  }
}



.swiper-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  padding: 5px;
}

.swiper-footer-dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 10px;
  background-color: rgba(200, 200, 200, 1);
  cursor: pointer;

  &.selected {
    background-color: $accentDarker;
  }

  &:hover {
    opacity: 0.8;
  }

}
