
      <div class='s24 flex-row-nowrap flex-shrink-grow'>
        <div class='s02 flex-column-nowrap flex-justify-centre flex-align-centre'>
          {{#if (gt selectedIndex 0)}}
            <div class='cursor-pointer hover-opaque' {{action 'navigate' -1}}>
              {{inline-svg 'icons/table-arrow-back' class='svg-small accent-darker-icon'}}
            </div>
          {{/if}}
        </div>
          <div class='swiper-container'>
            {{yield}}
          </div>


        <div class='s02 flex-column-nowrap flex-justify-centre flex-align-centre'>
          {{#if (lt selectedIndex lastIndex)}}
            <div class='cursor-pointer hover-opaque' {{action 'navigate' 1}}>
              {{inline-svg 'icons/table-arrow-fwd' class='svg-small accent-darker-icon'}}
            </div>
          {{/if}}
        </div>
      </div>
