{{#each model as |item index|}}
  {{#if (eq index selectedIndex)}}
    <div class='swiper-footer-dot selected'>
    </div>
  {{else}}
    <div class='swiper-footer-dot' {{action 'selectIndex' index}}>
    </div>
  {{/if}}
{{/each}}
