.rates-table-scroll-container {
  width: 100%;
  overflow-x: auto;
}

.pricing-offer-single-line{
  min-width: 100%;
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-flow: row nowrap;
}

.pricing-offer-single-line-bank-icon {
  min-width: 40px;
  padding: 2px 5px;
}


.pricing-offer-single-line-currency-cell {
  min-width: 55px;
  text-align: center;
  justify-content: center;
  display: flex;
  @include respond-to(small) {
    min-width: 85px;
  };
}

.pricing-offer-single-line-rate-cell {
  min-width: 40px;
  text-align: center;
  justify-content: center;
  display: flex;
  @include respond-to(small) {
    min-width: 55px;
  };
}
