

.shared-client-search-search-flip-type-outer-container {
  background-color: transparent;
  height: 50px;
  position: relative;
  margin-bottom: 0.5rem;
  perspective: 500px;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  width: 100%;

  @include flexbox();
  @include flex-flow(row nowrap);
}

.shared-client-search-search-flip-type-inner-container {
  height: 50px;
  position: absolute;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  z-index: 5;
  width: 100%;

  @include respond-to(small) {
    height: 50px
  };

  &.flipped {
    transform: rotateX( 180deg );
    -webkit-transform: rotateX( 180deg );
    -moz-transform: rotateX( 180deg );
  };
}

.shared-client-search-search-bar {
  backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  position: absolute;
  width: 100%;
  @include flexbox();
  @include justify-content(center);
  @include flex-flow(row nowrap);

  @include respond-to(small) {
    @include flex-flow(row nowrap);
  };

  &.front {
    transform: rotateX( 0deg );
  	-webkit-transform: rotateX( 0deg );
  	-moz-transform: rotateX( 0deg );
  }

  &.back {
    transform: rotateX( 180deg );
  	-webkit-transform: rotateX( 180deg );
  	-moz-transform: rotateX( 180deg );
  }


}

.shared-client-search-input-container {
  width: 100%;
  position: relative;
  @include flexbox();
  @include flex-flow(row nowrap)

}





.shared-client-search-search-input {
  //max-width: 600px;
  margin: 5px 0;
  height: 40px;
  padding: 0 8px;
  width: auto;
  border: 1px solid rgba(220, 220, 220, 0.5);
	border-radius: 3px;
  font-size: 1rem;
  color: $primary;
  @include flexbox;
  @include flex(1 0 auto);
  //width: 95%;
}

.shared-client-search-filtering {
  position: absolute;
  top: 0.75rem;
  right: 1.5rem;
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.shared-client-search-alt-search-button {
  //width: 180px;
  //max-width: 180px;
  margin: 5px;
  @include flexbox();
  @include flex(0 0 auto);
}

.shared-client-search-tag-match-container {
  z-index: 10;
  position: absolute;
  left: 5px;
  top: -0.8rem;
  background-color: white;
}

.shared-client-search-results-container {
  width: 100%;
  min-height: 5rem;
  border: 3px solid rgba(220, 220, 220, 0.5);
  background-color: white;
  border-radius: 3px;
  overflow-y: auto;
  position: relative;
  @include flexbox();
  @include flex(1 0 auto);
  @include align-content(center);
  @include align-items(center);
  @include flex-flow(column nowrap);
  @include justify-content(flex-start);

}



.shared-client-search-result {
  //border-bottom: 1px solid rgba(236,236,236,1);
  padding:12px;
  width:100%;
  cursor: pointer;
  @include flexbox();
  @include align-content(center);
  @include align-items(center);
  @include flex-flow(column nowrap);
  @include justify-content(flex-start);

  @include respond-to(small) {
    @include flex-flow(row nowrap);
  };

  &:hover{
    //background-color: rgba(0,0,0,0.5);
    background-color: RGBA(151, 217, 236, 0.3);
    //color: $accentDarkest;
    color: RGBA(41, 41, 41, 1.00);
  }
}

.shared-client-search-result-name-icon-container{
  @include flexbox();
  @include align-content(center);
  @include align-items(center);
  @include justify-content(center);

  @include respond-to(small) {
    @include justify-content(flex-start);
    @include flex(1 0 auto);
  }
  @include respond-to(medium) {
    @include flex(1 0 auto);
  }
}


.shared-client-search-result-icon {
  display:none;

  @include respond-to(small) {
    width: 40px;
    @include flexbox();
    @include align-content(center);
    @include align-items(center);
    @include justify-content(flex-start);
    @include flex(0 0 auto);
  }
}


.shared-client-search-result-name {
  @include flexbox();
  @include align-content(center);
  @include align-items(center);
  @include justify-content(flex-start);
  @include flex(1 0 85%);
}

.shared-client-search-result-email-phone {
  @include flexbox();
  @include align-content(center);
  @include align-items(center);
  @include justify-content(center);
  //@include flex(1 0 100%);

  @include respond-to(small) {
    width: 20%;
    @include justify-content(flex-end);
    @include flex(0 0 auto);

    &.email {
      width: 40%;
      @include respond-to(medium) {
        width: 30%;
      }
    }
  }

}

.shared-client-search-result-occupation{
  display: none;
  @include respond-to(medium) {
    @include justify-content(flex-end);
    @include flex(1 0 20%);
  }
}

.shared-client-search-tag-add-tag-server-match {
  border: 1px solid rgba(220, 220, 220, 0.5);
  background-color: white;
  cursor: pointer;
  margin-bottom: -1px;
  width: 250px;
  padding: 3px;
  height: 2rem;
  @include flexbox();
  @include align-content(center);
  @include align-items(center);

  &:hover {
    background-color: rgba(220, 220, 220, 0.5);
  }
}


.shared-client-search-tag-search-array-container {
  height: auto;
  padding: 2px 5px;
  font-size: 0.75rem;
  position: fixed;
  bottom: -10vh;
  left: 0px;
  width: 100vw;
  background-color: white;
  border-top: 1px solid #66C2DC;
  color: #66C2DC;
  transition: 0.4s ease-in-out;
  @include boxShadow();
  @include flexbox();
  @include flex-flow(row wrap);
  @include justify-content(flex-start);
  @include align-items(center);
  @include align-content(center);

  &.in-focus {
    bottom: 0px;
  }
}
