



.tutorial-release-popover-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 9999999;
}

.tutorial-release-popover {
  width: 99vw;
  height: 99vh;
  max-width: 600px;
  max-height: 600px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  background-color: white;

}



.tutorial-release-header {
  width: 100%;
  display: flex;
  font-size: 1.5rem;
  background-color: $accentDarker;
  color: white;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
}

.tutorial-release-popover-close {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  &:hover {
    opacity: 0.9
  }
}


.tutorial-releases-swiper-container {
  width: 100%;
  height: 400px;
  max-height: 65vh;
}


.tutorial-release-page-header {
  width: 100%;
  font-size: 1.2rem;
  color: $accentDarker;
  text-align: center;
  padding: 10px 5px;
}

.tutorial-release-page-brief {
  width: 100%;
  display: flex;

  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  //align-content: center;
}

.tutorial-release-page-image-container {
  width: 100%;
  height: 200px;
  max-height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.tutorial-release-page-image {
  height: 170px;
  max-height: 33vh;
  //width: 150px;
}

.tutorial-release-page-brief-text {
  width: 95%;
  max-width: 950px;
  text-align: center;
  padding: 10px 5px;


}

.tutorial-release-page-help-link {
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
}
