.change-date-hidden-input {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  &:focus {
    z-index: -1;
  }
}


.loan-type-selector-item {
  display: flex;
  flex: 1 1 100%;
  padding: 10px;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-flow: column nowrap;
  opacity: 0.3;
  cursor: pointer;

  &.selected {
    opacity: 1;
  }
}


.utilities-button-container {
  position: fixed;
  right: 5px;
  bottom: 5px;
  height: 35px;
  border-radius: 18px;
  border: 3px solid rgba(242, 242, 242, 1);
  background-color: white;
  z-index: 100;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  @include boxShadow();
}

.utilities-icon {
  width: 29px;
  max-width: 29px;
  height: 29px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  opacity: 1;
  @include easer(0.4s);

  &.closed {
    width: 0px;
    max-width: 0px;
    opacity: 0;
  }
}
