{{gravatar-image email=userEmail defaultImage='blank' class='contact-avatar' secure=true  title=title}}
{{#if model.name}}
  <div class='contact-avatar default' style={{defaultColour}} title=title>
    <div class='contact-avatar-labels'>
      <div class='contact-avatar-initials {{size}}'><b>{{initials}}</b></div>
      {{#if showName}}
        <div class='font-three-quarter'>
          {{model.name}}
        </div>
      {{/if}}
    </div>
  </div>
{{else}}
  {{inline-svg 'icons/person' class='contact-avatar default white-icon'}}
{{/if}}
{{#if showLabel}}
  <span class='gravatar-name-label'>{{displayName}}</span>
{{/if}}
