{{#each model as |person|}}
  <div class='ownership-gravatar-single-container'>
    {{shared/elements/gravatars/ownership-gravatar-single isClient=isClient model=person selectedArray=selectedArray size='small'}}
  </div>
{{else}}
  There are no owners
{{/each}}
