<div class='s24 presentation-container flex-column-nowrap flex-align-centre'>

<!--  Title Bar -->
  {{!shared/tools/segments/tool-title-bar title='Add Related Client' closeAttribute=closeAttribute backAttribute=backAttribute backTitle=backTitle}}
  {{shared/views/clients/search/client-search action='linkClient' showPhone=false showEmail=false hasEmailFilter=false title='Select Related Client' closeAttribute=closeAttribute}}

  <div class='s24 spacer'>
  </div>
  <div class='s24 spacer'>
  </div>

  <!--  Set the relationship type -->
  <div class='s24 presentation-object flex-column-nowrap flex-align-centre flex-justify-start white-bg {{unless selectRelationshipType "off-right"}}'>
    {{shared/tools/segments/tool-title-bar title='Relationship Type' closeAttribute=closeAttribute backAttribute=selectRelationshipType backTitle='select client'}}
    <div class='s24 spacer'>
    </div>

    <div class='s23 text-centre pad5'>
      Please specify the relationship type
    </div>
    <div class='s23'>
      {{shared/inputs/element-select listName='relationshipType' value=relationship placeholder='relationship' helpMessage='Select a relationship between the two clients'}}
    </div>
    <div class='s24 spacer'>
    </div>
    <div class='s23 flex-row-wrap flex-justify-space-around'>
      <div class='s12 text-centre'>
        {{model.fullName}}<br/>
        <i>{{relationship.left}}</i>

      </div>

      <div class='s12 text-centre'>
        {{linkedClient.fullName}}<br/>
       <i>{{relationship.right}}</i>
      </div>
    </div>
    <div class='spacer'>
    </div>
    <div class='s24 flex-justify-centre'>
      {{#shared/buttons/svg-circle-button hasBorder=true iconName='save' displayLabel=true hideUntilValid=true unhideAttribute=relationship altClasses='green-bd' loading=isSaving onClick=(action 'createRelationship')}}
          save relationship
      {{/shared/buttons/svg-circle-button}}

    </div>
    <div class='spacer'>
    </div>

  </div>

</div>
