<div class='element-table-row-display {{unless showDisplayRow "in-edit-mode"}}'  {{action 'toggleViewOptions'}}>
  <div class='element-table-row-element s12'>
    <label class='hover-underline' {{action 'viewClient'}}>{{relatedClient.fullName}}</label>
  </div>

  <div class='element-table-row-element s12 flex-justify-end'>
    <i>{{relatedClientType}}</i>
  </div>

</div>


<div class='element-table-row-edit  {{if showEditRow "in-edit-mode"}} '>
  <div class='element-table-row-element s24 m12'>
    {{shared/inputs/element-select value=model.relationshipType listName='relationshipType' placeholder='relationship type'}}
  </div>
</div>

<div class='element-table-row-options {{if showOptions "in-focus"}}'>
  {{shared/assemblies/edit-save-delete model=model modelName='asset' edit=inEditMode}}

</div>
