<div class='s24 presentation-container flex-column-nowrap flex-align-centre'>

<!--  Title Bar -->
  {{shared/tools/segments/tool-title-bar title=title closeAttribute=closeAttribute backTitle=backTitle backAttribute=backAttribute}}
  <div class='s24 spacer'>
  </div>
  <div class='s23 flex-justify-cente text-centre pad5 font-three-quarter'>
    <i>Select the primary and secondary (if applicable) owners of this loan application below, and how the adviser-apportioned commission will be split. <br/>
      Firm commission retention will be calculated automatically based on each user's commission retention rate</i>
  </div>
  <div class='s24 spacer'>
  </div>

  {{#if gettingUserInfo}}
    <div class='s24 spacer'>
    </div>
    <div class='s24 flex-justify-centre text-centre pad5'>
      {{shared/elements/loading-circle loading=gettingUserInfo}}
    </div>
    <div class='s24 flex-justify-centre text-centre font-three-quarter'>
      getting users from database..
    </div>
    <div class='s24 spacer'>
    </div>
  {{else}}

<!--  Ownership Breakdown -->
    <div class='s23 grey-bordered-white-box-flat flex-row-wrap'>
      <div class='s04 spacer'>
      </div>
      <div class='s14'>
        {{shared/inputs/element-select optionsList=firmUsers value=model.owner placeholder='primary owner' helpMessage="Select the adviser with primary ownership of this loan application"}}
      </div>
      <div class='s06'>
        {{shared/labels/label-with-placeholder-option value=ownerPercentage placeholder='commission share' inputSize=true percent=true helpMessage='The percentage of the adviser-apportioned commission the secondary owner is entitled to'}}
      </div>
      {{#if showSecondOwner}}
        <div class='s04 flex-row-nowrap flex-align-centre'>
          {{shared/buttons/element-delete-button action='removeSecondOwner'}}
        </div>
        <div class='s14'>
          {{shared/inputs/element-select optionsList=firmUsers value=model.secondaryOwner placeholder='secondary owner' helpMessage="Select the adviser with primary ownership of this loan application"}}
        </div>
        <div class='s06'>
          {{shared/inputs/element-percentfield value=model.secondaryPercentage placeholder='commission share' helpMessage='The percentage of the adviser-apportioned commission the secondary owner is entitled to'}}
        </div>
      {{/if}}
    </div>
  {{/if}}

  <div class='s24 spacer'>
  </div>

  <div class='s24 spacer'>
  </div>


  <!-- save buttons -->
    <div class='s23 flex-row-nowrap flex-justify-space-around pad5'>
      <div class='s00 m02 spacer'>
      </div>
      {{#unless showSecondOwner}}
        {{#shared/buttons/svg-circle-button hasBorder=true iconName='person' addButton=true displayLabel=true altClasses='accent-darker-bd'  onClick=(action 'addSecondOwner')}}
            add owner
        {{/shared/buttons/svg-circle-button}}
      {{/unless}}
      <!--
      {{#shared/buttons/svg-circle-button hasBorder=true iconName='save' displayLabel=true altClasses='green-bd' loading=isSaving onClick=(action 'save')}}
          save
      {{/shared/buttons/svg-circle-button}}
    -->
      <div class='s00 m02 spacer'>
      </div>
    </div>



  <div class='s24 spacer'>
  </div>
  <!--button class='square-button accent-darker-bg'{{action 'continue'}}>continue</button-->
</div>
