
    <div class='presentation-object-inner s24 flex-column-nowrap'>
      <div class='s24 presentation-container flex-column-nowrap flex-align-centre'>

      <!--  Title Bar -->
        {{shared/tools/segments/tool-title-bar title='Settlement(s)' closeAttribute=closeAttribute backTitle=backTitle backAttribute=backAttribute}}
      <div class='s24 spacer'>
      </div>
      <!-- Instructions -->
      <div class='s23 pad5 flex-justify-centre text-centre font-three-quarter'>
        <i>You can add one or more settlements per application below.  Click a settlement to view its details</i>
      </div>
      <div class='s24 spacer'>
      </div>

      <!-- Existing Settlements  -->
      <div class='shared-client-search-results-container s23 relative'>
        <div class='s24 absolute flex-column-nowrap'>
          {{#each sortedSettlements as |settlement|}}
            <div class='element-table-row' {{action 'showSettlement' settlement bubbles=false}}>
              <div class='element-table-row-display'>
                <div class='s04 flex-row-nowrap flex-align-centre'>
                  {{#unless settlement.isSettled}}
                    {{shared/buttons/element-delete-button action=(action 'removeSettlement' settlement bubbles=false)}}
                  {{/unless}}
                </div>
                <div class='s12'>
                  {{shared/labels/label-with-placeholder-option value=settlement.settlementDate date=true}}
                </div>
                <div class='s06'>
                  {{shared/labels/label-with-placeholder-option value=settlement.settlementValue currency=true}}
                </div>
                <div class='s02 flex-justify-end flex-align-centre'>
                  {{inline-svg 'icons/table-arrow-fwd' class='svg-small master-detail-fwd'}}
                </div>
              </div>
            </div>


          {{else}}
            <i class='s24 text-centre font-three-quarter pad5'>
              No settlements.  Use the button below to add settlement(s)
            </i>



          {{/each}}
          <div class='s24 spacer pack10'>

          </div>
        </div>
      </div>



      <!-- add settlement button -->
        <div class='s23 flex-row-nowrap flex-justify-space-around pad5'>
          <div class='s00 m02 spacer'>
          </div>
          {{#shared/buttons/svg-circle-button hasBorder=true iconName='settlement' addButton=true loading=addingSettlement displayLabel=true altClasses='accent-darker-bd' onClick=(action 'addSettlement')}}
              add settlement
          {{/shared/buttons/svg-circle-button}}
          <div class='s00 m02 spacer'>
          </div>
        </div>


        <!-- View Settlement  -->
          {{#shared/tools/segments/tool-presentation-object show=showSettlement}}
            {{shared/views/loan-applications/settlements/single-settlement-view title='Settlement' backAttribute=showSettlement backTitle='settlements' closeAttribute=closeAttribute settlement=selectedSettlement}}
          {{/shared/tools/segments/tool-presentation-object}}




      </div>

    </div>
