<div class='s24 presentation-container flex-column-nowrap flex-align-centre'>

<!--  Title Bar -->
  {{shared/tools/segments/tool-title-bar title=title closeAttribute=closeAttribute backTitle=backTitle backAttribute=backAttribute}}
  <div class='s24 spacer'>
  </div>
  <div class='s23 flex-justify-cente text-centre pad5 font-three-quarter'>
    <i>Record the details of this security, forming part of overall settlement structure</i>
  </div>
  <div class='s24 spacer'>
  </div>
  <div class='s23 flex-row-wrap'>
    <div class='element-table-row-element s24 m16'>
      {{shared/inputs/address-input-with-lookup address=model.address placeholder='address' helpMessage='The address of the security. If this is yet to be confirmed, record "TBC" in the street address'}}
    </div>
    <div class='element-table-row-element s24 m08'>
      {{shared/inputs/element-select value=model.securityType placeholder='type' listName='securityType' }}
    </div>
    <div class='element-table-row-element s12 m08'>
      {{shared/inputs/element-select value=model.securityUseType placeholder='purpose' listName='securityUseType' }}
    </div>
    <div class='element-table-row-element s12 m08'>
      {{shared/inputs/element-select value=model.securityOwnershipType placeholder='ownership' listName='securityOwnershipType'  helpMessage='Is/Will the security be owned personally, or in a trust/company'}}
    </div>
    <div class='element-table-row-element s24 m08'>
      {{shared/inputs/element-currencyfield value=model.value placeholder='value' helpMessage='Value may need to be supported by an independent valuation or sale and purchase agreement'}}
    </div>
  </div>
  <!--
  <div class='s24 spacer'>

  </div>
  {{#shared/buttons/svg-circle-button hasBorder=true iconName='save' displayLabel=true altClasses='green-bd' loading=isSaving onClick=(action 'save')}}
      save
  {{/shared/buttons/svg-circle-button}}
-->
</div>
