<div class='s24 presentation-container flex-column-nowrap flex-align-centre'>

<!--  Title Bar -->
  {{shared/tools/segments/tool-title-bar title=title closeAttribute=closeAttribute backTitle=backTitle backAttribute=backAttribute}}
  <div class='s24 spacer'>
  </div>
  <div class='s23 flex-justify-centre text-centre pad5 font-three-quarter'>
    <i>Record the details of this loan, forming part of overall settlement structure</i>
  </div>
  <div class='s24 spacer'>
  </div>


<!--  Settlement Loan Details  -->
  <div class='s23 flex-row-wrap'>
  <!--  Type, amount  -->
    <div class='s12'>
      {{shared/inputs/element-select optionsList=loanTypes value=model.liabilityType placeholder='loan type' helpMessage="Select a loan type"}}
    </div>
    <div class='s12'>
      {{shared/inputs/element-currencyfield value=model.limitAfterDrawDown placeholder='loan amount' helpMessage='The limit or balance of the new loan'}}
    </div>


  <!--  Term, rate, fixed rate term-->
    <div class='s12 m06'>
      {{shared/inputs/element-termfield value=model.remainingMonths placeholder='term' helpMessage='The term of the new loan'}}
    </div>
    <div class='s12 m06'>
      {{shared/inputs/element-percentfield value=model.interestRate placeholder='rate' helpMessage="The interest rate"}}
    </div>
    <div class='s12 m06'>
      {{#if model.requiresFixedTermExpiry}}
      {{shared/inputs/element-termfield value=model.fixedRateMonths placeholder='fixed int period' helpMessage='The fixed interest period'}}
      {{/if}}
    </div>
    {{#unless isRevolvingCredit}}
      <div class='s12 m06'>
        {{shared/inputs/element-termfield value=model.interestOnlyMonths placeholder='interest only period' helpMessage='The period payments will be interest only. If indefinite, record the term of the loan'}}
      </div>
    {{/unless}}



  <!-- payment details -->
    {{#unless isRevolvingCredit}}
      <div class='s12 m08'>
        {{shared/inputs/element-select optionsList=paymentFrequencies value=model.frequency placeholder='payment frequency' helpMessage="The repayment frequency"}}
      </div>

      <div class='s12 m08'>
        {{shared/inputs/element-datefield value=model.repaymentStartDate placeholder='first payment date' yearRange='0,10' helpMessage='The date first payment will be made'}}
      </div>
      <div class='s12 m08'>
        {{shared/labels/label-with-placeholder-option value=model.estimatedRepayment placeholder='estimated payment' inputSize=true currency=true}}
      </div>
    {{/unless}}

  <!-- commission rate -->
    <div class='s24 spacer'>
    </div>
    <div class='s24 m12'>
      {{shared/inputs/element-select optionsList=commissionRates value=model.commissionRate placeholder='commission rate' helpMessage="The commission rate that applies to this loan"}}
    </div>
  </div>


  <div class='s24 spacer'>
  </div>
  <div class='s23 row-divide'>
  </div>
  <div class='s24 spacer'>
  </div>
  <div class='s12 m08'>
  </div>

  <!-- Commission Breakdown per recipient  -->
  <div class='s23 flex-justify-centre text-centre'>
    Commission Breakdown
  </div>




  <!--commission breakdown  -->
  <div class='grey-bordered-white-box-flat s23 relative'>
    {{#if commissionsRequireUpdating}}
      <div class='commission-fade-over flex-column-nowrap'>
        {{#shared/buttons/button-loading-replacement loadingAttribute=isSaving}}
          <button class='square-button accent-darker-bg' {{action 'save'}}>update commissions</button>
        {{/shared/buttons/button-loading-replacement}}
      </div>

    {{/if}}


    <div class='s24 flex-column-nowrap'>
      <div class='s24 flex-row-nowrap pad5'>
        <div class='s12'>
          Firm
        </div>
        <div class='s12 flex-justify-end text-end'>
          {{format-currency firmCommSplit true}}
        </div>
      </div>
      <div class='s24 flex-row-nowrap pad5'>
        <div class='s12'>
          {{model.settlement.loanApplication.owner.name}}
        </div>
        <div class='s12 flex-justify-end text-end'>
          {{format-currency ownerCommSplit true}}
        </div>
      </div>
      {{#if model.settlement.loanApplication.secondaryPercentage}}
        <div class='s24 flex-row-nowrap pad5'>
          <div class='s12'>
            {{model.settlement.loanApplication.secondaryOwner.name}}
          </div>
          <div class='s12 flex-justify-end text-end'>
            {{format-currency secondaryOwnerCommSplit true}}
          </div>
        </div>
      {{/if}}
      <!--
      {{#each model.commissions as |split|}}
        {{shared/views/loan-applications/settlements/settlement-commission-split-view  model=split commission=model settlement=model.settlement}}
      {{else}}
        <div class='s24 text-centre flex-justify-centre pad5'>
          <i>No Commissions</i>
        </div>
      {{/each}}
    -->
    </div>
  </div>
  <div class='s23 flex-justify-end text-end pad5'>total: {{format-currency model.totalCommission true}}</div>
  <div class='s23 spacer flex-shrink-grow'>
    <div class='s24 flex-justify-cente text-centre pad5 font-three-quarter'>
      <i>Commission breakdown is based on the application ownership and the firm's commission retention rate for each owner <br/>
      <br/>
      {{#if model.totalTrailCommission}}
        Trail Commission is shown as an estimated lifetime value of trail, based on amortising the loan using the details provided above.
      {{/if}}
      </i>
    </div>
    <!-- packer to push the button to the bottom -->
  </div>

  <!-- save buttons -->
  <!--
    <div class='s23 flex-row-nowrap flex-justify-space-around pad5'>
      <div class='s00 m02 spacer'>
      </div>

      {{#shared/buttons/svg-circle-button hasBorder=true iconName='save' displayLabel=true altClasses='green-bd' loading=isSaving onClick=(action 'save')}}
          save
      {{/shared/buttons/svg-circle-button}}

      <div class='s00 m02 spacer'>
      </div>
    </div>
  -->




  <!-- View Commission  -->
    {{#shared/tools/segments/tool-presentation-object show=showCommission}}
      {{shared/views/loan-applications/settlements/settlement-commission model=selectedCommission title='Commission' backAttribute=showCommission backTitle='settlement loan' closeAttribute=closeAttribute}}
    {{/shared/tools/segments/tool-presentation-object}}



  <div class='s24 spacer'>
  </div>
  <!--button class='square-button accent-darker-bg'{{action 'continue'}}>continue</button-->
</div>
