<!--div class='element-table-row'>
  <div class='element-table-row-display'-->
  <div class='s24 flex-row-wrap'>


    <div class='s03 m02 flex-row-nowrap flex-align-centre flex-justify-centre pad5' {{action 'removeSplit' settlementLoan}}>
      {{inline-svg 'icons/remove' class='svg-small hover-opaque selectable'}}
    </div>
    <div class='s09 s10'>
      {{#if model.firm}}
        {{shared/labels/label-with-placeholder-option value=model.firm.name placeholder='firm' inputSize=true}}
      {{else}}
        {{shared/inputs/element-select optionsList=firmUsers value=model.user placeholder='adviser' helpMessage="The adviser that will receive this portion of the commission"}}
      {{/if}}
    </div>
    <div class='s06'>
      {{shared/inputs/element-percentfield value=model.split placeholder='portion' inputSize=true helpMessage="The percentage of the commission this party will receive"}}
    </div>
    <div class='s06 flex-justify-end text-end'>
      {{#if commission.isTrail}}
        {{shared/labels/label-with-placeholder-option value=estimatedValue placeholder='total lifetime value' inputSize=true currency=true}}
      {{else}}
        {{shared/labels/label-with-placeholder-option value=estimatedValue placeholder='total value' inputSize=true currency=true}}
      {{/if}}
    </div>
  </div>
