<div class='s24 presentation-container flex-column-nowrap flex-align-centre'>

<!--  Title Bar -->
  {{shared/tools/segments/tool-title-bar title=title closeAttribute=closeAttribute backTitle=backTitle backAttribute=backAttribute}}
  <div class='s24 spacer'>
  </div>
  <div class='s23 flex-justify-centre text-centre pad5 font-three-quarter'>
    <i>Record the details of this commission</i>
  </div>
  <div class='s24 spacer'>
  </div>

<!--  Commission type, rate, trail?  -->
  <div class='s23 flex-row-wrap'>
    <div class='s06'>
      {{shared/inputs/element-tickbox value=model.isTrail placeholder='Trail' }}
    </div>


    <div class='s06'>
      {{#if commissionIsPercent}}
        {{shared/inputs/element-percentfield value=model.commissionRate placeholder='rate' helpMessage="The commission rate"}}
      {{else}}
        {{shared/inputs/element-currencyfield value=model.commissionValue placeholder='fee' helpMessage='The flat fee commission'}}
      {{/if}}
    </div>
    <div class='s06'>
      <button class='square-button accent-darker-bg' {{action 'toggleCommissionIsPercent'}}>{{#if commissionIsPercent}}or fee{{else}}or rate{{/if}}</button>
    </div>


    <div class='s06'>
      {{#if model.isTrail}}
        {{shared/labels/label-with-placeholder-option value=model.estimatedValue placeholder='estimated lifetime value' inputSize=true currency=true}}
      {{else}}
        {{shared/labels/label-with-placeholder-option value=model.estimatedValue placeholder='estimated value' inputSize=true currency=true}}
      {{/if}}
    </div>



  </div>

  <div class='s24 spacer'>
  </div>
  <div class='s20 row-divide'>
  </div>

  <div class='s24 m12 flex-justify-space-around'>


    {{#shared/buttons/svg-circle-button hasBorder=true iconName='save' displayLabel=true altClasses='green-bd' loading=isSaving onClick=(action 'save')}}
        save
    {{/shared/buttons/svg-circle-button}}
  </div>


  <div class='s24 spacer'>
  </div>

</div>
