<div class='s24 flex-row-nowrap'>
  <div class='s12 m11'>
    {{#if model.firm}}
      {{shared/labels/label-with-placeholder-option value=model.firm.name inputSize=true}}
    {{else}}
      {{shared/labels/label-with-placeholder-option value=model.user.name inputSize=true}}
    {{/if}}
  </div>
  <div class='s06'>
    {{shared/labels/label-with-placeholder-option value=model.split placeholder='portion' inputSize=true percent=true}}
  </div>
  <div class='s06 flex-justify-end text-end'>
    {{#if commission.isTrail}}
      {{shared/labels/label-with-placeholder-option value=estimatedValue placeholder='estimated lifetime value' inputSize=true currency=true}}
    {{else}}
      {{shared/labels/label-with-placeholder-option value=estimatedValue placeholder='estimated value' inputSize=true currency=true}}
    {{/if}}
  </div>
</div>
