{{#if hasSettlements}}
  {{#shared/buttons/svg-circle-button hasBorder=true iconName='settlement' smaller=true displayLabel=true loading=addingSettlement altClasses='accent-darkest-bd' onClick=(action 'viewSettlements')}}
      settlement
  {{/shared/buttons/svg-circle-button}}
{{else}}
  {{#shared/buttons/svg-circle-button hasBorder=true iconName='settlement' smaller=true addButton=true displayLabel=true loading=addingSettlement altClasses='accent-darkest-bd' onClick=(action 'addSettlement')}}
      settlement
  {{/shared/buttons/svg-circle-button}}
{{/if}}




{{#if showSettlements}}
  {{#shared/tools/tools-popover-tool-container size='medium' maxHeight=true closeAttribute=showSettlements}}
    {{shared/views/loan-applications/settlements/application-settlements model=model closeAttribute=showSettlements}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}
