<div class='s24 presentation-container flex-column-nowrap flex-align-centre'>

<!--  Title Bar -->
  {{shared/tools/segments/tool-title-bar title=title closeAttribute=closeAttribute backTitle=backTitle backAttribute=backAttribute}}


<!--  Settlement Details  -->
  <div class='s23 flex-row-wrap'>
    <div class='s12 m08'>
      {{#if settlement.isSettled}}
        {{shared/labels/label-with-placeholder-option value=settlement.description placeholder=description inputSize=true}}
      {{else}}
        {{shared/inputs/element-input type=text value=settlement.description placeholder='description' helpMessage="This is the description that will be applied to the new loans from this settlement.  Change the description if you need to differentiate between loans from multiple settlements for a single entity"}}
      {{/if}}
    </div>
    <div class='s12 m05'>
      {{#if settlement.isSettled}}
        {{shared/labels/label-with-placeholder-option value=settlement.settlementValue placeholder='settlement value' inputSize=true currency=true}}
      {{else}}
        {{shared/inputs/element-currencyfield value=settlement.settlementValue placeholder='settlement value' helpMessage='The anticipated settlement value (may differ to application amount)'}}
      {{/if}}
    </div>
    <div class='s12 m04'>
      {{#if settlement.isSettled}}
        {{shared/labels/label-with-placeholder-option value=settlement.loanApplication.settlementBank.name placeholder='provider' inputSize=true}}
      {{else}}
        {{shared/inputs/element-select listName='bank' value=settlement.loanApplication.settlementBank placeholder='provider' helpMessage="The lender advancing the loan(s)"}}
      {{/if}}
    </div>
    <div class='s12 m07'>
      {{#if settlement.isSettled}}
        {{shared/labels/label-with-placeholder-option value=settlement.settlementDate placeholder='settlement date' inputSize=true date=true}}
      {{else}}
        {{shared/inputs/element-datefield value=settlement.settlementDate minDate=lastMonth placeholder='settlement date' helpMessage='The expected settlement date'}}
      {{/if}}
    </div>

  </div>
  {{#if commissionRatesDontMatchSettlementBank}}
    <div class='s23 pad5 font-three-quarter text-centre red-fg'>
      One or more commission rates loaded against the settlement loans do not match the settlement bank
    </div>
  {{/if}}
  <div class='s24 spacer'>
  </div>




<!-- Settlement Loans  -->
  <div class='s24 flex-justify-centre text-centre'>
    Settlement Loan Structure
  </div>
  <div class='shared-client-search-results-container s23 relative'>
      <div class='s24 absolute flex-column-nowrap'>

      {{#each settlement.liabilities as |settlementLoan|}}
        <div class='element-table-row'>
          {{#if settlement.isSettled}}
            <div class='s24 flex-row-nowrap pad5'>
              <div class='s16'>
                {{settlementLoan.summary}}
              </div>
              <div class='s08 flex-justify-end text-end'>
                {{format-currency settlementLoan.limitAfterDrawDown}}
              </div>
            </div>

          {{else}}
            <div class='element-table-row-display' {{action 'showSettlementLoan' settlementLoan}}>
              <div class='s04 flex-row-nowrap flex-align-centre'>

                {{shared/buttons/element-delete-button action=(action 'removeSettlementLoan' settlementLoan bubbles=false)}}
              </div>
              <div class='s13 m14'>
                {{settlementLoan.summary}}
              </div>
              <div class='s05 m04 flex-justify-end text-end' >
                {{format-currency settlementLoan.limitAfterDrawDown}}
              </div>
              <div class='s02 flex-justify-end flex-align-centre'>
                {{inline-svg 'icons/table-arrow-fwd' class='svg-small master-detail-fwd'}}
              </div>
            </div>
          {{/if}}
        </div>
      {{else}}
        <i class='s24 text-centre font-three-quarter pad5'>
          No settlement loans.  Use the button below to add settlement loans
        </i>
      {{/each}}

      </div>
    </div>

    <div class='s24 spacer'>
    </div>

  <!-- Settlement Securities  -->
  <div class='s24 flex-justify-centre text-centre'>
    New Securities
  </div>
  <!--div class='shared-client-search-results-container s23 relative'>
      <div class='s24 absolute flex-column-nowrap pad5'-->
  <div class='grey-bordered-white-box-flat s23'>
    <div class='s24 flex-column-nowrap'>
        {{#each settlement.securities as |security|}}
          <div class='element-table-row'>
            {{#if settlement.isSettled}}
              <div class='s24 flex-row-nowrap pad5'>
                <div class='s16'>
                  {{security.address.abbreviatedAddress}}
                </div>
                <div class='s08 flex-justify-end text-end'>
                  {{format-currency security.value}}
                </div>
              </div>
            {{else}}
              <div class='element-table-row-display' {{action 'showSecurity' security}}>
                <div class='s04 flex-row-nowrap flex-align-centre'>
                  {{shared/buttons/element-delete-button action=(action 'removeSecurity' security bubbles=false)}}
                </div>
                <div class='s13 m14'>
                  {{security.address.abbreviatedAddress}}
                </div>
                <div class='s05 m04 flex-justify-end text-end'>
                  {{format-currency security.value}}
                </div>
                <div class='s02 flex-justify-end flex-align-centre'>
                  {{inline-svg 'icons/table-arrow-fwd' class='svg-small master-detail-fwd'}}
                </div>
              </div>
            {{/if}}
          </div>



        {{else}}
          <i class='s24 text-centre font-three-quarter pad5'>
            No securities.  Use the button below to add securities
          </i>
        {{/each}}
      </div>
    </div>


    <div class='s24 spacer'>
    </div>


<!-- Commission Details -->
    <div class='s23 flex-justify-centre text-centre'>
      Commission Breakdown
    </div>
    <div class='grey-bordered-white-box-flat s23'>
      {{#if totalCommission}}
        <div class='s24 flex-column-nowrap'>
          {{#if firmCommSplit}}
          <div class='s24 flex-row-nowrap pad5'>
            <div class='s12'>
              Firm
            </div>
            <div class='s12 flex-justify-end text-end'>
              {{format-currency firmCommSplit true}}
            </div>
          </div>
          {{/if}}
          <div class='s24 flex-row-nowrap pad5'>
            <div class='s12'>
              {{settlement.loanApplication.owner.name}}
            </div>
            <div class='s12 flex-justify-end text-end'>
              {{format-currency ownerCommSplit true}}
            </div>
          </div>
          {{#if settlement.loanApplication.secondaryOwner.name}}
            <div class='s24 flex-row-nowrap pad5'>
              <div class='s12'>
                {{settlement.loanApplication.secondaryOwner.name}}
              </div>
              <div class='s12 flex-justify-end text-end'>
                {{format-currency secondaryOwnerCommSplit true}}
              </div>
            </div>
          {{/if}}
        </div>
      {{else}}
        <div class='s24 pad5 flex-justify-centre text-centre font-three-quarter'>
          <i>Commissions not yet set or calculated</i>
        </div>
      {{/if}}
    </div>
    {{#if totalCommission}}
      <div class='s23 flex-justify-end text-end pad5'>
        total: {{format-currency totalCommission true}}
      </div>

      <div class='s23'>
        <div class='s24 flex-justify-cente text-centre pad5 font-three-quarter'>
          <i>Commission breakdown is based on the application ownership and the firm's commission retention rate for each owner <br/>
          <br/>
          {{#if model.totalTrailCommission}}
            Trail Commission is shown as an estimated lifetime value of trail, based on amortising the loan using the details provided above.
          {{/if}}
          </i>
        </div>
        <!-- packer to push the button to the bottom -->
      </div>
    {{/if}}


<!-- add loan, security, and settle buttons -->
  <div class='s23 flex-row-nowrap flex-justify-space-around pad5'>
    <div class='s00 m02 spacer'>
    </div>
    {{#unless settlement.isSettled}}
      {{#shared/buttons/svg-circle-button hasBorder=true iconName='liability' addButton=true loading=creatingLoan displayLabel=true altClasses='accent-darker-bd' onClick=(action 'addSettlementLoan')}}
          add loan
      {{/shared/buttons/svg-circle-button}}
      {{#shared/buttons/svg-circle-button hasBorder=true iconName='security' addButton=true loading=addingSecurity displayLabel=true altClasses='accent-darker-bd' onClick=(action 'addSecurity')}}
          add security
      {{/shared/buttons/svg-circle-button}}
      {{#shared/buttons/svg-circle-button hasBorder=true iconName='person'  displayLabel=true altClasses='accent-darker-bd' editButton=true onClick=(action 'showAppOwnership')}}
          edit ownership
      {{/shared/buttons/svg-circle-button}}
      {{#shared/buttons/svg-circle-button hasBorder=true iconName='settlement-settle' displayLabel=true altClasses='accent-darker-bd' loading=settling onClick=(action 'toggleConfirmSettlement')}}
          settle
      {{/shared/buttons/svg-circle-button}}

      {{#shared/buttons/svg-circle-button hasBorder=true iconName='save' displayLabel=true altClasses='green-bd' loading=isSaving onClick=(action 'saveSettlement')}}
          save
      {{/shared/buttons/svg-circle-button}}
    {{else}}
      <div class='s24 text-centre green-fg flex-justify-centre'>
        <h4>This Settlement has Processed</h4>
      </div>


    {{/unless}}
    <div class='s00 m02 spacer'>
    </div>
  </div>


<!-- View Ownership  -->
    {{#shared/tools/segments/tool-presentation-object show=showAppOwnership}}
      {{shared/views/loan-applications/settlements/application-ownership model=settlement.loanApplication title='Application Ownership' backAttribute=showAppOwnership backTitle='settlement' closeAttribute=closeAttribute}}
    {{/shared/tools/segments/tool-presentation-object}}

<!-- View Settlement Loan  -->
    {{#shared/tools/segments/tool-presentation-object show=showSettlementLoan}}
      {{shared/views/loan-applications/settlements/settlement-loan model=selectedSettlementLoan title='Settlement Loan' backAttribute=showSettlementLoan backTitle='settlement' closeAttribute=closeAttribute}}
    {{/shared/tools/segments/tool-presentation-object}}


<!-- View Security  -->
    {{#shared/tools/segments/tool-presentation-object show=showSecurity}}
      {{shared/views/loan-applications/settlements/settlement-security model=selectedSecurity title='New Security' backAttribute=showSecurity backTitle='settlements' closeAttribute=closeAttribute }}
    {{/shared/tools/segments/tool-presentation-object}}


<!-- confirm settlement popover  -->
  {{#if confirmSettlement}}
    <div class='tools-popover-confirm-close-outer-container'>
      <div class='settlement-confirm-popover-container'>
        <div class='s24 justify-centre text-centre'>
          <h5>Are you sure you'd like to settle this application?</h5>
        </div>
        <div class='s24 pad5 justify-centre text-centre'>
          This cannot be undone.  Settling this loan will make the following changes:
        </div>
        <div class='s23 pad5'>
          <ul>
            <li>Create new loans, based on the loan structure loaded</li>
            <li>Create new securities, based on the proposed securities loaded</li>
            <li>Adjust existing liabilities, based on their 'after drawdown' details</li>
            <li>Create new commission items 'due' as appropriate</li>
            <li>Change the client(s) address if the new security is owner-occupied</li>
          </ul>
        </div>
        <div class='s24 flex-row-nowrap'>
          <div class='s12 pad5'>
            <button class='square-button full-width red-bg' {{action 'toggleConfirmSettlement'}}>cancel</button>
          </div>
          <div class='s12 pad5'>
            <button class='square-button full-width accent-bg' {{action 'confirmSettlement'}}>confirm</button>
          </div>
        </div>
      </div>
    </div>
  {{/if}}

</div>
