
<div class='type-selector-container'>
  <div class='type-selector-options-container {{if addTableItemMenuInView "in-focus"}} {{bgColour}}'>

  <button class='svg-button hover-opaque type-selector-add-button {{if addTableItemMenuInView "is-open"}}' {{action 'toggleAddTableItemTypeMenu'}}>

    {{inline-svg "icons/tables/table-add-type-button" class='svg-medium' }}
  </button>

    <ul class='type-selector-menu {{unless addTableItemMenuInView "out-of-focus"}}'>
      <span class='type-selector-add-label'>add:</span>

      {{#each optionTypes as |option|}}
        <li class='type-selector-menu-item {{unless addTableItemMenuInView "out-of-focus"}}' {{action 'addItem' option}}>
          {{option.name}}
        </li>

      {{else}}
        There are no options to add. If this is unexpected, expect the unexpected.
      {{/each}}
    </ul>
  </div>

</div>
