
{{pikaday-input value=value format='DD-MM-YYYY' valueFormat='date' useUTC=true allowBlank='true' yearRange="1900,2050" minDate=minDate maxDate=maxDate class="change-date-hidden-input"}}

{{shared/buttons/svg-circle-button hasBorder=true label=label iconName='buttons/change-date' altClasses='accent-bd'}}
