{{#if loading}}
  {{inline-svg "icons/loader-circles" class='svg-small loading in-button'}}
{{else}}

  {{#if svgButton}}
    {{#shared/buttons/svg-circle-button hasBorder=hasBorder iconName=iconName addButton=addButton displayLabel=displayLabel altClasses=altClasses title=title onClick=(action 'viewOptions')}}
      {{buttonLabel}}
    {{/shared/buttons/svg-circle-button}}
  {{/if}}

  {{#if squareButton}}
    <button class=altClasses {{action 'viewOptions'}} title=title>{{buttonLabel}}</button>
  {{/if}}

  {{#if linkLike}}
    <div class='label-looking-link' {{action 'viewOptions'}} title=title>{{buttonLabel}}</div>
  {{/if}}

{{/if}}

<div class='dropdown-option-button-option-container'>
  {{#each options as |option|}}
    <div class='dropdown-option-button-option label-ellipses {{if showOptions "in-focus"}}' {{action 'selectOption' option}}>
      {{option.name}}
    </div>
  {{/each}}
</div>
