<div class='element-save-delete save' {{action 'save' model}} title='Save'>
  {{#if model.isInSaveMode}}
    {{inline-svg "icons/loader-circles" class='svg-small loading'}}
  {{else}}
    {{inline-svg "icons/save" class='element-delete-icon'}}
  {{/if}}
</div>
