<div class='toggle-button-inner-container'>
  <button class='svg-button' {{action 'toggleToggle'}} >
    {{yield}}
    {{#if toggle}}
      {{inline-svg 'icons/ok' class='toggle-indicator-on'}}
    {{/if}}

  </button>

</div>

{{#if helpMessageNotOn}}
  {{#tooltip-on-element event='hover'}}
      {{helpMessage}}
  {{/tooltip-on-element}}
{{/if}}
