<div class='buttons-on-off-container {{if value "switch-on"}} {{if disabled "quarter-opacity"}}' {{action 'toggle' bubbles=false}}>
  <div class='buttons-on-off-toggle {{if value "switch-on"}}'>
  </div>
</div>
{{#if trueValue}}
  <label>{{toggleLabel}}</label>
{{/if}}
