<div class='element-save-delete delete {{if inDeleteMode "delete-confirm"}}' {{action 'delete' bubbles=false}} title='Delete'>
  {{#if inDeleteMode}}
  delete
  {{else}}
  {{inline-svg "icons/delete" class='element-delete-icon'}}
  {{/if}}
</div>


{{#if showConfirmDelete}}
  {{#shared/tools/tools-popover-tool-container size='small' closeAttribute=showConfirmDelete}}
    <div class='presentation-object-inner s24'>
      <div class='s24 presentation-container flex-column-nowrap flex-align-centre'>

        <!--  Title Bar -->
          {{shared/tools/segments/tool-title-bar title='Confirm Delete' closeAttribute=showConfirmDelete}}

        <!-- warning  -->
          <div class='s23 flex-column-nowrap flex-align-centre flex-justify-start'>
            <div class='s24'>
              {{yield}}
            </div>
            <div class='s24 flex-row-nowrap flex-justify-centre pad5'>
              <button class='square-button accent-darker-bg' {{action 'cancel'}}>cancel</button>
              <button class='square-button red-bg' {{action 'delete' bubbles=false}}>delete</button>
            </div>

          </div>

        </div>
    </div>
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}
