
{{shared/buttons/svg-circle-button hasBorder=true iconName='buttons/help' label='help' altClasses='accent-bd accent-darker-icon' onClick=(action 'displayHelp')}}

{{#if showHelp}}
  {{#shared/tools/tools-popover-tool-container size='medium' title='Socket Help' closeAttribute=showHelp}}
    {{shared/help/tutorial-releases/tutorial-releases-page model=model}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}
