{{#each loanTypes as |type|}}
  <div class='loan-type-selector-item {{if type.selected "selected"}}' {{action 'select' type.type}}>
    {{inline-svg type.iconPath class='accent-icon svg-medium-large'}}
    <div>{{type.name}}</div>
  </div>
{{/each}}
