<div class='element-save-delete save' {{action 'save' model}} title='Save'>
  {{#if loading}}
    {{inline-svg "icons/loader-circles" class='svg-small loading'}}
  {{else}}
    {{inline-svg "icons/save" class='svg-small'}}
  {{/if}}
</div>
