
  {{#if loading}}
    {{inline-svg "icons/loader-circles" class='svg-small loading in-button'}}
  {{else}}
    {{inline-svg iconPath class=iconClass}}
  {{/if}}

  {{#if addButton}}
    {{inline-svg 'icons/svg-button-add' class=subIconClass}}
  {{/if}}
  {{#if removeButton}}
    {{inline-svg 'icons/svg-button-remove' class=subIconClass}}
  {{/if}}
  {{#if saveButton}}
    {{inline-svg 'icons/svg-button-save' class=subIconClass}}
  {{/if}}
  {{#if editButton}}
    {{inline-svg 'icons/svg-button-edit' class=subIconClass}}
  {{/if}}
  {{#if searchButton}}
    {{inline-svg 'icons/svg-button-search' class=subIconClass}}
  {{/if}}

  {{#if showLabel}}
    <label class='svg-circle-button-label {{if large "large"}} {{if largest "largest"}} {{altClasses}}'>{{label}}{{yield}}</label>
  {{/if}}
