<div class='swiper-home-next-container'>
  {{#if previousSection}}
  <button class='svg-button' {{action 'previousSection'}} title='Previous page'>{{inline-svg "icons/left" class='svg-medium'}}</button>
  {{/if}}
  {{#if nextSection}}
  <button class='svg-button' {{action 'nextSection'}} title='Next page'>{{inline-svg "icons/right" class='svg-medium'}}</button>
  {{/if}}
</div>
