<div class='table-row-options-button' {{action 'viewOptions'}}>
  {{inline-svg 'icons/buttons/table-options-open' class='svg-tiny-small accent-darker-icon'}}
</div>


<div class='table-row-options {{if showOptions "in-focus"}}'>
  {{yield}}
  <div class='table-row-options-button' {{action 'viewOptions'}}>
    {{inline-svg 'icons/buttons/table-options-close' class='svg-tiny-small white-icon'}}
  </div>
</div>
