
{{#each buttons as |button|}}
  <div class='utilities-icon {{unless showUtilities "closed"}}' {{action 'click' button}} title={{button.title}}>
    {{inline-svg button.iconPath class='svg-tiny-small accent-darker-icon'}}
  </div>
{{/each}}


<div class='utilities-icon' {{action 'toggleUtilities'}} title='Utilities'>
  {{inline-svg "icons/buttons/utilities" class='svg-tiny-small accent-darker-icon'}}
</div>
