<div class='s24 flex-row-nowrap flex-align-centre'>
  <div class='s12 m09'>
    {{shared/labels/label-with-placeholder-option value=model.name inputSize=true}}
  </div>
  <div class='s00 m06 spacer'>
  </div>
  <div class='s12 m09'>
    {{shared/inputs/element-string-select value=model.partyType selectOptions=model.partyTypes}}
  </div>
  {{#unless onlyParty}}
    {{#shared/buttons/table-row-options-button}}
      <div class='icon-flex-div' {{action 'deleteRecord'}}>
        {{inline-svg 'icons/buttons/table-options-delete' class='svg-smaller white-icon hover-opaque'}}
      </div>
    {{/shared/buttons/table-row-options-button}}
  {{/unless}}
</div>
