<div class='s24 flex-column-nowrap'>
  <div class='s24 pad5 flex-row-wrap flex-align-centre flex-justify-centre'>
    {{#if showInstructions}}
      <span><i>Add tags below</i></span>
    {{else}}
      {{#each tags as |tag|}}
        {{shared/views/tags/coloured-tag canRemove=isEditable tag=tag action='removeTag'}}
      {{/each}}
    {{/if}}

  </div>
  {{#if canAddTags}}
  <div class='shared-tag-add-tag-outer-container'>
    <div class='shared-tag-add-tag-container'>
      {{shared/inputs/element-input type='text' value=newTag placeholder='new tag' helpMessage="Start typing a tag. If Socket has matches, it will suggest them. Otherwise, it will add your original tag."}}
      <span class='contact-input-ok {{if validNewTag "in-focus"}}' {{action 'addNewTag'}}>{{inline-svg 'icons/ok' class='svg-small'}}</span>
    </div>
    <div class='shared-tag-add-tag-server-tag-list {{if showServerTagMatches "in-focus"}}'>
      {{#each possibleNewTagMatches as |match|}}
        <div class='shared-tag-add-tag-server-match' {{action 'addTagFromServerTags' match.name}}>
          {{match.name}}
        </div>
      {{/each}}
    </div>
  </div>


  {{/if}}
</div>
