<div class='tools-popover-inner-container {{size}} {{if maxHeight "max-height"}}'>
  {{#if title}}
    {{shared/tools/segments/tool-title-bar title=title backTitle=backTitle backAttribute=backAttribute closeAttribute=closeAttribute}}
    <!--div class='tools-header-title'>
      {{#if backTitle}}
        {{shared/buttons/master-detail-back-button title=backTitle click=(action 'backAction')}}
      {{/if}}
      {{title}}
      {{#if closeAttribute}}
        <span class='tools-close-button' {{action 'close'}}>{{inline-svg 'icons/close-popover' class='svg-small'}}</span>
      {{/if}}
    </div-->
  {{/if}}


  <div class='tools-tool-scroll-body'>
    {{yield}}
  </div>
</div>


{{#if askToClose}}
  <div class='tools-popover-confirm-close-outer-container'>
    <div class='tools-popover-confirm-close-inner-container'>
      <div class='s24 justify-centre text-centre'>
        <h5>Would you like to close this popover?</h5>
      </div>
      <div class='s24 pad5 justify-centre text-centre'>
        Closing the popover may discard any unsaved changes
      </div>
      <div class='s24 flex-row-nowrap'>
        <div class='s12 pad5'>
          <button class='square-button full-width red-bg' {{action 'cancelClose'}}>Cancel</button>
        </div>
        <div class='s12 pad5'>
          <button class='square-button full-width accent-bg' {{action 'close'}}>Close</button>
        </div>
      </div>
    </div>
  </div>
{{/if}}
