.login-blackout {
  @include flexContainer();
  @include align-content(center);
  @include justify-content(center);
  @include align-items(center);
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(0,0,0,0.5);
}

.login-logo {
  color: white;
  @include flexbox();
  @include flex-flow(row nowrap);

}

.login-form {
  max-width: 95vw;
  background-color: $white;
  z-index: 101;
  opacity: 1;
  padding: 20px;
  border-radius: 3px;

  @include flex(0 0 auto);
  @include flex-flow(column nowrap)
  @include align-content(center);
  @include align-items(center);
  @include justify-content(space-around);
}


.centred-heading {
  text-align: center;
  @include flexbox();
  @include align-content(center);
  @include align-items(center);
  @include justify-content(center);
}

.loading {
  @include flexbox();
  animation-name: loadRotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  display: inline-block;

  &.in-button {
    margin-top: -2px;
  }
}

@keyframes loadRotate {
    0% {
        @include transform(rotate(0deg));
    }
    100% {
        @include transform(rotate(360deg));
    }
}
