{{#if model.isInEditMode}}
  {{shared/buttons/element-save-button action='saveItem' model=model}}
{{else}}
  {{shared/buttons/element-edit-button action='editItem'}}
{{/if}}
{{#unless cantDelete}}
  {{shared/buttons/element-delete-button action='removeItem'}}
{{/unless}}
