{{#shared/buttons/table-row-options-button}}
{{yield}}


<div class='icon-flex-div' {{action 'viewDetails'}} title='Edit'>
  {{inline-svg 'icons/buttons/table-options-edit' class='svg-smaller white-icon hover-opaque'}}
</div>
{{#if hasUndoButton}}
  <div class='icon-flex-div' {{action 'undoChanges'}} title='Undo Changes'>
    {{inline-svg 'icons/buttons/table-options-undo' class='svg-smaller white-icon hover-opaque'}}
  </div>
{{/if}}

<div class='icon-flex-div' {{action 'deleteRecord'}} title='Delete'>
  {{inline-svg 'icons/buttons/table-options-delete' class='svg-smaller white-icon hover-opaque'}}
</div>


{{/shared/buttons/table-row-options-button}}


{{#if showConfirmDelete}}
  {{shared/elements/confirm-delete modelName=modelName closeAttribute=showConfirmDelete confirmDelete=(action 'confirmDelete')}}
{{/if}}
