{{#if showUndo}}
  <div class='svg-button-container'>
    {{shared/buttons/svg-circle-button hasBorder=true iconName='buttons/table-options-undo' altClasses='accent-darker-fg accent-darker-icon' onClick=(action 'undo')}}
  </div>
{{/if}}


<div class='svg-button-container'>
  {{shared/buttons/svg-circle-button hasBorder=true iconName='save' loading=isSaving altClasses='green-fg' onClick=(action 'save')}}
</div>

<div class='svg-button-container'>
  {{shared/buttons/element-delete-button action='delete'}}
</div>
