.element-delete-icon {
  height: 24px;
  width: 24px;
  cursor:pointer;
}

.element-save-delete {
  cursor:pointer;
  border-radius: 18px;
  z-index: 1;
  height: 36px;
  width: 36px;
  margin: 2px 5px;
  text-align: center;
  overflow: hidden;

  @include flexbox();
	@include justify-content(center);
  @include align-content(center);
  @include align-items(center);

  &.with-border {
    border-width: 2px;
    border-style: solid;
  }


  &.delete-confirm {
    width:73px;
    background-color: $iconred;
    color: $white;
  }
  &.delete {
    @include easer(0.4s);
    border: 2px solid $iconred;
  }
  &.save {
    border: 2px solid $icongreen;
  }

  &.edit {
    border: 2px solid $iconblue;
  }

  &:hover {
    opacity: 0.8;
  }
  &:active {

		@include scale(0.95);
	}

}

.edit-save-delete-container {
  overflow:hidden;
  @include flexbox();
  @include flex-flow(row nowrap);
  @include justify-content(center);
}

.svg-button-container {
  width: 60px;
  display: flex;
  justify-content: center;
}

.svg-circle-button {
	position: relative;
	cursor:pointer;
  border-radius: 100%;
  z-index: 1;
  height: 36px;
  width: 36px;
  padding: 6px;
  text-align: center;
  margin: 2px 5px;
	background-color: rgba(0,0,0,0);
	@include easer(0.2s);
	@include flexbox();
	@include justify-content(center);
  @include align-content(center);
  @include align-items(center);

	&.has-border {
		border-width: 2px;
		border-style: solid;
    &.large {
      border-width: 3px;
    }
    &.largest {
      border-width: 5px;
    }
	}

	&.hide {
		transform: scale(0);
		pointer-events: none;

	}

	&.show-label {
		margin-bottom: 13px;
	}

	&:hover {
		opacity: 0.8;
	}

	&:active {
		transform: scale(0.95);
	}

  &.large {
    height: 60px;
    width: 60px;
  }

  &.largest {
    height: 135px;
    width: 135px;
  }
}

.svg-circle-button-icon {
	  height: 24px;
	  width: 24px;
		margin-top: -2px;
	  cursor:pointer;

	&.smaller {
		height: 20px;
		width: 20px;
	}

  &.large {
    height: 40px;
    width: 40px;
  }

  &.largest {
    height: 90px;
    width: 90px;
  }

}

.svg-circle-button-add-circle {
  height: 18px;
  width: 18px;
  position: absolute;
  right: -4px;
  bottom: -2px;
  z-index: 2;
  fill: $primary;
  stroke: $primary;

  &.large {
    height: 24px;
    width: 24px;
    right: -8px;
    bottom: -6px;
  }

  &.largest {
    height: 50px;
    width: 50px;
    right: -8px;
    bottom: -6px;
  }
}

.svg-circle-button-label {
	position: absolute;
	top: 34px;
	left: -14px;
	width: 60px;
	text-align: center;
	font-size: 9px;
	color: $primary;

  &.large {
    top: 58px;
    font-size: 11px;
    width: 80px;
  }

  &.largest {
    top: 128px;
    font-size: 11px;
    width: 145px;
  }

}



.svg-button {
	border:none;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0);
  height: 40px;
  width: 40px;
  margin: 5px;
  text-align: center;
  @include easer(0.15s);
  @include flexbox();
	@include justify-content(center);
  @include align-content(center);
  @include align-items(center);

	&:focus {
		outline: 0;
	}
	&:hover {
		opacity: 0.8;
	}
	&:active {
		@include scale(0.95);
	}

}

.svg-button-label {
	position: absolute;
	left: 0;
	font-size: 0.8rem;
	bottom: -0.5rem;
	width: 100%;
}

.circle-button {
	margin: 2px;
	border: 2px solid white;
	border-radius: 100%;
}

.square-button {
  cursor: pointer;
	border: 1px solid rgba(0,0,0,0);
  border-radius: 3px;
  text-align: center;
  font-size: 1rem;
  padding: 5px 10px;
	margin: 5px;
	height:40px;
  background-color: rgba(255,255,255,0);
  @include easer(0.2s);
  @include align-content(center);
  @include align-items(center);
  @include justify-content(center);

  &:hover {
    opacity:0.9;
  }

  &:active {
    @include scale(0.95);
    outline: 0;
  }

  &:focus {
    outline: none;
  }

  &.full-width-button {
    width: calc(100% - 10px)
  }

}

.button-loading-cover { //used for button loading replacement
	z-index: 100;
	width: 100%;
	height: calc(100% + 5px);
	position: absolute;
	left: 0;
	top: -5px;
	background-color: rgba(256, 256, 256, 0.8);
	justify-content: center;
	align-items: center;
	align-content: center;
	vertical-align: middle;
}

.toggle-button-outer-container{
}
.toggle-button-inner-container{
	position:relative;
}

.toggle-indicator-on {
	position: absolute;
	bottom: -3px;
	right: -3px;
	height: 15px;
	width: 15px;
}

//on off switch:

.buttons-on-off-outer-container {
	@include flexbox();
}

.buttons-on-off-container {
	cursor: pointer;
	height: 38px;
	width: 60px;
	padding:1px;
	border-radius: 20px;
	background-color: $iconred;
	transition: 0.3s ease-in-out;
	@include flexbox();

	&.switch-on {
		background-color: $icongreen;
	}

	&.disabled {
		cursor: not-allowed;
	}

}

.buttons-on-off-toggle {
	height: 34px;
	width:34px;
	margin:1px;
	border-radius: 100%;
	background-color: white;
	transition: 0.3s ease-in-out;

	&.switch-on {
		transform: translateX(22px);
	}
}


.dropdown-button-container {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.dropdown-option-button-option-container {
  z-index: 100;
  position: absolute;
  top: 100%;
  right: 0;
  flex-flow: column nowrap;
  display: flex;
  overflow-y: hidden;
}

.dropdown-option-button-option {

  max-height: 0;
  cursor: pointer;
  background-color: white;

  @include easer(0.4s);
  opacity: 0.9;

  &:hover {
    opacity: 1;

  }

  &.in-focus {
    max-height: 3rem;
    padding: 5px;
    border-bottom: 1px solid rgba(250, 250, 250, 1);
  }
}

.tools-repayment-calculator-button-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.repayent-calculator-popover-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 250px;
  display: flex;
  background-color: white;
  z-index: 100;
  flex-flow: column nowrap;
  @include boxShadow();

}
