.loan-type-select {
  position: relative;
  margin-top: 1rem;
}

.loan-type-select-dropdown-container {
  position: absolute;
  top: 0;
  display: flex;
  flex-flow: column nowrap;

  max-height: 0;
  overflow-y: hidden;
  z-index: 100;

  transition: all 0.3s ease-in-out;

  //background-image: radial-gradient(rgba(265, 265, 265, 1), rgba(265, 265, 265, 0));

  background: rgba(255,255,255,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 70%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(70%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 70%, rgba(255,255,255,0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 70%, rgba(255,255,255,0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 70%, rgba(255,255,255,0) 100%);
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 70%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );

  &.in-focus {
    max-height: 150px;
    top: 4px;
  }

}

.loan-type-select-dropdown-component {
  display: flex;
  flex-flow: row nowrap;
  width: 200px;
  align-items: center;
  align-content: center;
}
