

.file-upload-greyout {
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100000;
	background-color: rgba(0,0,0,0.6);
	@include flex-flow(column nowrap);
	@include align-items(center);
	@include align-content(center);
	@include justify-content(center);
}

.file-upload-dialog {
	display: flex;
	width: 250px;
	border-radius: 3px;
	background-color: white;
	color: $primary;
	@include flex-flow(column nowrap);
	@include align-items(center);
	@include align-content(center);
	@include justify-content(center);
}
