
.nav-tab-container {
  width: 100%;
  @include flexbox();
  @include flex-flow(row wrap);
  @include align-content(center);
  @include align-items(center);
  @include justify-content(center);
  padding-bottom: 15px;
}

.nav-tab-tab {
  cursor: pointer;
  text-align: center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: solid 1px $accent;
  padding: 5px;
  margin: 2px 0;
  //width: 6rem;
  color: $accentDarker;
  @include flexbox();
  @include flex(1 0 auto);
  @include align-content(center);
  @include align-items(center);
  @include justify-content(center);

  &.active {
    background-color: $accent !important;
    color: white;
    font-weight: bold;
  }

  &.selected {
    background-color: $accent;
    color: white;

  }

  &:hover {
    background-color: RGBA(33, 153, 187, 0.50);
    color: white;
    text-decoration: none;
  }

}

.grey-bordered-white-box-flat {
  width: calc(100% - 10px);
  background-color: white;
  border: 3px solid rgba(220, 220, 220, 0.5);
	border-radius: 3px;
  //padding: 5px;
  margin: 5px;
}

.row-divide {
  width: 80%;
  margin: 4px 10%;
  height: 2px;
  background-color: rgba(220, 220, 220, 0.5);
}

.spacer {
  height: 1rem;

  &.pack10 {
    height: 30rem;
  }
}



.screen-greyout {
  position: fixed;
  left: 0;
  top:0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-color: rgba(0,0,0,0);
  @include easer(0.4s);

  &.in-focus{
    z-index: 200;
    background-color: rgba(0,0,0,0.6);
  }
}

.help-icon-container {
  width: 18px;
  position: relative;
  @include respond-to(small){
    width: 25px;
  };
}

.help-icon{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 18px;
  height: 18px;
  cursor: pointer;
  @include respond-to(small){
    width: 25px;
    height: 25px;
  };
}


//for progress bar:

.section-progress-indicator-container {
	width:80%;
	margin-top: 5px;
	background-color: whitesmoke;
  position: relative;
	@include flexbox();
	@include flex-flow(row nowrap);
	@include justify-content(flex-start);
	@include respond-to(small) {
		width:100%;
	}
}

.section-progress-indicator {
	height: 2px;
	@include flexbox();
	&.done {
		background-color: #48A0DC;
	}
}

.progress-bar-complete-tick {
  position: absolute;
  top: -4px;
  right: -12px;
}
