
.contact-avatar-container {

  max-width: 135px;
  max-height: 135px;
  //margin: 0 5px;


  //max-width: 200px;
  @include flexbox();
  @include align-items(center);
  @include align-content(center);
  @include justify-content(center);
  @include flex(1 0 auto);
  @include order(0);

  &.in-menu {
    cursor: pointer;
    border: 2px solid $accentDarkest;
    border-radius: 100%
  }

  &.ghosted {
    opacity: 0.2;
  }

  &.small {
    max-width: 35px;
    max-height: 35px;
  }

  &.medium {
    max-width: 80px;
    max-height: 80px;
  }
}

.contact-avatar {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  z-index: 2;
  position: relative;
  //border: 5px solid $accent;

  &.default {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
  }

  &.in-menu {
    margin: 0 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 2px solid $accentDarkest;
    background-color: white;

    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;



    &:hover {
      opacity: 0.9;
    }

    @include respond-to(small) {
      //margin: 6px 10px 0;
      width: 35px;
      height: 35px;
    };
  }
}

.gravatar-name-label {
  text-align: center;
  font-size: 0.6rem;
  position: absolute;
  bottom: -10px;
  left: -50%;
  width: 200%;
  overflow-x: visible;
}


.contact-avatar-labels {
  color: white;
}

.contact-avatar-initials {
  font-size: 45px;
  font-weight: bold;

  &.small {
    font-size: 18px;
  }
  &.medium {
    font-size: 45px;
  }
}

.gravatar-small {
  max-width: 40px;
  max-height: 40px;
  &.circle {
    border-radius: 100%;
  }
}

.ownership-gravatar-single-container {
  margin: 5px;
}
