.logo-small {
  max-height: 10px;
}
.logo-medium {
  max-height: 30px;
}
.logo-large {
  max-height: 50px;
}

.svg-tiny{
  height: 10px;
  width: 10px;
}

.svg-tiny-small {
  height: 15px;
  width: 15px;
}

.svg-smaller {
  height: 20px;
  width: 20px;
}

.svg-small{
  height: 25px;
  width: 25px;
  min-height: 25px;
  min-width: 25px;
}

.svg-small-medium{
  height: 32px;
  width: 32px;
}

.svg-medium{
  height: 40px;
  width: 40px;
}
.circle-button .svg-medium{
  margin: -4px;
}

.svg-medium-medium{
  height: 50px;
  width: 50px;
}

.svg-medium-large{
  height: 60px;
  width: 60px;
}

.svg-large{
  height: 80px;
  width: 80px;
}


.svg-massive{
  height: 100px;
  width: 100px;
}
