<!--  Title Bar -->
{{shared/tools/segments/tool-title-bar title='Select Template' closeAttribute=closeAttribute backAttribute=backAttribute backTitle='compose'}}
<div class='s24 spacer'>
</div>

{{shared/views/user-templates/user-template-select action='selectTemplate'}}

<div class='s24 spacer'>
</div>
<button class='square-button accent-darker-bg' {{action 'selectTemplate'}}>continue with no template</button>

<div class='s24 spacer'>
</div>

{{yield}}
