<!--  Title Bar -->
  {{shared/tools/segments/tool-title-bar title='New Message - Preview' closeAttribute=closeAttribute backTitle=backTitle backAttribute=backAttribute}}


  <div class='s24 spacer'>
  </div>

  {{#if message.isSavingPreview}}

    <div>
      {{inline-svg "icons/loader-circles" class='svg-medium loading'}}
    </div>
    <div>
      <i>Loading preview...</i>
    </div>
  {{else}}
    <div class='shared-client-search-results-container s23 relative'>
      <div class='s24 absolute flex-column-nowrap pad5' innerHTML={{message.compiledMessage}}>
        <!-- This where the message preview displays  -->
      </div>
      {{#unless message.compiledMessage}}
        <div class='s24 text-centre'>
          There is no message to preview
        </div>
      {{/unless}}

    </div>
    <div class='pad5'>
      {{#shared/buttons/svg-circle-button hasBorder=true iconName='message-send' loading=sendingMessage displayLabel=true altClasses='accent-darker-bd accent-darker-icon' onClick=(action 'send')}}
          send
      {{/shared/buttons/svg-circle-button}}
    </div>
  {{/if}}


{{yield}}
