
<!--  Title Bar -->
{{shared/tools/segments/tool-title-bar title='Set Delay' closeAttribute=closeAttribute backAttribute=backAttribute backTitle='compose'}}
  <div class='s24 spacer'>
  </div>
  <div class='s23 m12 flex-column-nowrap flex-justify-start'>

    <div class='s24 pad5 radio-row' {{action 'sendLater' false}}>
      <div >
        {{#unless sendLater}}
          {{inline-svg 'icons/check-circle-checked' class='svg-small'}}
        {{else}}
          {{inline-svg 'icons/check-circle-unchecked' class='svg-small'}}
        {{/unless}}
      </div>
      <div class='s24 m12 flex-row-nowrap flex-align-centre'>
        <span class='pad5'>Send immediately</span>
      </div>
    </div>

    <div class='s24 pad5 flex-row-nowrap radio-row'  {{action 'sendLater' true}}>
      <div>
        {{#if sendLater}}
          {{inline-svg 'icons/check-circle-checked' class='svg-small'}}
        {{else}}
          {{inline-svg 'icons/check-circle-unchecked' class='svg-small'}}
        {{/if}}
      </div>
      <div class='s24 flex-row-nowrap flex-align-centre'>
        <span class='s06 pad5'>Send at:</span>
        <div class='s06'>
          <div class='input-container'>
            {{shared/inputs/element-input type='number' value=sendLaterTime}}
          {{!input-mask mask='[9]9:99' class='element-input' jitMasking=true greedy=false value=sendLaterTime}}
          </div>
        </div>
        <div class='s04'>
          <div class='input-container'>
            <div class='element-input'>
              {{shared/inputs/element-string-select selectOptions=ampm selectedValue=sendLaterAmPm}}
            </div>
          </div>
        </div>
        <div class='s08'>
          {{shared/inputs/element-datefield minDate=today value=sendLaterDate}}
        </div>
      </div>
    </div>

  </div>


<div class='s12 spacer'></div>
<button class='square-button accent-darker-bg' {{action 'setDelay'}}>Continue</button>
