<div class='s24 presentation-container flex-column-nowrap flex-align-centre'>

<!--  Title Bar -->
  {{shared/tools/segments/tool-title-bar title='New Message - Compose' closeAttribute=closeAttribute backTitle=backTitle backAttribute=backAttribute}}

<!-- compose message  -->
  <div class='s23 flex-column-nowrap flex-align-centre flex-justify-start'>
    {{#unless noMessageOptions}}
      <div class='nav-tab-container pad5'>
        <span class='nav-tab-tab {{if clientMessage "selected"}}' {{action 'setClientMessage' true}}>Client Message</span>
        <span class='nav-tab-tab {{unless clientMessage "selected"}}' {{action 'setClientMessage' false}}>General Message</span>
      </div>
      <div class='s24 text-centre flex-justify-centre font-three-quarter'>
        {{#if clientMessage}}
          <i>Client messages allow you to send a unique email to each client, and use client placeholders like "client_first_name" (replaced when the message is sent)</i>
        {{else}}
          <i>General messages allow you to send a single message to one or more recipients.  You can use placeholders for your own details, but not for the recipients</i>
        {{/if}}
      </div>
    {{/unless}}


  <!--  Recipients for client messages  -->
    {{#if clientMessage}}
      <div class='s24 flex-row-nowrap flex-align-centre'>
        {{#if canEditRecipients}}
          <div class='s21 m22 flex-row-wrap flex-align-centre'>
            To:
            {{#each message.recipients as |recipient|}}
              <span class='shared-message-compose-recipient-span'>{{recipient.fullName}} <span class='shared-tag-remove-container' {{action 'removeRecipient' recipient}}>{{inline-svg 'icons/close-circle' class='shared-tag-remove'}}</span>,</span>
            {{/each}}
          </div>
          <div class='s04 m02'>
            {{#shared/buttons/svg-circle-button hasBorder=true iconName='person' addButton=true displayLabel=true altClasses='accent-darker-fg' onClick=(action 'addRecipients')}}
                add clients
            {{/shared/buttons/svg-circle-button}}
          </div>
        {{else}}<!-- just list names as text if we don't want users editing recipients  -->
          <div class='s24 spacer'>
          </div>
          <div class='s21 m22 flex-row-wrap flex-align-centre'>
            To:
            {{#each message.recipients as |recipient|}}
              <span class='pad5'>{{recipient.fullName}}, </span>
            {{/each}}
          </div>
        {{/if}}
      </div>

    {{else}}

    <!--  Recipients for general messages  -->
      <div class='s24'>
        {{shared/inputs/element-input type=text value=message.to placeholder='to' helpMessage="Enter email addresses separated by ';'"}}
      </div>
      <div class='s24'>
        {{shared/inputs/element-input type=text value=message.cc placeholder='cc' helpMessage="Enter email addresses separated by ';'"}}
      </div>
      <div class='s24'>
        {{shared/inputs/element-input type=text value=message.bcc placeholder='bcc' helpMessage="Enter email addresses separated by ';'"}}
      </div>
    {{/if}}



    <!--  Message subject and body  -->
    <div class='s24'>
      {{shared/inputs/element-input type=text value=message.subject placeholder='message subject' helpMessage='The email subject attached to the message'}}
    </div>
    <div class='s24'>
      {{shared/inputs/element-textarea rows=bodyRows value=message.body placeholder='message' useTemplateFields=true templateFieldContext=templateFieldContext helpMessage="The message.  Use double curly-braces to add dynamic content from the fields available i.e: {{"}}
    </div>
  </div>


<!--  Attachments -->
  <div class='s24 spacer'>
  </div>
  <div class='s23 flex-row-wrap flex-align-centre'>
    Attachments:
    {{#each message.attachments as |attachment|}}
      <span class='shared-message-compose-recipient-span' {{action 'removeAttachment' attachment}}>{{attachment.name}}</span>
    {{else}}
      <span><i>no attachments</i></span>
    {{/each}}
  </div>
  <div class='s24 spacer'>
  </div>


<!-- template, attachments, delay, and send buttons -->
  <div class='s23 flex-row-nowrap flex-justify-space-around pad5'>
    <div class='s00 m02 spacer'>
    </div>
    {{#shared/buttons/svg-circle-button hasBorder=true iconName='message-select-template' displayLabel=true altClasses='accent-darker-bd' onClick=(action 'navigate' 'templates')}}
        use template
    {{/shared/buttons/svg-circle-button}}
    {{#shared/buttons/svg-circle-button hasBorder=true iconName='message-add-attachment' displayLabel=true altClasses='accent-darker-bd' onClick=(action 'navigate' 'addAttachments')}}
        attachments
    {{/shared/buttons/svg-circle-button}}
    {{#shared/buttons/svg-circle-button hasBorder=true iconName='message-set-delay' displayLabel=true altClasses='accent-darker-bd' onClick=(action 'navigate' 'delay')}}
        set delay
    {{/shared/buttons/svg-circle-button}}
    {{#shared/buttons/svg-circle-button hasBorder=true iconName='message-send' displayLabel=true altClasses='accent-darker-bd accent-darker-icon' hideUntilValid=true unhideAttribute=messageIsValid onClick=(action 'previewMessage')}}
        send
    {{/shared/buttons/svg-circle-button}}
    <div class='s00 m02 spacer'>
    </div>
  </div>




<!-- Select recipient(s)  -->
    {{#shared/tools/segments/tool-presentation-object show=recipients}}
      {{shared/views/clients/search/client-search multiSelect=true title='Select recipients' hasEmailFilter=true backAttribute=recipients backTitle='compose' closeAttribute=closeAttribute action='selectRecipients' continueButtonTitle='add recipient(s)'}}
    {{/shared/tools/segments/tool-presentation-object}}


<!--  template selection -->
    {{#shared/tools/segments/tool-presentation-object show=templates}}
      {{shared/views/messages/new/new-message-select-template message=message backAttribute=templates closeAttribute=closeAttribute}}
    {{/shared/tools/segments/tool-presentation-object}}


<!-- select attachments  -->
    {{#shared/tools/segments/tool-presentation-object show=addAttachments}}
      {{shared/views/documents/document-select-by-owner owners=documentOwners title='Select Attachments' backAttribute=addAttachments backTitle='compose' closeAttribute=closeAttribute action='selectAttachments' continueButtonTitle='attach docs'}}
    {{/shared/tools/segments/tool-presentation-object}}

<!--  set a delay for the message  -->
    {{#shared/tools/segments/tool-presentation-object show=delay}}
      {{shared/views/messages/new/new-message-set-delay message=message backAttribute=delay closeAttribute=closeAttribute}}
    {{/shared/tools/segments/tool-presentation-object}}

<!-- preview the message before sendingMessage  -->
    {{#shared/tools/segments/tool-presentation-object show=preview}}
      {{shared/views/messages/new/new-message-preview message=composedMessage closeAttribute=closeAttribute backTitle='compose' backAttribute=preview}}
    {{/shared/tools/segments/tool-presentation-object}}


</div>
