<!--  Title Bar -->
{{shared/tools/segments/tool-title-bar title='Add Recipients' closeAttribute=closeAttribute backAttribute=backAttribute backTitle='compose'}}
<div class='s24 spacer'>
</div>
<div class='s23 pad5 centre-text flex-justify-centre flex-row-nowrap font-three-quarter'>
  <i>Use the client search to send a unique message to one or more clients, using client driven template fields</i>
</div>
<div class='s23 flex-row-nowrap'>
  <div class='client-search-input-container'>
    {{input type="text" value=emailList placeholder="Enter email address(es).." class="client-search-search-input"}}
  </div>
  <button class='square-button accent-darker-bg' {{action 'addEmails'}}>add</button>
</div>
<div class='s23 flex-row-nowrap flex-justify-end'>
  <button class='square-button accent-darker-bg' {{action 'clientSearch'}}>client search</button>
</div>


<div class='s24 spacer'>
</div>



<!--  Client Search -->
<div class='s24 presentation-object white-bg {{unless clientSearch "off-right"}}'>
  {{shared/views/clients/search/client-search multiSelect=true title='Select clients' backAttribute=clientSearch backTitle='add recipients' hasEmailFilter=true closeAttribute=closeAttribute action='selectRecipients' continueButtonTitle='add recipient(s)'}}
</div>
