{{#if model}}
  <div class='tutorial-release-popover-container'>


    <div class='tutorial-release-popover'>

      <div class='tutorial-release-header'>
        {{model.title}}
        <div class='tutorial-release-popover-close' {{action 'close'}}>
          {{inline-svg 'icons/close-popover' class='svg-small white-icon'}}
        </div>
      </div>


      <div class='tutorial-releases-swiper-container'>
        {{#shared/elements/swiper-elements/swiper-page-container selectedIndex=selectedIndex model=model.helpItems}}
          {{#each model.helpItems as |item index|}}
            {{#shared/elements/swiper-elements/swiper-page selectedIndex=selectedIndex model=item index=index}}
              {{shared/help/tutorial-releases/tutorial-releases-page model=item}}
            {{/shared/elements/swiper-elements/swiper-page}}
          {{/each}}
        {{/shared/elements/swiper-elements/swiper-page-container}}
      </div>



      {{shared/elements/swiper-elements/swiper-page-indicator model=model.helpItems selectedIndex=selectedIndex}}



      <div class='s24 flex-column-nowrap flex-align-centre'>
        <div class='s23 m20 flex-row-nowrap flex-justify-centre text-centre'>
          Want to supercharge your Socket skills?  View a range of helpful tips and demos at the Socket Help Centre
        </div>
        <div class='pad5 text-centre'>
          <a href='http://help.socket.co.nz' target='_blank'>Go To Help Centre</a>
        </div>
      </div>
      <div class='s24 spacer'>
      </div>

    </div>
  </div>
{{/if}}
