<div class='tutorial-release-page-header'>
  {{model.title}}
</div>
<div class='tutorial-release-page-brief'>
  {{#if model.imagePath}}
    <div class='tutorial-release-page-image-container'>
      <img src={{model.imagePath}} class='tutorial-release-page-image' />
    </div>
  {{/if}}
  <span class='tutorial-release-page-brief-text' innerHTML={{model.description}}>

  </span>
</div>
<div class='tutorial-release-page-help-link'>
  {{#if model.videoPath}}
    <div class='s24 text-centre hover-underline cursor-pointer accent-darker-fg' {{action 'viewVideo'}}>
      Click here for a short video demonstration
    </div>

  {{/if}}

</div>
