<div class='structure-bar-graph-drag-container'>
  <div class='structure-bar-graph-column' style='height:{{barHeight}}'>
  </div>
</div>
<div class='structure-bar-graph-column-label'>
  {{model.summary}}
</div>
