  <div class='s24 table-column-header-row'>
    <div class='s01 spacer'>
    </div>
    <div class='s06 column-header'>
      lender
    </div>
    <div class='s05 column-header'>
      loan type
    </div>
    <div class='s06 column-header text-end'>
      curr value/limit
    </div>
    <div class='s06 column-header text-end'>
      proposed value/limit
    </div>
  </div>
  <div class='s24 flex-column-nowrap'>

    {{#each model.loanApplicationBlob.retainedLiabilities as |liability|}}
      {{shared/views/loan-applications/proposition/proposition-liability-single-line model=liability loanApplication=model possibleOwners=model.borrowerParty.clients}}
    {{else}}
      {{shared/tables/empty-state message="No loans recorded - click 'add loan' to record each loan"}}
    {{/each}}
    <div class='s24 flex-justify-end table-total'>
      Total: {{format-currency model.loanApplicationBlob.totalRetainedLiabilities true}}
    </div>

    <div class='s24 flex-row-wrap flex-align-centre pad5'>
      <div class='s01'>
        {{shared/inputs/element-colour-indicator-selector colour="rgba(152, 195, 121, 1.00)"}}
      </div>
      <div class='s23 pad5 font-three-quarter'>
        Client will consider refinancing this loan to a new lender
      </div>
      <div class='s01'>
        {{shared/inputs/element-colour-indicator-selector colour="rgba(224, 108, 117, 1.00)"}}
      </div>
      <div class='s23 pad5 font-three-quarter'>
        Client will NOT refinance this loan to a new lender
      </div>
    </div>
    <div class='s24 spacer'>
    </div>
    <div class='row-divide'>
    </div>

    <div class='s24 flex-justify-centre'>
      <div class='svg-button-container'>
        {{shared/buttons/svg-circle-button hasBorder=true iconName='liability' addButton=true displayLabel=true label="add liability" altClasses='accent-darker-fg' onClick=(action 'addLiability')}}
      </div>
      <div class='svg-button-container'>
        {{shared/buttons/svg-circle-button hasBorder=true iconName='save' label='save' loading=saving altClasses='green-fg' onClick=(action 'save')}}
      </div>
    </div>
  </div>
