
<div class='s24 spacer'>
</div>
<div class='s22 m20 text-centre font-three-quarter'>
  Record the value of NEW lending.  <br/>
  For topups record only the value of the topup.   <br/>
  For straight refinances without additional lending, this value will be zero.
</div>
<div class='s24 spacer'>
</div>
<div class='s24 flex-justify-centre'>
  <div class='s20 m12'>
    {{shared/inputs/element-currencyfield value=model.applicationValue placeholder='new lending' centre=true}}
  </div>
</div>

<div class='s24 spacer'>
</div>
<div class='row-divide'>
</div>

<div class='s24 flex-justify-centre'>
  <div class='svg-button-container'>
    {{shared/buttons/svg-circle-button hasBorder=true iconName='save' label='save' loading=saving altClasses='green-fg' onClick=(action 'save')}}
  </div>
</div>
