
<div class='s24 flex-row-nowrap flex-align-stretch' >
  <div class='s24 flex-shrink-grow flex-align-centre flex-row-nowrap'>
    {{#if isProposed}}
      <div class='s18'>
        {{shared/inputs/address-input-with-lookup address=model.address helpMessage='The address of the security. If this is yet to be confirmed, record "TBC" in the street address'}}
      </div>
    {{else}}
    <div class='s01'>
      {{shared/inputs/element-colour-indicator-selector optionsArray=refinanceOptions value=model.loanPartySecurityLink.willRefinance title="Will Refinance"}}
    </div>
      <div class='s12'>
        {{shared/inputs/address-input-with-lookup address=model.address  helpMessage='The address of the security. If this is yet to be confirmed, record "TBC" in the street address'}}
      </div>
      <div class='s05'>
        {{shared/inputs/element-string-select  value=bank selectOptions=bankNames}}
      </div>
    {{/if}}
    <div class='s06'>
      {{shared/inputs/element-currencyfield value=model.value rightAlign=true helpMessage='Value may need to be supported by an independent valuation or sale and purchase agreement'}}
    </div>


  </div>
  {{#shared/buttons/table-row-options-button}}
    <div class='icon-flex-div' {{action 'editLiability'}} title='Edit'>
      {{inline-svg 'icons/buttons/table-options-edit' class='svg-smaller white-icon hover-opaque'}}
    </div>
    <div class='icon-flex-div' {{action 'deleteLiability'}} title='Delete'>
      {{inline-svg 'icons/buttons/table-options-delete' class='svg-smaller white-icon hover-opaque'}}
    </div>
  {{/shared/buttons/table-row-options-button}}
</div>





{{#if model.showDetails}}
  {{#shared/tools/tools-popover-tool-container title=model.name size='medium' closeAttribute=model.showDetails}}
    {{#if isProposed}}
      {{shared/views/financials/security-details-popover model=model loanParty=loanApplication.borrowerParty loanApplication=loanApplication closeAttribute=model.showDetails isCurrent=isCurrent}}
    {{else}}
      {{shared/views/financials/asset-details-popover model=model loanApplication=loanApplication closeAttribute=model.showDetails possibleOwners=possibleOwners}}
    {{/if}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}
