  <div class='s24 table-column-header-row'>
    {{#if isProposed}}
      <div class='s18 m20 column-header'>
        address
      </div>
    {{else}}
      <div class='s01 spacer'>
      </div>
      <div class='s12 m14 column-header'>
        address
      </div>
      <div class='s05 column-header'>
        mortgagor
      </div>
    {{/if}}
    <div class='s06 m04 column-header text-end'>
      value
    </div>
  </div>
  <div class='s24 flex-column-nowrap'>
    {{#if isProposed}}
      {{#each model.loanApplicationBlob.proposedSecurities as |security|}}
        {{shared/views/loan-applications/proposition/proposition-security-single-line model=security loanApplication=model isProposed=true}}
      {{else}}
        {{shared/tables/empty-state message="No proposed securities loaded - click 'add security' to record each security"}}
      {{/each}}
    {{else}}
      {{#each model.loanApplicationBlob.retainedSecurities as |security|}}
        {{shared/views/loan-applications/proposition/proposition-security-single-line model=security loanApplication=model possibleOwners=model.borrowerParty.clients}}
      {{else}}
        {{shared/tables/empty-state message="No securities loaded - click 'add security' to record each security"}}
      {{/each}}
    {{/if}}
    <div class='s24 flex-justify-end table-total'>
      {{#if isProposed}}
        Total: {{format-currency model.loanApplicationBlob.totalProposedSecurities true}}
      {{else}}
        Total: {{format-currency model.loanApplicationBlob.totalRetainedSecurities true}}
      {{/if}}
    </div>

    {{#if isProposed}}
      <div class='s24 pad5 text-centre flex-justify-centre'>
        <b>Tip:</b> If the proposed new property is unknown, record the address as 'TBA'
      </div>
    {{else}}
      <div class='s24 flex-row-wrap flex-align-centre pad5'>
        <div class='s01'>
          {{shared/inputs/element-colour-indicator-selector colour="rgba(152, 195, 121, 1.00)"}}
        </div>
        <div class='s23 pad5 font-three-quarter'>
          Client will consider providing/refinancing this security to a new lender
        </div>
        <div class='s01'>
          {{shared/inputs/element-colour-indicator-selector colour="rgba(224, 108, 117, 1.00)"}}
        </div>
        <div class='s23 pad5 font-three-quarter'>
          Client will NOT provide/refinance this security to a new lender
        </div>
      </div>
    {{/if}}


    <div class='s24 spacer'>
    </div>
    <div class='row-divide'>
    </div>

    <div class='s24 flex-justify-centre'>
      <div class='svg-button-container'>
        {{shared/buttons/svg-circle-button hasBorder=true iconName='security' addButton=true displayLabel=true label="add security" altClasses='accent-darker-fg' onClick=(action 'addSecurity')}}
      </div>
      <div class='svg-button-container'>
        {{shared/buttons/svg-circle-button hasBorder=true iconName='save' label='save' loading=saving altClasses='green-fg' onClick=(action 'save')}}
      </div>
    </div>
  </div>
