
  <!--div class='proposition-bar-chart-containerx'>
    <canvas id="propositionBarChart" class='proposition-bar-chart'  ></canvas>
  </div-->
  <div class='s24 spacer'>
  </div>

  <div class='s24 flex-row-nowrap flex-justify-start'>
    <b>Security Proposition: </b>
  </div>
  <div class='s24 flex-row-nowrap flex-align-centre table-single-line pad5 cursor-pointer' {{action 'viewPopover' 'existingSecurities'}}>
    <div class='s20'>
      Existing Securities To Be Kept/Refinanced
    </div>
    <div class='s04 flex-justify-end'>
      {{format-currency model.loanApplicationBlob.totalRetainedSecurities}}
    </div>
  </div>
  <div class='s24 flex-row-nowrap flex-align-centre table-single-line pad5 cursor-pointer' {{action 'viewPopover' 'proposedSecurities'}}>
    <div class='s20'>
      Proposed New Securities
    </div>
    <div class='s04 flex-justify-end'>
      {{format-currency model.loanApplicationBlob.totalProposedSecurities}}
    </div>
  </div>
  <div class='s24 flex-justify-end pad5'>
    <b>Total: {{format-currency model.loanApplicationBlob.totalSecurityProposition}}</b>
  </div>



  <div class='s24 flex-row-nowrap flex-justify-start'>
    <b>Lending Proposition: </b>
  </div>
  <div class='s24 flex-row-nowrap flex-align-centre table-single-line pad5 cursor-pointer' {{action 'viewPopover' 'existingLending'}}>
    <div class='s20'>
      Existing Lending To Be Retained/Refinanced
    </div>
    <div class='s04 flex-justify-end'>
      {{format-currency model.loanApplicationBlob.totalRetainedLiabilities}}
    </div>
  </div>

  <div class='s24 flex-row-nowrap flex-align-centre table-single-line pad5 cursor-pointer' {{action 'viewPopover' 'newLending'}}>
    <div class='s20'>
      Proposed New Home Lending
    </div>
    <div class='s04 flex-justify-end'>
      {{format-currency model.loanApplicationBlob.newLending}}
    </div>
  </div>
  <div class='s24 flex-justify-end pad5'>
    <b>Total: {{format-currency model.loanApplicationBlob.lendingProposition}}</b>
  </div>



  <div class='s24 flex-justify-end pad5'>
    <b>Proposed LVR: {{format-percent model.loanApplicationBlob.lvr}}</b>
  </div>








{{#if showExistingLiabilities}}
  {{#shared/tools/tools-popover-tool-container title='Retained/Refinanced Lending' size='medium' closeAttribute=showExistingLiabilities}}
    {{shared/views/loan-applications/proposition/proposition-liability-listing model=model closeAttribute=showExistingLiabilities}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}

{{#if showNewLending}}
  {{#shared/tools/tools-popover-tool-container title='Proposed Lending' size='small' closeAttribute=showNewLending}}
    {{shared/views/loan-applications/proposition/proposition-new-lending model=model closeAttribute=showNewLending}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}


{{#if showExistingSecurities}}
  {{#shared/tools/tools-popover-tool-container title='Retained/Refinanced Securities' size='medium' closeAttribute=showExistingSecurities}}
  {{shared/views/loan-applications/proposition/proposition-security-listing model=model closeAttribute=showExistingSecurities}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}

{{#if showProposedSecurities}}
  {{#shared/tools/tools-popover-tool-container title='Proposed Securities' size='medium' closeAttribute=showProposedSecurities}}
  {{shared/views/loan-applications/proposition/proposition-security-listing model=model closeAttribute=showProposedSecurities isProposed=true}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}
