
<div class='s24 flex-row-nowrap flex-align-stretch' >
  <div class='s24 flex-shrink-grow flex-align-centre flex-row-nowrap'>
    <div class='s01'>
      {{shared/inputs/element-colour-indicator-selector optionsArray=refinanceOptions value=model.loanPartyLiabilityLink.willRefinance title="Will Refinance"}}
    </div>
    <div class='s05'>
      {{shared/inputs/element-select value=model.bank listName='bank'}}
    </div>
    <div class='s06'>
      {{shared/inputs/element-string-select value=loanType selectOptions=loanTypes}}
    </div>
    <div class='s06'>
      {{shared/inputs/element-currencyfield value=model.owing rightAlign=true}}
    </div>
    <div class='s06'>
      {{shared/inputs/element-currencyfield value=model.loanPartyLiabilityLink.limitAfterDrawDown rightAlign=true}}
    </div>
  </div>
  {{#shared/buttons/table-row-options-button}}
    <div class='icon-flex-div' {{action 'editLiability'}} title='Edit'>
      {{inline-svg 'icons/buttons/table-options-edit' class='svg-smaller white-icon hover-opaque'}}
    </div>
    <div class='icon-flex-div' {{action 'deleteLiability'}} title='Delete'>
      {{inline-svg 'icons/buttons/table-options-delete' class='svg-smaller white-icon hover-opaque'}}
    </div>
  {{/shared/buttons/table-row-options-button}}
</div>





{{#if model.showDetails}}
  {{#shared/tools/tools-popover-tool-container title=model.name size='medium' closeAttribute=model.showDetails}}
    {{shared/views/financials/liability-details-popover model=model loanApplication=loanApplication closeAttribute=model.showDetails showLiabilitySettlementAction=true possibleOwners=possibleOwners}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}
