
.input-container {
  position: relative;
  margin-top: 1rem;
  width: 100%;
	padding:0 5px 0 3px;
  z-index: 0;

  &.no-placeholder {
    margin-top: 0;
  }
}

.element-input-row { //for inputs that have labels like percentfield
  @include flexbox();
  @include flex-flow(row nowrap);
  &.is-centred{
    justify-content: center;
  }
}

.element-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0);
  border-radius: 0;
  outline: none;
  height: 2rem; //was 3rem
  width: 100%;
  font-size: 1rem;
  margin: 0 0 0.5rem;
  padding: 0;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  transition: all 0.3s;
  &.has-border {
    //border-bottom: 1px solid #9e9e9e;
    border-bottom: 1px solid #DCDCDC !important;
  }

  &.valid {
    border-bottom: 1px solid $green;
    box-shadow: 0 1px 0 0 $green;
  }
  &:focus {
    border-bottom: 1px solid $accent !important;
    box-shadow: 0 1px 0 0 $accent !important;
  }
  &:focus + .element-placeholder {
    @include transform(translateY(-120%)); //was 140%
    font-size: 0.8rem;
    color: $accent !important;
  }

  &.no-placeholder {
    margin: 0 0 0.1rem;
  }
}

.element-placeholder {
  color: #9e9e9e;
  position: absolute;
  top: 0.5rem; //was 0.8rem
  left: 3px;
  font-size: 1rem;
  cursor: text;
  white-space: nowrap;
  transition: transform 0.2s ease-in-out;
  z-index: -1;

  &.is-reduced {
    @include transform(translateY(-120%)); //was 140%
    font-size: 0.8rem;
    cursor: inherit;

    &.is-centred {
      transform: translate(-50%, -120%);
      left: 50%;
    }
  }
  &.is-centred {
    transform: translateX(-50%);
    left: 50%;
  }
}

.element-select {
  border-radius: 0;
  -webkit-appearance: none;
  width: 100%;
  cursor: pointer;
}

.element-textarea {
	@include flex(0 1 100%);
  width:100%;
	font-size: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	//border-bottom: 1px solid #9e9e9e;
	border-bottom: 1px solid #DCDCDC !important;
  background-color: transparent;

  &.valid {
    border-bottom: 1px solid $green !important;
    box-shadow: 0 1px 0 0 $green !important;
  }
  &:focus {
    border-bottom: 1px solid $accent !important;
    box-shadow: 0 1px 0 0 $accent !important;
  }
  &:hover {
    background-color: rgba(0,0,0,0.02);
  }
  &:focus + .element-placeholder {
    color: $accent !important;
  }
}

//Checkbox (card flipper):
.checkContainer {
	background-color:rgba(0, 0, 0, 0);
	@include flex(1 1 100%);
	position: relative;
	height: 2rem;
  margin-bottom: 0.5rem;
	//margin-top: 0.5em;
	perspective: 500px;
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
  //border-bottom: 1px solid #9e9e9e;
  border-bottom: 1px solid #DCDCDC !important;

  &.no-placeholder {
    margin-bottom: 0rem;
  }
}

.checkCard {
	position: absolute;
	cursor: pointer;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transition: transform 1s;
	-webkit-transition: transform 1s;
	-moz-transition: transform 1s;
	font-size: 1em;
	height:1rem;
  margin-top: 0.5rem;
	z-index:5;
	width:100%;
}

.checkCard label{
	cursor: pointer;
	display: block;
 	position: absolute;
 	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}
.checkCard label.centred{
	margin-left: -20px;
	width:40px;
	@include respond-to(small) {
		margin-left: 0;
	}
}

.checkFront {
	transform: rotateX( 0deg );
	-webkit-transform: rotateX( 0deg );
	-moz-transform: rotateX( 0deg );
}

.checkBack {
	margin-top: -2px;
	transform: rotateX( 180deg );
	-webkit-transform: rotateX( 180deg );
	-moz-transform: rotateX( 180deg );
}

.flipped {
  transform: rotateX( 180deg );
  -webkit-transform: rotateX( 180deg );
  -moz-transform: rotateX( 180deg );
}


//radio:
.radio-container {
  width:100%;
  margin: 0.5rem 0;
  @include flexbox();
  @include flex-flow(column nowrap);
  @include align-content(flex-start);
  @include align-items(flex-start);
  @include justify-content(flex-start);
}

.radio-title {
  height:1.5rem;
  width: 100%;
  @include flexbox();
  @include flex-flow(row nowrap);
  @include align-content(flex-end);
  @include align-items(flex-end);
  @include justify-content(flex-start);
}


.radio-row {
  height:2.5rem;
  width: 100%;
  @include flexbox();
  @include flex-flow(row nowrap);
  @include align-content(center);
  @include align-items(center);
  @include justify-content(flex-start);
  &:hover {
    background-color: rgba(0,0,0,0.05);
    cursor: pointer;
  }
}


//segmentbuttons:
.segment-container {
  margin-top: -0.25rem;
  width: 98%;
  border: 1px solid $primary;
  border-radius: 3px;
  @include flexbox();
  @include flex-flow(row nowrap);
}

.segment-option {
  color: $primary;
	//border: solid 1px $primary;
	font-size: 1em;
	text-align: center;
	margin-right: -1px;
	padding: 0.25rem 1px;
	cursor: pointer;
  @include easer(0.2s);
	@include flex(1 0 auto);
	@include justify-content(center);

}

.segment-option ~ .segment-option {
  border-left: 1px solid $primary;
  margin-right: 0px;
}

.segment-option.selected{
	color: $white;
  font-weight: bold;
	background-color: $accent;
}

//termfield:
.termField { //restricts textfield size
	max-width:20px !important;
}
.termLabel { // the 'yrs' and 'mths' labels
	@include flexbox();
	margin-top: 1.5em;
	margin-right: 5px;
	color: inherit;
	font-size: 0.5em;
	vertical-align: baseline;
	@include align-self(flex-start);
}

//percentField
.percent-field {
	max-width:45px !important;
	text-align: right;
}
 //currencyField:
 .element-currency-field-hidden-element {
   opacity: 0;
 }
 .element-currency-field-currency-label {
   height: 1.5rem;
   padding: 0.4rem 0 0.1rem;
   width: calc(100% - 8px);
   position: absolute;
   color: initial;
   top: 0;
   z-index: -1;
   &.is-centred{
     text-align: center;
   }
   &.is-right-aligned{
     text-align: right;
   }
 }

//dateField:
.dateField { //restricts textfield size
	max-width:20px !important;
}

.pika-button {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 5px;
  color: $primary; //#666;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  background: #f5f5f5;


  &:hover {
    background-color: $accentLightest;
  }

}

.is-selected .pika-button {
  background-color: $accent;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}
.is-today .pika-button {
  color: $accentDarkest;
  font-size: 1.02rem;
  border-radius: 3px;
}

.dateFieldDDMMYY {
	z-index: -1;
	color: $lightGrey;
	font-size: 1em;
	margin-top: 0.5em;
}

label.dateFieldDDMMYY {
	margin-left: -20px;
}

.element-days-before-after-number {
  width: 3rem;
}


.element-string-select-container{
  width: auto !important;
  @include flexbox();
  @include align-items(center);
  @include align-content(center);
}

.element-string-select {
  border-radius: 0;
  padding-left: 3px;
  -webkit-appearance: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  @include flexbox();

}

.element-tick-box-container {
  cursor: pointer;
  height: 3.5rem;
  @include flexbox();
  @include align-items(center);
  @include align-content(center);

  &.no-placeholder {
    height: 2.5rem;
  }
}

.element-tick-box-svg {
  margin: 0 5px 0 0;
  display: flex;
}

//for element-number-plus-minus:
.element-number-plus-minus-component-class {
  padding-right: 0 !important;
  @include flex-flow(row nowrap);
}

.element-number-plus-minus-input-container {
  height: calc(2rem + 1px);
  border-radius: 3px;
  border: 1px solid #9e9e9e;
  overflow: hidden;
  min-width: 7.5rem;
  margin: 3px;

  @include flexbox();
  @include flex-flow(row nowrap);
  @include flex(1 0 auto);
}

.element-number-plus-minus-input {
  min-width: 2.5rem;
  text-align: center;
  @include flex(1 0 30%);
}
.element-number-plus-minus-shape {
  background-color: $accentDarkest;
  opacity: 0.5;
  color: white;
  font-size: 1.3rem;
  margin: -1px; //this to ensure no 1px gap between item and container border
  min-width: calc(2.5rem + 2px);
  height: calc(2rem + 2px);
  @include flex(1 0 auto);
  @include justify-content(center);
}


//for element-incrementer:
.input-slider-container {
  width: 100%;
  margin: 5px;
  position: relative;
}

.element-increment-yield {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.element-increment-container {
  display: flex;
  width: calc(100% - 10px);
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
}

.element-increment-bar {
  cursor: pointer;
  position: relative;
  //width: calc(100% - 20px);
  flex: 1 0 auto;
  margin: 0 2px;
  height: 3px;
  background-color: rgba(140, 140, 140, 0.3);
}

.element-increment-icon {
  position: absolute;
  height: 25px;
  width: 25px;
  top: -11px;
  left: 50%;
  margin-left: -12px;
  cursor: pointer;
  z-index: 20;
  //@include easer(0.05s);

  &.drag-ghost {
    z-index: 21;
    //background-color: rgba(140, 140, 140, 0.3);
  }

}

.element-increment-subtext {
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
  color: rgba(140, 140, 140, 0.3);
  font-weight: bold;
  cursor: pointer;
  //@include flex(1 1 auto);
  @include justify-content(centre);
}

//for slider:
.element-slider-icon {
  position: absolute;
  height: 25px;
  width: 25px;
  top: -11px;
  left: 0;
  //margin-left: -12px;
  cursor: pointer;
  z-index: 20;
  //@include easer(0.05s);

  &.drag-ghost {
    z-index: 21;
    //background-color: rgba(140, 140, 140, 0.5);
  }

}

//svg for help messages
.input-help {
  position: absolute;
  right: 6px;
  top: -10px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  @include respond-to(small){
    width: 25px;
    height: 25px;
  };
}
.input-help-svg {
  width: 18px;
  height: 18px;
  cursor: pointer;
  @include respond-to(small){
    width: 25px;
    height: 25px;
  };
}



//Address input:
.address-entry-container {
  position: relative;
  width:100%;

}

/*
.address-lookup-button {
  position: absolute;
  right: 15px;
  top: 5px;
  z-index: 5;
  cursor: pointer;
  opacity:0.6;
  &:hover {
    opacity: 1;
  }
}
*/
.address-lookup-list-container{
  position: absolute;
  width: 98%;
  z-index: 10;
  top: 2.1rem;
  overflow: hidden;
  max-height: 0px;
  margin-bottom: 10px; //this to ensure a gap between bottom of popover and bottom of swiper

  @include easer(0.4s);

  &.in-focus {
    max-height: 14.5rem;

  }
}
.address-lookup-list {
  background-color: $white;
  border-radius: 3px;
	box-shadow: 1px 1px 1px #888888;
  border:1px solid #888888;
  @include flex-flow(column nowrap);
  @include justify-content(flex-start);

}

.address-lookup-list-subheader {
  width: 100%;
  height: 1.2rem;
  font-size: 0.8rem;
  padding: 0.2rem;
  columns: $primary;
  font-style: italic;

}

.google-icon {
  max-height: 1rem;
}

.address-lookup-list-item {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover{
    background-color: rgba(0,0,0,0.05);
  }
}



.element-colour-indicator {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  &:hover {
    opacity: 0.8;
  }
}
