<div class='s03 m02 flex-justify-centre flex-align-centre'>
  {{#if isSelected}}
    {{inline-svg 'icons/check-circle-checked' class='svg-small'}}
  {{else}}
    {{inline-svg 'icons/check-circle-unchecked' class='svg-small'}}
  {{/if}}
</div>
<div class='s21 m22'>
  {{model.name}}
</div>
