//icon suite Colours:

$white: white;
$black: black;
$lightGrey: #C6DFEA; //for pale instructions, empty tables, etc
$primary: #394A58;
$secondary: #589199;
$tertiary: #00C6D7;
$accent: #41ACCC;
$accentDarkest: #057FA1;
$accentDarker: #2199BB;
$accentLighter: #66C2DC;
$accentLightest: #97D9EC;
$accentLightestest: #C8EEF9;





//from the icon suite:
$iconblue: #48A0DC;
$iconpurple: #9B7CAB;
$iconred: #ED7261;
$icongreen: #88C057;
$icongrey: #E6E6E6;
$iconyellow: #FFCC66;

$white: white;
$black: black;
$lightGrey: #C6DFEA; //for pale instructions, empty tables, etc
$primary: #394A58;
$red:#f44336;
$orange:#ff9800;
$green:#4caf50;
$blue:#2196f3;
$ink:#607d8b;

$turqoise: #41ACCC;
$turquoise2: #48dcce;
$grey1: #DCDCDC;
