
<div class='element-table'>
  <div class='element-table-header {{colourClass}}'>
    {{#if type}}
      {{shared/buttons/add-to-table-type-selector optionTypes=optionTypes bgColour=colourClass action='addItem'}}
    {{else}}
      <div class='type-selector-container'>
        <div class='type-selector-options-container'>
          <button class='svg-button hover-opaque type-selector-add-button' {{action 'addItem'}}>
            {{inline-svg "icons/tables/table-add-type-button" class='svg-medium' }}
          </button>
        </div>
      </div>
    {{/if}}

    {{#if canToggle}}
      <div class='element-table-header-title selectable' {{action 'toggleTable'}}>
        <label >{{recordCount}} {{title}} </label>
        <span class='element-table-expand-contract'>{{#if showTable}}{{inline-svg "icons/table-contract" class='svg-tiny' }}{{else}}{{inline-svg "icons/table-expand" class='svg-tiny' }}{{/if}}</span>
      </div>
    {{else}}
      <div class='element-table-header-title'>
        <label >{{recordCount}} {{title}} </label>
      </div>
    {{/if}}
    <div class='element-table-header-righthand-value'>
      {{#if totalValue}}
        {{shared/labels/label-with-placeholder-option value=totalValue currency=true}}
      {{/if}}
    </div>

  </div>

  {{yield showTable}}
</div>
