<div class='element-table-row-display {{unless showDisplayRow "in-edit-mode"}}'  {{action 'toggleViewOptions'}}>
  <div class='element-table-row-element s00 m01'>
    {{inline-svg model.iconPath class='svg-small'}}
  </div>
  <div class='element-table-row-element s16 m11'>
    <label class='pad5'>{{shortenedDocumentName}}</label>
  </div>
  <div class='element-table-row-element s00 m06'>
    <label>{{model.documentPurpose.name}}</label>
  </div>
  <div class='element-table-row-element s08 m06 flex-justify-end'>
    <label class='font-three-quarter'>{{lastModifiedDisplay}}</label>
  </div>
</div>


<div class='element-table-row-edit  {{if showEditRow "in-edit-mode"}}'>
  <div class='element-table-row-element s24 m044'>
    {{shared/inputs/element-input type='text' value=model.name placeholder='file name' helpMessage='The name of the file'}}
  </div>
  <div class='element-table-row-element s24 m044'>
    {{shared/inputs/element-select value=model.documentPurpose placeholder='purpose' optionsList=documentPurposes helpMessage='What the document will be used for'}}
  </div>
</div>


<div class='element-table-row-options {{if showOptions "in-focus"}}'>
  {{shared/assemblies/edit-save-delete model=model modelName='document' edit=inEditMode}}
  <div class='element-save-delete edit' {{action 'viewDocument' model}} title='View document'>
    {{inline-svg 'icons/view' class='element-delete-icon'}}
  </div>
</div>
