{{!shared/tools/segments/tool-title-bar title=model.name closeAttribute=closeAttribute}}
<div class='s23 m22 flex-column-nowrap flex-no-shrink-grow'>
  <div class='s24 spacer'>
  </div>

  <div class='s24 flex-row-wrap'>
    <div class='s04 m02 flex-justify-centre flex-align-centre'>
      {{inline-svg model.iconPath class='svg-small'}}
    </div>
    <div class='s24 m10'>
      {{shared/inputs/element-input type='text' value=model.name placeholder='document name'}}
    </div>
    <div class='s20 m12'>
      {{shared/inputs/element-select value=model.documentPurpose placeholder='purpose' listName='documentPurpose'}}
    </div>
    <div class='s24 spacer'>
    </div>


    <div class='s06 m04 spacer'>
    </div>
    <!--div class='s24 flex-justify-centre'>
      This document belongs to:
    </div>
    <div class='s24 flex-justify-centre'>
      {{shared/elements/gravatars/ownership-gravatars selectedArray=model.clients model=loanApplication.clients }}
    </div-->


  </div>




  <div class='s24 spacer'>
  </div>
  <div class='s24 flex-justify-centre'>
    <div class='s24 flex-justify-centre'>
      {{shared/assemblies/undo-save-delete   isSaving=isSaving undo=(action 'undoChanges') save=(action 'saveRecord') delete=(action 'deleteRecord')}}
    </div>
  </div>

  <div class='s24 spacer'>
  </div>
  <div class='s24 spacer'>
  </div>


</div>
