{{yield}}
<div class='s24 flex-row-nowrap flex-justify-start flex-align-centre text-start pad5'>
  {{#if multiSelect}}
    <div class='s04 m02 flex-justify-centre'>
      {{#if isSelected}}
        {{inline-svg 'icons/check-circle-checked' class='svg-small-medium'}}
      {{else}}
        {{inline-svg 'icons/check-circle-unchecked' class='svg-small-medium'}}
      {{/if}}
    </div>
    <div class='s19 m20 flex-justify-start'>
      <label class='pad5'>{{model.name}} {{#if model.documentPurpose}}({{model.documentPurpose.name}}){{/if}}</label>
    </div>
  {{else}}
    <div class='s03 m02 flex-justify-centre'>
      {{inline-svg model.iconPath class='svg-small'}}
    </div>
    <div class='s21 m20 flex-justify-start'>
      <label class='pad5'>{{model.name}} {{#if model.documentPurpose}}({{model.documentPurpose.name}}){{/if}}</label>
    </div>
  {{/if}}
</div>
