<!--  'This Many Docs Selected' and select-all button above listing-->
{{#if multiSelect}}
  <div class='s23 flex-row-nowrap flex-justify-space-between pad5'>
    <div class='accent-darkest-fg selectable'>{{selectedDocuments.length}} documents selected</div>
    <div class='accent-darkest-fg selectable' {{action 'toggleSelectAll'}}>{{#if allSelected}}un{{/if}}select all</div>
  </div>
{{/if}}


<div class='s23 shared-client-search-results-container flex-shrink-grow relative'>
  <div class='s24 absolute'>
  {{#each model as |document|}}
    {{shared/views/documents/document-select-table-row model=document multiSelect=multiSelect selectedDocuments=selectedDocuments click=(action 'selectDocument' document)}}
  {{else}}
    <div class='s24 pad5 text-centre'>
      No documents
    </div>

  {{/each}}
  </div>
</div>

<!--  Add Client Button (component at bottom) and Continue Button when using multiSelect-->
<div class='s23 flex-justify-end'>
  <!--button class='square-button accent-darker-bg' {{action 'addDocument'}}>upload document</button-->
  {{#if multiSelectContinue}}
    <button class='square-button accent-darker-bg' {{action 'multiSelectContinue'}}>{{continueButtonTitle}}</button>
  {{/if}}
</div>


<!--  Add client component can be called - pops over the search screen  -->
{{#if addDocument}}
  {{#shared/tools/tools-popover-tool-container title='New Client' closeAttribute=addDocument size='small'}}
      ADD DOCUMENT
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}
