
<!--  Title Bar -->
{{shared/tools/segments/tool-title-bar title=title closeAttribute=closeAttribute backAttribute=backAttribute backTitle=backTitle}}

  <div class='s23 pad5'>
    <div class='s24 m12'>
      {{shared/inputs/element-select optionsList=documentOwners value=documentOwner placeholder='document owner' helpMessage="Select an owner to view any documents you may have saved against them"}}
    </div>
  </div>

{{shared/views/documents/document-select action='selectDocuments' multiSelect=true documentOwner=documentOwner continueButtonTitle='attach docs'}}








{{yield}}
