<div class='delete-confirm-popover'>
  {{inline-svg 'icons/alert' class='svg-medium red-icon'}}
  <div class='s24 spacer'>
  </div>
  <div class='s24 pad5 text-centre'>
    Are you sure you want to delete this {{modelName}}?
    <br/>
    <br/>
    This cannot be undone!
  </div>
  <div class='s24 spacer'>
  </div>
  <div class='s24 flex-row-nowrap flex-justify-centre'>
    <div class='s12 flex-justify-centre'>
      <button class='square-button accent-darker-bg' {{action 'cancel'}}>cancel</button>
    </div>
    <div class='s12 flex-justify-centre'>
      <button class='square-button red-bg' {{action 'confirmDeletion'}}>delete</button>
    </div>
  </div>

</div>
