<div style={{progressWidth}} class='section-progress-indicator done'></div>
{{#if complete}}
  {{inline-svg 'icons/ok' class='svg-tiny progress-bar-complete-tick'}}
{{else}}
  {{#if alert}}
    {{inline-svg 'icons/exclamation' class='svg-tiny progress-bar-complete-tick'}}
  {{/if}}
{{/if}}

{{#if helpMessageNotOn}}
  {{#tooltip-on-element}}
      {{helpMessage}}
  {{/tooltip-on-element}}
{{/if}}
