{{#if helpMessageNotOn}}
<span class='help-icon' tabindex='-1'>
  <!--
  {{inline-svg 'icons/help-message' class='input-help-svg'}}
  {{#tooltip-on-element showOn='click'}}
      {{helpMessage}}
  {{/tooltip-on-element}}
  -->
</span>
{{/if}}
