
//textcomplete for textarea
.textcomplete-dropdown {
  z-index: 100000 !important; //addon set it to 100
}

.ember-tooltip {
  background-color: $primary;
  z-index: 100000 !important;
}



// for the notify component
.ember-notify-default {
  z-index: 100000 !important;
}

.ember-notify {
	color: white;
	opacity: 0.95;
  z-index: 100000 !important;
}
.ember-notify.error {
	background-color: $iconred;
	border-color: $iconred;
}
.ember-notify.success {
	background-color: $icongreen;
	border-color: $icongreen;
}
.ember-notify.info {
	background-color: $accentDarker;
	border-color: $accentDarker;
}
//override as original was buggy
.ember-notify-hide {
  @include easer(0.25s);
  transform: translateX(150%);

}


//for datePicker:
.pika-single {
  z-index: 100000;
}
