
.hover-opaque {
  &:hover{
    opacity: 0.8;
  }
}

.hover-underline {
  &:hover {
    text-decoration: underline;
  }
}

.hover-highlight {
  &:hover {
    background-color: rgba(242, 242, 242, 1);
  }
}

.cursor-pointer {
  cursor: pointer;
}

.selectable {
  cursor: pointer;
  &:hover{
    opacity: 0.8;
  }
}

.not-selectable { //for overriding some classes that might accidentally have this
  cursor: inherit !important;
  &:hover{
    opacity: 1 !important;
  }
}

.ease-in-out{
  @include easer(0.4s);
}

.invisible { //used to hide things we want to keep that space (like conditional on a value)
  visibility: hidden;
}

.hidden {
  display: none;
}

.reduced-opacity {
  opacity: 0.5;
}

.scroll-y {
  overflow-y: auto;
}

.label-ellipses {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  padding-right: 10px;
}

.hide-on-phone {
  display: none !important;
  @include respond-to(small) {
    display: flex !important;
  };
}

.off-screen {
  position: fixed;
  right: -100%;
  top: -100%;
}

.no-pointer-events{
  pointer-events: none;
}

.icon-flex-div{
  width: 45px;
  max-width: 45px;
  min-width: 45px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.border-box {
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}

.subheader {
	width: 100%;
	font-weight: bolder;
	text-decoration: underline;
	padding: 5px 0px;
	margin: 5px 0px 0px 0px;
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
}

.subsubHeader {
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	color: $accentDarker;
	//padding: 1px 0px ;
	text-decoration: underline;
}

.grey-out-bg-with-centred-content {
  z-index: 9999999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.has-border {
  border-width: 1px;
  border-style: solid;
}
