<label class='element-label {{if currency "currency"}} {{if inputSize "input-size"}} {{if helpMessage "help-padding"}} {{style}}'>{{displayValue}}</label>

{{#if helpMessageNotOn}}
  <span>
    <span class='input-help' tabindex="-1">
      {{inline-svg 'icons/help-message' class='input-help-svg'}}
      {{#tooltip-on-element showOn='click'}}
          {{helpMessage}}
      {{/tooltip-on-element}}
    </span>
  </span>

{{/if}}



{{#if placeholder}}
  <label class="element-placeholder is-reduced {{if centre 'is-centred'}}">
    {{placeholder}}
  </label>
{{/if}}
