
<div class='flex-row-nowrap'>
  <label class='element-label {{if inputSize "input-size"}}{{style}}'>{{displayValue}}</label>
  <label class='supertext'>%</label>
</div>


{{#if placeholder}}
  <label class="element-placeholder is-reduced {{if centre 'is-centred'}}">
    {{placeholder}}
  </label>
{{/if}}
