.element-label {
  height: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: inherit;

  @include flexbox();

  &.input-size {
    height: 2rem;
    margin-bottom: 0.5rem;
    @include align-items(center);
  }

  &.help-padding {
    padding-right: 20px;
    @include respond-to(small){
      padding-right: 27px;
    };
  }

  &.currency {
    text-align: right;
  }

  &.alert {
    color: $iconred;
  }

  &.success {
    color: $icongreen;
  }

  &.bold {
    font-weight: 600;
  }
}



.supertext {
  padding-top: 0.2rem;
  font-size: 0.6rem;
}
