  <div class='s24 flex-column-nowrap flex-align-centre'>


    <div class='s24 font-three-quarter text-centre'>
      {{#if showLender}}Select the lender and r{{else}}R{{/if}}ecord any cash incentive/contribution offered, and the total monthly fees that will be charged
    </div>

    <div class='s24 flex-row-nowrap'>
      {{#if showLender}}
        <div class='s08'>
          {{shared/inputs/element-select placeholder='lender' value=model.bank listName='bank'}}
        </div>
      {{/if}}
      <div class='s08'>
        {{shared/inputs/element-currencyfield placeholder='cash incentive' value=model.cashContribution}}
      </div>
      <div class='s08'>
        {{shared/inputs/element-currencyfield placeholder='monthly fees' value=model.monthlyFees}}
      </div>
    </div>

    <div class='s24 spacer'>
    </div>

    <div class='s24 text-centre accent-darker-fg'>
      <b><u>RATES</u></b>
    </div>
    <div class='s24 font-three-quarter text-centre'>
      Record the rates offered as decimals (eg: 4.25):
    </div>
    <div class='s24 flex-row-nowrap'>
      {{#each model.pricingOfferRates as |rate|}}
        <div class='s24 flex-column-nowrap'>
          <div class='s24 text-centre column-header'>
            {{rate.typeSummary}}
          </div>
          <div class='s24 text-centre'>
            {{shared/inputs/element-percentfield value=rate.interestRate hidePercentLabel=true centre=true}}
          </div>
        </div>
      {{/each}}
    </div>
    <!--
    <div class='s24 spacer'>
    </div>

    <div class='s24 spacer'>
    </div>
    <div class='s24 flex-column-nowrap accent-darker-bd has-border pad5'>
      <div class='s24 text-centre accent-darker-fg'>
        Add Custom Rate
      </div>
      <div class='s24 font-three-quarter text-centre'>
        (Add a rate for a term not already listed above)
      </div>
      <div class='s24 flex-row-wrap pad5'>
        <div class='s06'>
          {{shared/inputs/element-select placeholder='loan type' value=newLiabilityType optionsList=loanTypes}}
        </div>
        <div class='s06'>
          {{shared/inputs/element-termfield placeholder='fixed interest period' value=newFixedIntMonths}}
        </div>
        <div class='s06'>
          {{shared/inputs/element-percentfield placeholder='interest rate' value=newRate}}
        </div>
        <div class='s06 flex-justify-end'>
          <button class="square-button accent-darker-bg">add rate</button>
        </div>
      </div>

    </div>
    -->



  </div>
