<div class='s24 m23 flex-column-nowrap flex-no-shrink-grow pad5'>
  {{shared/views/pricing/pricing-offer-entry model=model showLender=true}}
  <div class='s24 spacer'>
  </div>
  <div class='row-divide'>
  </div>
  <div class='s24 flex-justify-centre'>
    <div class='s24 flex-justify-centre'>
      <div class='svg-button-container'>
        {{shared/buttons/svg-circle-button hasBorder=true iconName='save'  altClasses='green-bd green-icon' onClick=(action 'save')}}
      </div>
      <div class='svg-button-container'>
        {{shared/buttons/element-delete-button action='delete'}}
      </div>
    </div>
    {{!shared/assemblies/undo-save-delete isSaving=isSaving save=(action 'save') delete=(action 'delete')}}
  </div>

</div>
