{{#if recordDetails}}
  <div class='s24 flex-column-nowrap'>
    <div class='s24 flex-row-nowrap'>
      <div class='s12'>
        {{shared/inputs/element-currencyfield placeholder='cash incentive' value=model.cashContribution}}
      </div>
      <div class='s12'>
        {{shared/inputs/element-currencyfield placeholder='annual discounts' value=model.recurringDiscounts}}
      </div>
    </div>

    <div class='s24 text-centre'>
      RATES
    </div>
    <div class='s24 flex-row-nowrap'>
      {{#each model.pricingOfferRates as |rate|}}
        <div class='s24 flex-column-nowrap'>
          <div class='s24 text-centre'>
            {{rate.summary}}
          </div>
          <div class='s24 text-centre'>
            {{shared/inputs/element-percentfield value=rate.interestRate}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}
