<div class='pricing-offer-single-line hover-highlight cursor-pointer' {{action 'edit'}}>
  <div class='pricing-offer-single-line-bank-icon'>
    <img src={{model.bank.logoPath}} class='bank-icon' />
  </div>
  <div class='pricing-offer-single-line-currency-cell'>
    {{format-currency model.cashContribution}}
  </div>
  <div class='pricing-offer-single-line-currency-cell'>
    {{format-currency model.monthlyFees true}}
  </div>

  {{#each displayRates as |rate|}}
    <div class='pricing-offer-single-line-rate-cell'>
      {{#if rate.interestRate}}
        {{shared/labels/percent-with-supertext value=rate.interestRate}}
      {{else}}
        -
      {{/if}}
    </div>
  {{/each}}

</div>

{{#if model.showDetails}}
  {{#shared/tools/tools-popover-tool-container title="Offer" size='medium' closeAttribute=model.showDetails}}
    {{shared/views/pricing/pricing-offer-details-popover model=model closeAttribute=model.showDetails offerSaveFunction=offerSaveFunction}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}
