{{#if model}}

  <div class='rates-table-scroll-container'>
    <div class='rates-table-body'>
      <div class='s24 flex-row-nowrap'>
        <div class='pricing-offer-single-line'>
          <div class='pricing-offer-single-line-bank-icon'>
          </div>
          <div class='pricing-offer-single-line-currency-cell column-header'>
            Cash
          </div>
          <div class='pricing-offer-single-line-currency-cell column-header'>
            Fees
          </div>
          {{#each termsInModel as |term|}}
            <div class='pricing-offer-single-line-rate-cell column-header'>
              {{term}}
            </div>
          {{/each}}
        </div>
      </div>

      <div class='s24 flex-column-nowrap flex-no-shrink-grow'>
        {{#each model as |pricingOffer|}}
          {{shared/views/pricing/pricing-offer-single-line model=pricingOffer productsToShow=termsInModel offerSaveFunction=offerSaveFunction}}
        {{/each}}
      </div>
    </div>
    <div class='s24 spacer'>
    </div>
  </div>

  <div class='s24 spacer'>
  </div>
  <div class='s24 flex-justify-centre'>
    <div class='svg-button-container'>
      {{shared/buttons/svg-circle-button label='add rates' hasBorder=true iconName='models/pricing' addButton=true displayLabel=true altClasses='accent-darker-bd accent-darker-icon' onClick=(action 'addLender')}}
    </div>
    {{#if showImportButton}}
      <div class='svg-button-container'>
        {{shared/buttons/svg-circle-button label='import rates' hasBorder=true iconName='models/pricing' addButton=true displayLabel=true altClasses='accent-darker-bd accent-darker-icon' onClick=(action 'addLender')}}
      </div>
    {{/if}}
  </div>



{{else}}

  <div class='s24 pad5 flex-column-nowrap flex-align-centre'>
    {{shared/tables/empty-state message="You have no rates loaded.  Click 'add rates' to record offered interest rates"}}
    <div class='s24 spacer'>
    </div>

    <div class='s24 flex-justify-centre'>
      <div class='svg-button-container'>
        {{shared/buttons/svg-circle-button label='add rates' hasBorder=true large=true iconName='models/pricing' addButton=true displayLabel=true altClasses='accent-darker-bd accent-darker-icon' onClick=(action 'addLender')}}
      </div>
      {{#if showImportButton}}
        <div class='svg-button-container'>
          {{shared/buttons/svg-circle-button label='import rates' hasBorder=true large=true iconName='models/pricing' addButton=true displayLabel=true altClasses='accent-darker-bd accent-darker-icon' onClick=(action 'addLender')}}
        </div>
      {{/if}}
    </div>
  </div>


{{/if}}
