{{!shared/tools/segments/tool-title-bar title=model.name closeAttribute=closeAttribute}}
<div class='s23 m22 flex-column-nowrap flex-no-shrink-grow'>
  <div class='s24 spacer'>
  </div>

  <div class='s24 flex-row-wrap'>
    <div class='s10 m06'>
      {{shared/inputs/element-select value=model.assetType placeholder='type' listName='assetType'}}
    </div>
    <div class='s14 m12 flex-row-nowrap'>
      {{#if model.isProperty}}
        <div class='s12'>
          {{shared/inputs/element-select value=model.securityType placeholder='type' listName='securityType'}}
        </div>
        <div class='s12'>
          {{shared/inputs/element-select value=model.securityUseType placeholder='purpose' listName='securityUseType' }}
        </div>
      {{else}}
        {{shared/inputs/element-input type='text' value=model.description placeholder='description'}}
      {{/if}}
    </div>
    <div class='s24 m06'>
      {{shared/inputs/element-currencyfield value=model.value placeholder='value'}}
    </div>

    {{#if model.isProperty}}
      <div class='s12 m18'>
        {{shared/inputs/address-input-with-lookup address=model.address  placeholder='address' helpMessage='The address of the security. If this is yet to be confirmed, record "TBC" in the street address'}}
      </div>
      <div class='s24 m06'>
        {{shared/inputs/element-string-select placeholder='mortgaged to' value=bank selectOptions=bankNames}}
      </div>

      <div class='s06'>
        {{shared/inputs/element-checkbox placeholder="will property be sold?"  offVal='No' onVal='Yes' isChecked=model.loanPartySecurityLink.willSell size=10}}
        {{!shared/inputs/element-string-select value=settlementAction selectOptions=settlementActions placeholder='what will happen with this property at settlement?' }}
      </div>
      {{#unless model.loanPartySecurityLink.willSell}}
        <div class='s18'>
          {{shared/inputs/element-checkbox placeholder="refinance options"  offVal='Client will NOT refinance this security' onVal='Client WILL consider providing/refinancing this security' isChecked=model.loanPartySecurityLink.willRefinance size=10}}
          {{!shared/inputs/element-string-select value=settlementAction selectOptions=settlementActions placeholder='what will happen with this property at settlement?' }}
        </div>
      {{/unless}}
    {{/if}}
  </div>










  <div class='s24 flex-row-wrap'>


    <div class='s24 spacer'>
    </div>



    {{#if loanApplication.hasForex}}
      {{views/financials/forex/forex-financials-line model=model}}
    {{/if}}


    <div class='s06 m04 spacer'>
    </div>
    <div class='s24 flex-justify-centre'>
      Whose asset is this?:
    </div>
    <div class='s24 flex-justify-centre pad5'>
      {{shared/elements/gravatars/ownership-gravatars isClient=true selectedArray=model.clients model=possibleOwners }}
    </div>
  </div>


  <div class='s06 m04 spacer'>
  </div>

  <div class='s24 flex-justify-centre'>
    {{shared/assemblies/undo-save-delete  isSaving=isSaving undo=(action 'undoChanges') save=(action 'saveRecord') delete=(action 'deleteFinancial')}}
  </div>

  <div class='s06 m04 spacer'>
  </div>
  <div class='s06 m04 spacer'>
  </div>


</div>
