<div class='s24 flex-row-nowrap flex-align-stretch' >
  <div class='s24 flex-shrink-grow flex-align-centre flex-row-nowrap'>
    <div class='s12 m08 pad5'>
      {{model.assetType.name}}
    </div>
    <div class='s00 m10 pad5'>
      {{#if model.isProperty}}
        {{model.address.abbreviatedAddress}}
      {{else}}
        {{model.description}}
      {{/if}}
    </div>
    <div class='s12 m06 pad5 text-end flex-justify-end'>
      {{format-currency model.value true}}
    </div>
  </div>

  {{shared/assemblies/table-row-options-standard model=model viewDetails=(action 'viewDetails') undoChanges=(action 'undoChanges') deleteRecord=(action 'deleteFinancial')}}

</div>

{{#if model.showDetails}}
  {{#shared/tools/tools-popover-tool-container title=model.name size='medium' closeAttribute=model.showDetails}}
    {{shared/views/financials/asset-details-popover model=model loanParty=loanParty loanApplication=loanApplication closeAttribute=model.showDetails possibleOwners=possibleOwners}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}
