<div {{action 'viewTable'}} class='financial-table-entry-button'>
  {{inline-svg 'icons/buttons/show-table' class='svg-tiny-small accent-darker-icon'}}
</div>


{{#if showTable}}
  {{#shared/tools/tools-popover-tool-container title='Expense Table' size='medium' closeAttribute=showTable}}
    <div class='s24 flex-column-nowrap flex-align-centre flex-no-shrink-grow'>
      {{#each model as |expense|}}
        <div class='s23 m20 flex-row-nowrap'>
          <div class='s08'>
            {{shared/labels/label-with-placeholder-option value=expense.expenseType.name inputSize=true}}
          </div>
          <div class='s08'>
            {{shared/inputs/element-select value=expense.frequency listName='frequency' noTab=true}}
          </div>
          <div class='s08'>
            {{shared/inputs/element-currencyfield value=expense.value}}
          </div>
        </div>
      {{/each}}
      {{#each remainingExpenses as |remaining|}}
        <div class='s23 m20 flex-row-nowrap'>
          <div class='s08'>
            {{shared/labels/label-with-placeholder-option value=remaining.expenseType.name inputSize=true}}
          </div>
          <div class='s08 no-tab-index' tabindex='-1'>
            {{shared/inputs/element-select value=remaining.frequency listName='frequency' noTab=true}}
          </div>
          <div class='s08'>
            {{shared/inputs/element-currencyfield value=remaining.value}}
          </div>
        </div>
      {{/each}}
      <div class='s24 spacer'>
      </div>
      <div class='row-divide'>
      </div>
      <div class='s24 flex-justify-centre'>
        {{shared/buttons/svg-circle-button hasBorder=true iconName='save' loading=isSaving altClasses='green-fg' onClick=(action 'saveExpenses')}}

        {{!shared/buttons/save-button loading=isSaving save=(action 'saveExpenses')}}
      </div>
      <div class='s24 spacer'>
      </div>
      <div class='s24 spacer'>
      </div>
      <div class='s24 spacer'>
      </div>

    </div>

  {{/shared/tools/tools-popover-tool-container}}





{{/if}}
