{{!shared/tools/segments/tool-title-bar title=model.name closeAttribute=closeAttribute}}
<div class='s23 m22 flex-column-nowrap flex-no-shrink-grow'>
  <div class='s24 spacer'>
  </div>

  <div class='s24 flex-row-wrap'>
    <div class='s10 m08'>
      {{shared/inputs/element-select value=model.incomeType placeholder='type' listName='incomeType'}}
    </div>
    <div class='s14 m10'>
      {{shared/inputs/element-input type='text' value=model.description placeholder='description'}}
    </div>
    <div class='s24 m06'>
      {{shared/inputs/element-currencyfield value=model.value placeholder='value'}}
    </div>

    <div class='s10 m08'>
      {{shared/inputs/element-select value=model.frequency placeholder='frequency' listName='frequency' }}
    </div>

    <div class='s08 m04'>
      {{#if showNetGross}}
        {{shared/inputs/element-checkbox placeholder="net/gross"  offVal='gross' onVal='net' isChecked=model.isNet helpMessage='If this is a before-tax employment income value, select "No". Tax and student loan deductions will be calculated automatically'}}
      {{/if}}
    </div>
    {{#if model.isSalary}}
      <div class='s06 m02'>
        {{shared/inputs/element-checkbox placeholder="s/loan?"  offVal='no' onVal='yes' isChecked=model.hasStudentLoan size=10}}
      </div>
      <div class='s10 m02'>
        {{shared/inputs/element-percentfield value=model.kiwisaver placeholder='kiwisaver %' helpMessage="We deduct kiwisaver when calculating net income, as most lenders do"}}
      </div>
    {{else}}
      <div class='s16 m04 spacer'>
      </div>
    {{/if}}
    <div class='s00 m02 spacer'>
    </div>
    <div class='element-table-row-element s24 m06'>
      {{shared/labels/label-with-placeholder-option value=model.netMonthly placeholder='net monthly' inputSize=true currency=true helpMessage="A monthly net value of the income, as monthly figures are used by most lenders"}}
    </div>

    <div class='s24 spacer'>
    </div>

    {{#if loanApplication.hasForex}}
      {{views/financials/forex/forex-financials-line model=model}}
    {{/if}}


    <div class='s24 spacer'>
    </div>
    <div class='s24 flex-justify-centre'>
      Whose income is this?:
    </div>
    <div class='s24 flex-justify-centre pad5'>
      {{shared/elements/gravatars/ownership-gravatars isClient=true selectedArray=model.clients model=loanParty.clients }}
    </div>
  </div>


  <div class='s24 spacer'>
  </div>

  <div class='s24 flex-justify-centre'>
    {{shared/assemblies/undo-save-delete isSaving=isSaving undo=(action 'undoChanges') save=(action 'saveRecord') delete=(action 'deleteFinancial')}}
  </div>

  <div class='s24 spacer'>
  </div>
  <div class='s24 spacer'>
  </div>


</div>
