<div class='s24 flex-row-nowrap flex-align-stretch' >
  <div class='s24 flex-shrink-grow flex-align-centre flex-row-nowrap'>
    <div class='s12 m08 pad5'>
      {{model.liabilityType.name}}
    </div>
    <div class='s00 m10 pad5 label-ellipses'>
      {{model.description}}
    </div>
    <div class='s12 m06 pad5 text-end flex-justify-end'>
      {{format-currency model.limit true}}
    </div>
  </div>

  {{shared/assemblies/table-row-options-standard model=model viewDetails=(action 'viewDetails') undoChanges=(action 'undoChanges') deleteRecord=(action 'deleteFinancial')}}

</div>


{{#if model.showDetails}}
  {{#shared/tools/tools-popover-tool-container title=model.name size='medium' closeAttribute=model.showDetails}}
    {{shared/views/financials/liability-details-popover model=model loanParty=loanParty loanApplication=loanApplication closeAttribute=model.showDetails showLiabilitySettlementAction=showLiabilitySettlementAction}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}
