<div class='s23 m22 flex-column-nowrap flex-no-shrink-grow'>
  <div class='s24 spacer'>
  </div>


  <div class='s24 flex-row-wrap'>
    <div class='s12 m08'>
      {{shared/inputs/element-select value=model.liabilityType placeholder='type' optionsList=liabilityTypes}}
    </div>
    <div class='s12 m08'>
      {{shared/inputs/element-input type='text' value=model.description placeholder='description'}}
    </div>
    <div class='s12 m08'>
      {{shared/inputs/element-select value=model.bank placeholder='lender' listName='bank'}}
    </div>

    <div class='s24 flex-justify-end flex-row-wrap'>
      {{#if model.requiresInterestRate}}
        <div class='s12 m04'>
          {{shared/inputs/element-percentfield value=model.interestRate placeholder='interest rate'}}
        </div>
      {{/if}}
      {{#if model.requiresFixedTermExpiry}}
        <div class='s12 m08'>
          {{shared/inputs/element-datefield value=model.fixedRateExpiry placeholder='fixed rate expiry' yearRange='0,15' helpMessage='When does the current fixed interest rate expire?'}}
        </div>
      {{/if}}
      <div class='s12 m08'>
        {{shared/inputs/element-currencyfield value=model.owing placeholder='outstanding balance'}}
      </div>
      {{#if model.hasLimit}}
        <div class='s12 m08'>
          {{shared/inputs/element-currencyfield value=model.limit placeholder='limit'}}
        </div>
      {{/if}}
    </div>

<!-- Liability Settlement Action (for loan app) -->
    {{#if showLiabilitySettlementAction}}
      <div class='s24 m16'>
        {{#if model.liabilityType.isSecured}}
          {{shared/inputs/element-checkbox placeholder="refinance options"  offVal='Client will NOT refinance this loan' onVal='Client WILL consider refinancing this loan' isChecked=model.loanPartyLiabilityLink.willRefinance size=10}}
        {{/if}}
      </div>
      <div class='s24 m08'>
        {{shared/inputs/element-currencyfield value=model.limitAfterDrawDown placeholder='proposed balance/limit'}}
      </div>
    {{/if}}



<!-- Repayments -->
    {{#if showRepayments}}
      <div class='s08'>
        {{shared/inputs/element-currencyfield value=model.repayments placeholder='repayment amount'}}
      </div>
      <div class='s08'>
        {{shared/inputs/element-select value=model.frequency placeholder='repayment frequency' listName='frequency' }}
      </div>
      <div class='s08'>
        {{#if model.liabilityType.isSecured}}
          {{shared/inputs/element-checkbox placeholder="repayment type"  offVal='Principal & interest' onVal='Interest only' isChecked=model.interestOnly size=10}}
        {{/if}}
      </div>
      <div class='s08'>
        {{#if (and model.requiresTerm model.interestOnly)}}
          {{shared/inputs/element-termfield value=model.remainingMonths placeholder='remaining loan period'}}
        {{/if}}
      </div>
    {{/if}}
    <div class='s24 spacer'>
    </div>







<!-- Forex -->
    {{#if loanApplication.hasForex}}
      {{views/financials/forex/forex-financials-line model=model}}
    {{/if}}
    <div class='s24 spacer'>
    </div>



<!-- Liability Owner -->
    <div class='s24 flex-justify-centre'>
      Whose liability is this?
    </div>
    <div class='s24 flex-justify-centre pad5'>
      {{shared/elements/gravatars/ownership-gravatars isClient=true selectedArray=model.clients model=possibleOwners }}
    </div>
  </div>
  <div class='s24 spacer'>
  </div>


<!-- Edit/Save/Delete -->
  <div class='s24 flex-justify-centre'>
    {{shared/assemblies/undo-save-delete isSaving=isSaving undo=(action 'undoChanges') save=(action 'saveRecord') delete=(action 'deleteFinancial')}}
  </div>
  <div class='s24 spacer'>
  </div>



</div>
