<div class='s24 flex-row-nowrap flex-align-stretch' >
  <div class='s24 flex-shrink-grow flex-align-centre flex-row-nowrap'>
    {{#if isSelection}}
      <div class='flex-icon-div'>
        {{shared/buttons/element-tick-cross-button isTick=isSelected}}
      </div>
    {{/if}}

    <div class='s12 m18 label-ellipses'>
      {{model.address.abbreviatedAddress}}
    </div>
    <div class='s12 m06 text-end flex-justify-end'>
      {{format-currency model.value true}}
    </div>
  </div>


  {{shared/assemblies/table-row-options-standard model=model viewDetails=(action 'viewDetails') undoChanges=(action 'customUndo') deleteRecord=(action 'deleteFinancial')}}
</div>

{{#if model.showDetails}}
  {{#shared/tools/tools-popover-tool-container title=model.name size='medium' closeAttribute=model.showDetails}}
    {{shared/views/financials/security-details-popover model=model loanParty=loanParty loanApplication=loanApplication closeAttribute=model.showDetails isCurrent=isCurrent}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}
