<div class='s23 m22 flex-column-nowrap flex-no-shrink-grow'>
  <div class='s24 spacer'>
  </div>

  <div class='s24 flex-row-wrap'>
    <div class='s24 m18'>
      {{shared/inputs/address-input-with-lookup address=model.address  placeholder='address' helpMessage='The address of the security. If this is yet to be confirmed, record "TBC" in the street address'}}
    </div>
    <div class='s12 m06'>
      {{shared/inputs/element-select value=model.securityType placeholder='type' listName='securityType'}}
    </div>


    <div class='s12 m06'>
      {{shared/inputs/element-select value=model.securityUseType placeholder='purpose' listName='securityUseType' }}
    </div>
    <div class='s00 m12 spacer'>
      {{!shared/inputs/element-select value=model.securityOwnershipType placeholder='ownership' listName='securityOwnershipType'  helpMessage='Is/Will the security be owned personally, or in a trust/company'}}
    </div>

    <div class='s12 m06'>
      {{shared/inputs/element-currencyfield value=model.value placeholder='value' helpMessage='Value may need to be supported by an independent valuation or sale and purchase agreement'}}
    </div>

  </div>


  <div class='s24 spacer'>
  </div>

  <div class='s24 flex-justify-centre'>
    {{shared/assemblies/undo-save-delete isSaving=isSaving undo=(action 'customUndo') save=(action 'saveRecord') delete=(action 'deleteFinancial')}}
  </div>

  <div class='s2 spacer'>
  </div>


</div>
