.proposition-bar-chart-container {
  width: 100%;
  height: 160px;


}

.proposition-bar-chart {
  width: 250px !important;
  height: 120px !important ;


  @include respond-to(small) {
    width: 550px !important;
    height: 120px !important ;
  };
  @include respond-to(medium) {
    width: 800px !important;
    height: 120px !important;
  };

}
