.commission-fade-over {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
}

.settlement-confirm-popover-container {
  width: auto;
  max-width: 90%;
  height: auto;
  padding: 15px;
  background-color: white;
}
