
.shared-tag {
  padding: 3px 6px;
  line-height: 14px;
  font-size: 12px;
  background-color: #C8EEF9;
  border-radius: 10px;
  color: #057FA1;
  margin: 2px 3px;
  display: flex;
  &.show-remove{
    padding: 2px 2px 2px 6px;
  }
}

.shared-tag-remove-container {
  height: 15px;
  width: 15px;
  margin-left: 3px;
}

.shared-tag-remove {
  height: 15px;
  width: 15px;
  cursor: pointer;
  color: #057FA1;
  fill: #057FA1;
  &:hover {
    opacity: 0.9;
  }

}



//For tag-cloud:
.shared-tag-add-tag-outer-container{
  z-index: 0;
  position: relative;
  margin: 10px 0;
  max-width: 250px;
}

.shared-tag-add-tag-container {
  z-index: 0;
  width: 100%;
  @include flexbox();
  @include flex-flow(row nowrap);
  @include align-items(center);
  @include align-content(center);
}

.shared-tag-add-tag-server-tag-list {
  max-height: 0;
  position: absolute;
  background-color: white;
  @include easer(0.4s);
  @include flexbox();
  @include flex-flow(column nowrap);

  &.in-focus {
    max-height: 20rem;
  }
}

.shared-tag-add-tag-server-match {
  border: 1px solid rgba(220, 220, 220, 0.5);
  background-color: white;
  cursor: pointer;
  margin-bottom: -1px;
  width: 250px;
  padding: 3px;
  height: 2rem;
  @include flexbox();
  @include align-content(center);
  @include align-items(center);

  &:hover {
    background-color: rgba(220, 220, 220, 0.5);
  }
}
