//For tool presentation object and its container (class, not component)
.presentation-container {
  position: relative;
  overflow: hidden;
  @include flex(1 1 auto);
}


.presentation-object {
  position: absolute;
  float: left;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(0%);
  z-index: 100;
  @include easer(0.4s);

  &.off-right {
    transform: translateX(100%);
  }

  &.off-left {
    transform: translateX(-100%);
  }
}

.presentation-object-inner {
  min-height: 100%;
  max-height: 100%;
  @include flexbox();
  @include flex(1 0 auto);
}



//For tool-title-bar::
.tools-header-title {
  position: relative;
  height: 2.5rem;
  width: 100%;
  font-size: 1.2rem;
  background-color: $accent;
  color: white;
  flex-shrink: 0;
  @include flexbox();
  @include flex-flow(row nowrap);
  @include align-items(center);
  @include align-content(center);
  @include justify-content(center);
}

.tools-close-button {
  position: absolute;
  right: 0.5rem;
  top: 0;
  height: 100%;
  border:none;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  &:hover {
    opacity: 0.8;
  }
}

//master-detail buttons:
.tools-back-button {
  position: absolute;
  left: 0.5rem;
  top: 1.25rem;
	transform: translateY(-50%);
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.table-arrow-back-label {
	//margin-left: -12px;
	margin-bottom: 3px;
	font-size: 0.8rem;
	cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}





.master-detail-fwd-button {
	height: 25px;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}
