

.tools-popover-outer-container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  //padding: 5px;
  z-index: 10100;
  @include flexbox();
  @include flex-flow(column nowrap);
  @include align-items(center);
  @include align-content(center);
  @include justify-content(center);


}

.tools-popover-inner-container {
  background-color: white;
  max-width: 98%;
  //min-height: 350px;
  z-index: 101;
  @include flexbox();
  @include flex-flow(column nowrap);
  @include justify-content(flex-start);

  &.small {
    width: 400px;
  }

  &.medium {
    width: 600px;
  }

  &.large {
    width: 720px;  //biggest size on iPad at 95%
  }

  &.extra-large {
    width: 900px;  //note - will scale on smaller screens
  }

  &.max-height {
    height: 98vh;
  }

}

.tools-popover-confirm-close-outer-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 150;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.3);
  @include flexbox;
  @include justify-content(center);
  @include align-content(center);
  @include align-items(center);
}

.tools-popover-confirm-close-inner-container {
  margin-top: -5rem;
  padding: 15px;
  z-index: 151;
  background-color: white;
  border-radius: 3px;
  width: 300px;
  max-width: 95vw;
  height: 200px;
  @include flexbox();
  @include flex-flow(row wrap);
}


.tools-tool-scroll-body {
  max-height: 99vh;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1 0 auto;
  @include flexbox();
  @include flex-flow(column nowrap);
  @include align-content(stretch);
  @include align-items(stretch);

}
