<div>
  {{shared/inputs/element-input type='text' value=addressString placeholder=placeholder}}
</div>

<div class='address-lookup-list-container {{if showAddressList "in-focus"}}'>
  <div class='address-lookup-list'>
    {{#if loadedAddresses}}
      <div class='address-lookup-list-subheader'>
        recently viewed:
      </div>
      {{#each loadedAddresses as |address|}}
        <div class='address-lookup-list-item' {{action 'setAddress' address}}>
          {{address.abbreviatedAddress}}
        </div>
      {{/each}}
    {{/if}}
    {{#if googleAddresses}}
      <div class='address-lookup-list-subheader'>
        {{inline-svg 'icons/powered_by_google' class='google-icon'}}
      </div>
      {{#each googleAddresses as |address|}}
        <div class='address-lookup-list-item' {{action 'setGoogleAddress' address}}>
          {{address.description}}
        </div>
      {{/each}}
    {{/if}}
  </div>
</div>
<div id='googleAddressContainerID' class='hideclass'>
  <!-- required as must send a node element with googleplaced getPlaceDetails -->
</div>

{{#if helpMessageNotOn}}
<span class='input-help' tabindex="-1">
  {{inline-svg 'icons/help-message' class='input-help-svg'}}
  {{#tooltip-on-element showOn='click'}}
      {{helpMessage}}
  {{/tooltip-on-element}}
</span>
{{/if}}
