{{#if isInEditMode}}
  {{yield}}
{{else}}
  {{shared/labels/label-with-placeholder-option value=value placeholder=placeholder inputSize=true currency=currency percent=percent term=term centre=centre}}
{{/if}}

{{#if helpMessageNotOn}}
<span class='input-help' tabindex='-1'>
  {{inline-svg 'icons/help-message' class='input-help-svg'}}
  {{#tooltip-on-element showOn='click'}}
      {{helpMessage}}
  {{/tooltip-on-element}}
</span>
{{/if}}
