
  <label class="element-placeholder is-reduced">{{placeholder}}</label>

  {{#if isStrings}}
    {{#each listItems as |item|}}
      <div class='radio-row' {{action 'selectValue' item}}>

          {{#if (eq item value)}}
            {{inline-svg 'icons/check-circle-checked' class='svg-small pad5'}}
          {{else}}
            {{inline-svg 'icons/check-circle-unchecked' class='svg-small pad5'}}
          {{/if}}

          {{item}}
      </div>
    {{/each}}
  {{else}}

    {{#each listItems as |item|}}
      <div class='radio-row' {{action 'selectValue' item}}>

          {{#if item.isValue}}
            {{inline-svg 'icons/check-circle-checked' class='svg-small pad5'}}
          {{else}}
            {{inline-svg 'icons/check-circle-unchecked' class='svg-small pad5'}}
          {{/if}}

          {{item.name}}
      </div>
    {{/each}}
  {{/if}}

  {{#if helpMessageNotOn}}
    <span class='input-help' tabindex='-1'>
      {{inline-svg 'icons/help-message' class='input-help-svg'}}
      {{#tooltip-on-element showOn='click'}}
          {{helpMessage}}
      {{/tooltip-on-element}}
    </span>
  {{/if}}
