


{{yield}}


<div class='element-increment-bar'>
  {{shared/inputs/sub-components/incrementer-dragged-icon svgPath=svgPath xMovement=xMovement}}
  {{shared/inputs/sub-components/incrementer-drag-object dragContainer=this basis=basis value=value xMovement=xMovement}}

</div>
<div class='s24 flex-row-nowrap'>
  <div class='element-increment-subtext' {{action 'decreaseValue' basis3}}>
    ---
  </div>
  <label class='element-increment-subtext' {{action 'decreaseValue' basis2}}>
    --
  </label>
  <label class='element-increment-subtext' {{action 'decreaseValue' basis1}}>
    -
  </label>
  <div class='element-increment-subtext'>
  </div>
  <label class='element-increment-subtext' {{action 'increaseValue' basis1}}>
    +
  </label>
  <label class='element-increment-subtext' {{action 'increaseValue' basis2}}>
  ++
  </label>
  <label class='element-increment-subtext' {{action 'increaseValue' basis3}}>
    +++
  </label>
</div>
