{{pikaday-input value=value format='DD-MM-YYYY' valueFormat='date' allowBlank='true' yearRange="1900,2050" useUTC=true minDate=minDate maxDate=maxDate class='element-input has-border {{if noPlaceholder "no-placeholder"}}'}}
<label class="element-placeholder {{if value 'is-reduced'}}">{{placeholder}}</label>

{{#if helpMessageNotOn}}
<span class='input-help' tabindex='-1'>
  {{inline-svg 'icons/help-message' class='input-help-svg'}}
  {{#tooltip-on-element showOn='click'}}
      {{helpMessage}}
  {{/tooltip-on-element}}
</span>
{{/if}}
