<span class='element-tick-box-svg' {{action 'toggleValue'}}>
  {{#if value}}
    {{inline-svg 'icons/check-circle-checked' class='svg-small-medium'}}
  {{else}}
    {{inline-svg 'icons/check-circle-unchecked' class='svg-small-medium'}}
  {{/if}}
</span>
  {{shared/labels/label-with-placeholder-option value=placeholder}}


{{#if helpMessageNotOn}}
  {{#tooltip-on-element}}
      {{helpMessage}}
  {{/tooltip-on-element}}
{{/if}}
