
	<label class="element-placeholder {{if value 'is-reduced'}}">{{placeholder}}</label>
	<select class='element-select element-input has-border {{if noPlaceholder "no-placeholder"}}' tabindex={{tabIndex}}>
		{{#each list as |item|}}
			<option selected={{item.isSelected}} value="{{item.id}}">{{item.name}}</option>
		{{/each}}
		{{#unless value}}
			<option selected=true value=null></option>
		{{/unless}}

	<!--<option selected=true value="{{value}}">{{value.name}}</option>-->
	</select>

	{{#if helpMessageNotOn}}
	<span class='input-help' tabindex='-1'>
		{{inline-svg 'icons/help-message' class='input-help-svg'}}
		{{#tooltip-on-element showOn='click' keepInWindow=true}}
				{{helpMessage}}
		{{/tooltip-on-element}}
	</span>
	{{/if}}
