<div class='segment-container'>
  {{#each optionsList as |item|}}
    <span class={{if item.selected 'segment-option selected' 'segment-option'}} {{action 'selectSegment' item}}>{{item.name}}</span>
	{{/each}}
</div>

{{#if helpMessageNotOn}}
  {{#tooltip-on-element}}
      {{helpMessage}}
  {{/tooltip-on-element}}
{{/if}}
