
{{textarea class='element-textarea' value=value rows=rows}}
<label class="element-placeholder is-reduced">{{placeholder}}</label>
{{#if helpMessageNotOn}}
<span class='input-help' tabindex='-1'>
  {{inline-svg 'icons/help-message' class='input-help-svg'}}
  {{#tooltip-on-element showOn='click'}}
      {{helpMessage}}
  {{/tooltip-on-element}}
</span>
{{/if}}
