



<div class='element-increment-yield'>
  {{yield}}
</div>
<div class='element-increment-container' {{action 'clickMove'}}>
  {{inline-svg 'icons/svg-button-remove' class='svg-tiny-small grey-icon'}}
  <div class='element-increment-bar' id={{barId}}>
    {{shared/inputs/sub-components/slider-dragged-icon svgPath=svgPath iconLocation=iconLocation}}
    {{shared/inputs/sub-components/slider-drag-object left=iconLocation dragged=(action 'dragGhost')}}
  </div>
  {{inline-svg 'icons/svg-button-add' class='svg-tiny-small grey-icon'}}
</div>
