
<label class="element-placeholder is-reduced {{if centre 'is-centred'}}">{{placeholder}}</label>
<div class='element-input-row {{if centre 'is-centred'}}'>
	{{shared/inputs/element-input inputType='number' value=percentValue class="element-input percent-field" disabled=label hideBorder=hideBorder centre=centre}}
	{{#unless hidePercentLabel}}<span class="termLabel">% {{#if perAnnum}}p.a{{/if}}</span>{{/unless}}
</div>

{{#if helpMessageNotOn}}
<span class='input-help' tabindex='-1'>
	{{inline-svg 'icons/help-message' class='input-help-svg'}}
	{{#tooltip-on-element showOn='click'}}
			{{helpMessage}}
	{{/tooltip-on-element}}
</span>
{{/if}}
