
<label class="element-placeholder {{if value 'is-reduced'}}">{{placeholder}}</label>
<select class='element-select element-input has-border {{if noPlaceholder "no-placeholder"}}' onchange={{action (mut selectedValue) value="target.value"}}>

  {{#each selectOptions as |selectOption|}}
    <option value={{selectOption}} selected={{eq selectedValue selectOption}}>{{selectOption}}</option>
  {{/each}}

  <!--option selected=true value="{{value}}">{{value.name}}</option>-->
</select>

{{#if helpMessageNotOn}}
  <span class='input-help' tabindex='-1'>
    {{inline-svg 'icons/help-message' class='input-help-svg'}}
    {{#tooltip-on-element showOn='click'}}
        {{helpMessage}}
    {{/tooltip-on-element}}
  </span>
{{/if}}
