
  <div class="checkContainer {{if noPlaceholder 'no-placeholder'}}" >
      <div class='checkCard {{if isChecked "flipped"}}' {{action "toggleCheck"}}>
        <label class="checkFront">{{offVal}}</label>
        <label class="checkBack">{{onVal}}</label>
      </div>
  </div>
  <label class="element-placeholder is-reduced">{{placeholder}}</label>

  {{#if helpMessageNotOn}}
  <span class='input-help' tabindex='-1'>
    {{inline-svg 'icons/help-message' class='input-help-svg'}}
    {{#tooltip-on-element showOn='click'}}
        {{helpMessage}}
    {{/tooltip-on-element}}
  </span>
  {{/if}}
