<label class="element-placeholder is-reduced pad5">
  {{placeholder}}
</label>
<div class='element-number-plus-minus-input-container'>
  <button class='element-number-plus-minus-shape' {{action 'subtract'}}>-</button>
  {{input type=number value=value class="element-input element-number-plus-minus-input"}}
  <button class='element-number-plus-minus-shape' {{action 'add'}}>+</button>
</div>
