{{#if centreSmall}}
	<label class={{if value "elementPlaceholder reduced centreSmall" "elementPlaceholder centreSmall"}}>{{placeholder}}</label>
	{{input inputType="password" value=value class="element-textfield centreSmall" disabled=label}}
{{else}}
	<label class={{if value "elementPlaceholder reduced" "elementPlaceholder"}}>{{placeholder}}</label>
	{{input inputType="password" value=value class="element-textfield" disabled=label}}
{{/if}}
