{{input type=inputType value=value class=inputClasses disabled=label}}
<label class="element-placeholder {{if hasValue 'is-reduced'}}">
  {{placeholder}}
</label>

{{#if helpMessageNotOn}}


  <span class='input-help' tabindex="-1">
    {{inline-svg 'icons/help-message' class='input-help-svg'}}
    {{#tooltip-on-element showOn='click' enableLazyRendering=true keepInWindow=true}}
        {{helpMessage}}
    {{/tooltip-on-element}}
  </span>


{{/if}}
