<label class="element-placeholder is-reduced {{if centre 'is-centred'}}">{{placeholder}}</label>
<div class='element-input-row {{if centre "is-centred"}}'>
	{{shared/inputs/element-input type="text" value=yrValue class="element-input termField" hideBorder=hideBorder }}
		<span class="termLabel">yrs</span>
	{{#unless noMonths}}
		{{shared/inputs/element-input type="text" value=mthValue class="element-input termField" hideBorder=hideBorder}}
			<span class="termLabel">mths</span>
	{{/unless}}
</div>

{{#if helpMessageNotOn}}
<span class='input-help' tabindex='-1'>
	{{inline-svg 'icons/help-message' class='input-help-svg'}}
	{{#tooltip-on-element showOn='click'}}
			{{helpMessage}}
	{{/tooltip-on-element}}
</span>
{{/if}}
