<label class='element-placeholder {{if hasValue "is-reduced"}} {{if centre "is-centred"}}'>{{placeholder}}</label>

{{shared/inputs/element-input inputType="number" value=value class=inputClass centre=centre rightAlign=rightAlign hideBorder=hideBorder}}

<label class='element-input element-currency-field-currency-label {{if noPlaceholder "no-placeholder"}} {{unless hideBorder "has-border"}} {{if centre "is-centred"}} {{if rightAlign "is-right-aligned"}}  {{if hideLabel "element-currency-field-hidden-element"}}'>{{currencyFormattedValue}}</label>

{{#if helpMessageNotOn}}
  <span class='input-help' tabindex='-1'>
    {{inline-svg 'icons/help-message' class='input-help-svg'}}
    {{#tooltip-on-element showOn='click'}}
        {{helpMessage}}
    {{/tooltip-on-element}}
  </span>
{{/if}}
