<div class='s24 flex-row-nowrap'>
  <div class='s24 flex-row-nowrap flex-justify-centre'>
    {{#each structure as |lia|}}
      {{shared/financials/structure/bar-graph/structure-bar-graph-column model=lia}}
    {{/each}}
  </div>

</div>
