<div class='structure-component-row-colour-indicator' style="background-color:{{model.colour}}">
</div>
<div class="s16">
  {{model.lia.typeSummary2}} {{#if model.lia.interestOnly}}(interest only){{/if}}
</div>
<div class='s08 flex-justify-end text-end'>
  {{format-currency model.lia.owing}}
</div>

{{#if model.lia.showDetails}}
  {{#shared/tools/tools-popover-tool-container title="Proposed New Loan" size='small' closeAttribute=model.showDetails}}
    {{shared/views/financials/structure/structure-component-details-popover model=model.lia closeAttribute=model.showDetails loadPaymentDetails=loadPaymentDetails showInterestRate=showInterestRate showSettlementDetails=showSettlementDetails saveLiability=(action 'saveLiability') deleteLiability=(action 'deleteLiability') saving=saving}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}
