{{!shared/tools/segments/tool-title-bar title=model.name closeAttribute=closeAttribute}}
<div class='s23 m22 flex-column-nowrap flex-no-shrink-grow'>
  <div class='s24 spacer'>
  </div>

  <div class='s24 flex-row-wrap'>
    {{#if showInterestRate}}
      <div class='s12 m06'>
        {{shared/inputs/element-select value=model.liabilityType placeholder='type' optionsList=homeLoanTypes}}
      </div>
      <div class='s12 m06'>
        {{#if model.requiresFixedTermExpiry}}
          {{shared/inputs/element-termfield value=model.fixedRateMonths placeholder='fixed int period' helpMessage='The fixed interest period'}}
        {{/if}}
      </div>
      <div class='s12 m06'>
          {{shared/inputs/element-percentfield value=model.interestRate placeholder='interest rate' helpMessage='The interest rate'}}
      </div>
      <div class='s12 m06'>
        {{shared/inputs/element-currencyfield value=model.owing placeholder='loan amount' helpMessage='The limit or balance of the new loan'}}
      </div>
    {{else}}
      <div class='s08'>
        {{shared/inputs/element-select value=model.liabilityType placeholder='type' optionsList=homeLoanTypes}}
      </div>
      <div class='s08'>
        {{#if model.requiresFixedTermExpiry}}
          {{shared/inputs/element-termfield value=model.fixedRateMonths placeholder='fixed int period' helpMessage='The fixed interest period'}}
        {{/if}}
      </div>
      <div class='s08'>
        {{shared/inputs/element-currencyfield value=model.owing placeholder='loan amount' helpMessage='The limit or balance of the new loan'}}
      </div>
    {{/if}}


    {{#unless isRevolvingCredit}}
      <div class='s12 m06'>
        {{shared/inputs/element-checkbox placeholder="interest type?"  offVal='principal & int' onVal='interest only' isChecked=model.interestOnly helpMessage='If this is a before-tax employment income value, select "No". Tax and student loan deductions will be calculated automatically'}}
      </div>
      <div class='s12 m06'>
        {{#if loadPaymentDetails}}
          {{#if model.interestOnly}}
            {{shared/inputs/element-termfield value=model.interestOnlyMonths placeholder='interest only period' helpMessage='The period payments will be interest only. If indefinite, record the term of the loan'}}
          {{/if}}
        {{/if}}
      </div>
    {{/unless}}



    {{#if loadPaymentDetails}}
      <div class='s24 spacer'>
      </div>
      {{#unless model.paymentIsInterestOnly}}
        <div class='s08 m06'>
          {{shared/inputs/element-select value=model.frequency placeholder='repayment frequency' listName='frequency'}}
        </div>
        <div class='s08 m06'>
          {{shared/inputs/element-currencyfield value=model.repayments placeholder='repayment amount' helpMessage='The limit or balance of the new loan'}}
        </div>
        <div class='s08 m06'>
          {{shared/inputs/element-datefield value=model.repaymentStartDate placeholder='first payment date' yearRange='0,1'}}
        </div>
      {{/unless}}
    {{/if}}

    <div class='s24 spacer'>
    </div>
  </div>



  <div class='s24 flex-justify-centre'>
    <div class='svg-button-container'>
      {{shared/buttons/svg-circle-button label='save' loading=saving hasBorder=true iconName='save'  displayLabel=true altClasses='green-bd green-icon' onClick=(action 'save')}}
    </div>

    <div class='svg-button-container'>
      {{shared/buttons/element-delete-button action=deleteLiability}}
    </div>
    {{#if loadPaymentDetails}}
      <div class='svg-button-container'>
        {{shared/tools/calculators/repayment-calculator-popover label='pmt calc' altClasses='accent-darker-icon accent-darker-fg' loanAmount=model.owing rate=model.interestRate frequency=model.frequency term=model.remainingMonths  setRepayment=(action 'setRepayment')}}
      </div>
    {{/if}}
  </div>

  <div class='s24 spacer'>
  </div>


</div>
