<div class='s23 m22 flex-column-nowrap flex-no-shrink-grow'>
  <div class='s24 spacer'>
  </div>

  <div class='s24 flex-row-wrap'>
      <div class='s12'>
        {{shared/inputs/element-select value=model.liabilityType placeholder='type' optionsList=homeLoanTypes}}
        {{!shared/buttons/loan-type-selector value=model.liabilityType centre=true}}
      </div>
      {{#if model.requiresFixedTermExpiry}}
        <div class='s12'>
          {{shared/inputs/element-termfield value=model.fixedRateMonths placeholder='fixed int period' helpMessage='The fixed interest period'}}
        </div>
      {{/if}}
      {{#unless isRevolvingCredit}}
        <div class='s12'>
          {{shared/inputs/element-checkbox placeholder="interest type?"  offVal='principal & int' onVal='interest only' isChecked=model.interestOnly helpMessage='If this is a before-tax employment income value, select "No". Tax and student loan deductions will be calculated automatically'}}
        </div>
      {{/unless}}

      <div class='s12'>
        {{shared/inputs/element-currencyfield value=model.owing placeholder='loan amount' helpMessage='The limit or balance of the new loan'}}
      </div>

  </div>
  <div class='s24 spacer'>
  </div>
  <div class='row-divide'>
  </div>



  <div class='s24 flex-justify-centre'>
    <div class='svg-button-container'>
      {{shared/buttons/svg-circle-button loading=saving hasBorder=true iconName='save'  displayLabel=true altClasses='green-bd green-icon' onClick=(action 'save')}}
    </div>

    <div class='svg-button-container'>
      {{shared/buttons/element-delete-button action=deleteLiability}}
    </div>
  </div>



</div>
