<div class='s24 flex-row-nowrap flex-align-stretch'>
  <div class='s24 flex-shrink-grow flex-align-centre flex-row-nowrap'>
    {{#if showSettlementDetails}}
      <div class='s05'>
        {{format-currency model.owing}}
      </div>
      <div class='s12'>
        {{model.summary}}
      </div>
      <div class='s07 text-end'>
        {{model.repaymentSummary}}
      </div>
    {{else}}
      <div class='s09'>
        {{shared/inputs/element-string-select value=loanType selectOptions=loanTypes}}
      </div>
      <div class='s06'>
        {{#if model.liabilityType.isInterestOnly}}
          interest only
        {{else}}
          {{shared/inputs/element-checkbox  offVal='p & i' onVal='interest only' isChecked=model.interestOnly}}
        {{/if}}
      </div>
      <div class='s09'>
        {{shared/inputs/element-currencyfield value=model.owing label=model.isLocked rightAlign=true}}
      </div>
    {{/if}}
  </div>
  {{#shared/buttons/table-row-options-button}}
    <div class='icon-flex-div' {{action 'editDetails'}} title='Edit'>
      {{inline-svg 'icons/buttons/table-options-edit' class='svg-smaller white-icon hover-opaque'}}
    </div>
    <div class='icon-flex-div' {{action 'deleteLiability'}} title='Delete'>
      {{inline-svg 'icons/buttons/table-options-delete' class='svg-smaller white-icon hover-opaque'}}
    </div>
  {{/shared/buttons/table-row-options-button}}

</div>

{{#if model.showDetails}}
  {{#shared/tools/tools-popover-tool-container title="Proposed New Loan" size='medium' closeAttribute=model.showDetails}}
    {{shared/views/financials/structure/structure-liability-details-popover model=model closeAttribute=model.showDetails loadPaymentDetails=loadPaymentDetails showInterestRate=showInterestRate showSettlementDetails=showSettlementDetails saveLiability=(action 'saveLiability') deleteLiability=(action 'deleteLiability') saving=saving}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}
