{{#if structureLoans}}
  <div class='structure-component-donut-container'>
    <canvas id="structureDonut" class='structure-component-donut' width="200px" height="160px" ></canvas>
  </div>
  <div class='s24 m00 l00 spacer'>
  </div>
  <div class='s24 m16 flex-column-nowrap flex-justify-centre pad5'>
    {{#each structureLoans as |lia|}}
      {{shared/views/financials/structure/structure-component-row model=lia onUpdate=onUpdate}}
    {{/each}}
    <div class='s24 flex-justify-end text-end pad5'>
      <b>Total: {{format-currency model.totalOwing}}</b>
    </div>
  </div>
  <div class='s24 flex-justify-end'>
    <div class='s24 m16'>
      <div class='row-divide'>
      </div>
      <div class='s24 flex-justify-centre'>
        {{#shared/buttons/svg-circle-button hasBorder=true addButton=true iconName='liability' displayLabel=true altClasses='accent-darker-bd accent-darker-icon' onClick=(action 'addLoan')}}
            add loan
        {{/shared/buttons/svg-circle-button}}
      </div>
    </div>
  </div>

{{else}}

  <div class='s24 pad5 flex-column-nowrap flex-align-centre'>
    {{shared/tables/empty-state message="You have no loans in your loan structure.  Click 'add loan' to begin"}}
    <div class='s24 spacer'>
    </div>
    {{#shared/buttons/svg-circle-button hasBorder=true addButton=true large=true iconName='liability' displayLabel=true altClasses='accent-darker-bd accent-darker-icon' onClick=(action 'addLoan')}}
        add loan
    {{/shared/buttons/svg-circle-button}}
  </div>

{{/if}}
