{{#if basicStructureEntry}}
  <div class='s04 m02'>
    {{shared/inputs/element-tickbox value=model.inStructure noPlaceholder=true}}
  </div>
  <div class='s10 m06'>
    {{model.termSummary}}
  </div>
  <div class='s00 m10 spacer'>
  </div>
  <div class='s10 m06'>
    {{#if selected}}
      {{shared/inputs/element-currencyfield value=model.limit rightAlign=true}}
    {{/if}}
  </div>
{{/if}}

{{#if submitPricingRequest}}
  <div class='s04 m02'>
    {{shared/inputs/element-tickbox value=selected noPlaceholder=true}}
  </div>
  <div class='s10 m06'>
    {{model.termSummary}}
  </div>
  <div class='s00 m06 spacer'>
  </div>
  <div class='s10 m06'>
    {{#if selected}}
      {{shared/inputs/element-currencyfield value=model.limit rightAlign=true}}
    {{/if}}
  </div>
  <div class='s12 m04'>
    {{shared/inputs/element-percentfield value=pricingOfferRate.interestRateRequested}}
  </div>
{{/if}}


{{#if pricingUpdate}}
  <div class='s04 m02'>
    {{shared/inputs/element-tickbox value=selected noPlaceholder=true}}
  </div>
  <div class='s10 m06'>
    {{model.termSummary}}
  </div>

  <div class='s10 m06'>
    {{#if selected}}
      {{shared/inputs/element-currencyfield value=model.limit rightAlign=true}}
    {{/if}}
  </div>
  <div class='s00 m02 spacer'>
  </div>
  <div class='s12 m04'>
    {{#if pricingOfferRate.interestRateRequested}}
      {{shared/labels/label-with-placeholder-option value=pricingOfferRate.interestRateRequested percent=true}}
    {{/if}}
  </div>
  <div class='s12 m04'>
    {{shared/inputs/element-percentfield value=pricingOfferRate.interestRate}}
  </div>
{{/if}}




{{#if displayStructureAndPricing}}
  <div class='s24 flex-row-nowrap pad5'>
    <div class='s10 m06'>
      {{model.termSummary}}
    </div>
    <div class='s00 m08 spacer'>
    </div>
    <div class='s10 m06'>
      {{shared/labels/label-with-placeholder-option value=model.limit rightAlign=true currency=true}}
    </div>
    <div class='s12 m04'>
      {{shared/labels/label-with-placeholder-option value=pricingOfferRate.interestRate percent=true}}
    </div>
  </div>

{{/if}}
