
  {{#if backTitle}}
    {{shared/buttons/master-detail-back-button title=backTitle click=(action 'backAction')}}
  {{/if}}

  {{title}}

  {{#if closeAttribute}}
    <button class='tools-close-button' {{action 'close'}}>{{inline-svg "icons/close-popover" class='svg-small white-icon' }}</button>
  {{/if}}
