<div class='s24 presentation-container flex-column-nowrap flex-align-centre'>
<!--  Title Bar -->
  {{#if title}}
    {{shared/tools/segments/tool-title-bar title=title backTitle=backTitle backAttribute=backAttribute closeAttribute=closeAttribute}}
  {{/if}}

  <div class='s24 m22 flex-column-nowrap flex-align-centre pad5'>
    <div class="s23">
      {{shared/inputs/element-input placeholder='first name/company name' value=firstName inputType='text' helpMessage="The client's first name, or for companies, trusts, etc - the entity name"}}
    </div>
    {{#unless hidePreferredName}}
    <div class="s23">
      {{shared/inputs/element-input placeholder='preferred name (if diff)' value=preferredName inputType='text' helpMessage='If the client goes by another name, enter it here'}}
    </div>
    {{/unless}}
    <div class="s23">
      {{shared/inputs/element-input placeholder='last name' value=lastName inputType='text' helpMessage="The client's surname.  For entities like companies and trusts, leave blank"}}
    </div>
    <div class="s23">
      {{shared/inputs/element-input placeholder='phone' value=phone inputType='text'}}
    </div>
    <div class="s23">
      {{shared/inputs/element-input placeholder='email' value=email inputType='text'}}
    </div>
    {{#unless hideRelationshipOwner}}
    <div class="s23">
      {{shared/inputs/element-select listName='user' placeholder='relationship owner' value=owner helpMessage='Each client must belong to a user in your firm'}}
    </div>
    {{/unless}}

  </div>

  <div class='s24 flex-row-wrap flex-justify-centre'>
      {{#shared/buttons/svg-circle-button hasBorder=true iconName='save' displayLabel=true hideUntilValid=true unhideAttribute=showSaveButton altClasses='green-bd' loading=isSaving onClick=(action 'saveNewContact')}}
          save client
      {{/shared/buttons/svg-circle-button}}

  </div>
  <div class='s24 spacer'>
  </div>


  {{#shared/tools/segments/tool-presentation-object show=alertMatches}}
    {{shared/views/clients/new/add-client-matches model=matchingClients backAttribute=alertMatches backTitle='add client' closeAttribute=closeAttribute title="Client Matches Found!" saveNewContact=(action 'saveNewContact') selectExistingClient=(action 'selectExistingClient')}}
  {{/shared/tools/segments/tool-presentation-object}}
</div>
