<div class='s24 presentation-container'>
    {{shared/views/clients/new/add-client onAddClient=(action 'addClient') title='New Client' closeAttribute=closeAttribute hideRelationshipOwner=hideRelationshipOwner hidePreferredName=hidePreferredName checkForMatches=true}}



    {{#shared/tools/segments/tool-presentation-object show=showClientAdded}}

      {{shared/tools/segments/tool-title-bar title='New Client' closeAttribute=closeAttribute}}
      <div class='s24 pad5 flex-column-nowrap flex-align-centre'>


        <div class='s24 spacer'>
        </div>
        <div class='s24 spacer'>
        </div>
        <div class='s24 spacer'>
        </div>

        <div class='s20 m12 flex-row-nowrap flex-justify-space-between'>
          {{#shared/buttons/svg-circle-button hasBorder=true iconName='loan-app-view' displayLabel=true altClasses='accent-darker-fg' onClick=(action 'viewClient')}}
              view client
          {{/shared/buttons/svg-circle-button}}
          {{#shared/buttons/svg-circle-button hasBorder=true iconName='relationship-add' displayLabel=true altClasses='accent-darker-fg' onClick=(action 'addRelatedClient')}}
              add related client
          {{/shared/buttons/svg-circle-button}}

          {{#shared/buttons/svg-circle-button hasBorder=true iconName='finish-and-close' smaller=true displayLabel=true altClasses='accent-darker-fg' onClick=(action 'close')}}
              finish & close
          {{/shared/buttons/svg-circle-button}}

        </div>

      </div>

    {{/shared/tools/segments/tool-presentation-object}}





    {{#shared/tools/segments/tool-presentation-object show=addRelated}}
      {{shared/views/clients/relationships/add-related-client model=client title='Add Related Client' closeAttribute=closeAttribute backTitle='client added' backAttribute='addRelated' action='navigateToAdded'}}
    {{/shared/tools/segments/tool-presentation-object}}

  </div>
