<!--  Title Bar -->
  {{#if title}}
    {{shared/tools/segments/tool-title-bar title=title backTitle=backTitle backAttribute=backAttribute closeAttribute=closeAttribute}}
  {{/if}}
  <div class='s24 pad5 text-centre'>
    We found client(s) with similar details already in Socket.  Did you mean one of these?
  </div>

  <div class='shared-client-search-results-container s23'>
    <div class='s24 absolute'>
      {{#each model as |client|}}
        {{shared/views/clients/search/client-search-table-row model=client multiSelect=false showEmail=false showPhone=false clientArray=clientArray showContacts=true click=(action 'selectClient' client)}}
      {{/each}}
    </div>
  </div>

  <div class='s24 flex-row-wrap flex-justify-centre'>
    <button class='square-button accent-darker-bg' {{action 'saveNewContact'}}>No I Didn't - Create New Client</button>
  </div>
  <div class='s24 spacer'>
  </div>
