*{
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;

	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

  &:focus {
		outline: none;
	}

}

.ember-application {
	overflow: auto !important;
	margin: 0;
	padding: 0;
}

html {
    /* Prevent font scaling in landscape while allowing user zoom */
    -webkit-text-size-adjust: 100%;

		//try to stop blurry font when transforming webkit:
		-webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    color: $primary;
    font-size: 12px;
    @include respond-to(small) {
  		font-size: 15px;
  	};
}



a{
	text-decoration: none;
	color: inherit;
  cursor: pointer;

	&:hover {
		text-decoration: underline;
	}

  &.no-hover {
    &:hover {
  		text-decoration: none;
  	}
  }
}

input, textarea, select, option, button {
	border:none;
	border-radius: 0;
	margin:0;
	padding:0;
	outline: none;

	&:focus {
		outline: none;
	}
}

b, u, li, ul {
	color: inherit;
  cursor: inherit;
}

h1,h2,h3,h4,h5,h6,p {
	font-weight: normal;
	margin: 6px 0px;
	color: inherit;
  cursor: inherit;
}

small{
  font-size: 0.8rem;
}

h6{
  font-size: 1.1rem;
}

h5{
	font-size: 1.2rem;
}
h4{
	font-size: 1.5rem;
}
h3{
	font-size: 1.8rem;
}
h2{
	font-size: 2rem;
}
h1{
	font-size: 2.5rem;
}

label,b,small,strong  {
  cursor: inherit;
}

ul, ol {
  -webkit-margin-before: 2px;
  -webkit-margin-after: 2px;
  -webkit-padding-start: 20px;
}

b {
  font-weight: bold;
}
