

.relative {
	position: relative;
}
.absolute {
	position: absolute;
}

.pad5 {
  padding: 5px;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.height95 {
	height: 95vh;
}

.bank-icon {
	display: block;
  max-width: 30px;
  max-height: 30px;
  width: auto;
  height: auto;
}
