
.element-table {
	color: $primary;
  width: 100%;
	//margin: 5px 0;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  @include flexbox();
  @include flex-flow(column nowrap);
  @include align-items(flex-start);
  @include align-content(flex-start);
  @include justify-content(center);

}

.element-table-header { //default table header.  Note: normally overwrite bgcolor with a second class
  border-radius: 2px 2px 0 0;
  width: 100%;
  height: 45px;
  padding: 0 1vw;
  font-size: 1.1rem;
  background-color: $grey1;
  color: white;
  @include flexbox();
  @include flex-flow(row nowrap);
  @include align-items(center);
  @include align-content(center);
  @include justify-content(space-between);

}

.element-table-header-title {
	margin-left: 50px;
	@include flexbox();
	@include flex(1 0 auto);
	@include align-items(baseline);

}

.element-table-expand-contract {
	font-size: 0.5rem;
	transform: scaleX(1.5);
	padding: 0 5px;
}

.element-table-header-righthand-value {
	//width: 200px;
  @include justify-content(flex-end);
  @include flexbox();
}

.table-row { //standard table row to use as styling (not used in the pop open/closed table components)
	//width: 100%;
	//max-height: 42rem;
	border-bottom: 1px solid ghostwhite;
  padding: 0 10px;
  @include flexbox();
  @include flex-flow(row wrap);
  @include justify-content(flex-start);


	&:last-of-type {  //this to stop the last item having a bottom border right on top of the table bottom border
		border:none;
	}

  &:hover {
		background-color: rgba(220,220,220,0.15);
	}
}

.element-table-row { //outer container for each table row.  Holds the 'display', 'edit' and 'options' sections
  width: 100%;
	//max-height: 42rem;
	border-bottom: 1px solid ghostwhite;
  padding: 0 5px;
  @include flexbox();
  @include flex-flow(column nowrap);
  @include justify-content(flex-start);

	&:last-of-type {  //this to stop the last item having a bottom border right on top of the table bottom border
		border:none;
	}

  &:hover {
		background-color: rgba(220,220,220,0.15);
	}

  &.in-edit-mode { //highlight this section when editing (note: all other rows should be 'ghosted')
    border: 1px solid rgba(220,220,220,0.5);
    background-color: rgba(220,220,220,0.15);
  }
  &.out-of-focus { //ghost this section (used when another row in the table is in-edit-mode)
    opacity:0.25;
    pointer-events: none;
  }
	&.table-collapsed { //even 1px border starts to mess with the table border fitting attractively around the header when collapsed
		border: none;

	}

}



.element-table-row-edit {  //the 'edit' section of a table row that replaces the 'display' version.  Allows 'display' to be labels (tidier) and 'edit' to be inputs
  width: 100%;
	height: auto;
	z-index: 3;
  max-height: 0rem;
  overflow: hidden;
	opacity: 0;
  @include easer(0.6s);
	@include flexbox();
	@include align-items(center);
	@include align-content(center);
	@include flex-flow(row wrap);
  @include justify-content(flex-start);


  &.in-edit-mode {
    max-height: 300vmax;
		overflow:visible;
		opacity:1;
  }

	&.table-collapsed {
		height: 0rem;
		opacity: 0;
	}


}

.element-table-row-display{ //for when not in edit mode - a means to have a 'display' version of each row that is only one line of text
  width:100%;
  overflow: hidden;
  height: 3.5rem;
	cursor: pointer;
  @include easer(0.3s);
  @include flexbox();
  @include align-items(center);
	@include align-content(center);
	@include flex-flow(row nowrap);
  @include justify-content(flex-start);


  &.in-edit-mode {  //when edit section is on screen, animate the display section up to 0
    height: 0rem;
  }

	&.table-collapsed {  //note: by animating height of this, rather than the table-content, the animation stays smooth and consistent
		height: 0rem;
		opacity: 0;
	}
}

.element-table-row-options {
  height: 0rem;
  overflow:hidden;
  width: 100%;
  @include justify-content(center);
  @include easer(0.3s);
  @include flexbox();
  @include align-items(flex-start);
	@include align-content(flex-start);
	@include flex-flow(row nowrap);

  &.in-focus {  //used to animate dropdown of options row
    height:4.5rem;
		@include respond-to(small) {
			height:3.5rem;
		};
  }
	&.table-collapsed {  //needed to ensure these don't remain when table is collapsed
		height: 0rem;
		opacity: 0;
	}

}




.element-table-row-element {
	position: relative;
	//overflow: hidden;
	//padding: 0 1vw;
	padding: 0 2px;
	@include flexbox();
	@include flex(1 0 auto);
	@include flex-flow(row nowrap);
	@include align-items(center);
	@include align-content(center);

	&.right-align {
		@include justify-content(flex-end)
	}

  &.not-phone { //elements we don't want to display on a phone or small screen
    display: none;
  }

  &.not-tablet { //elements we don't want to display on a table(portrait) or phone
    display: none;
  }
  @include respond-to(medium) {
		&.not-tablet {
      @include flexbox();
    }
	}

}

.table-row-inset {
	padding: 5px;
	border: 2px solid rgba(220,220,220, 1);
	border-radius: 2px;
	background-color: rgba(220,220,220,0.25);
}


.table-row-edit {
	width:85px;
	@include align-items(center);
	@include flexbox();
	@include justify-content(center);
}


.type-selector-container { //container for the mutating 'add' button (below)
	position: relative;
	height: 40px;
}

.type-selector-add-button { //rotating 'add' button for tables that goes from + to x and mutates to show menu of 'types' for the item to be added
	z-index: 5;
	position: absolute;
	top: 0;
	margin: -3px !important;

	&.is-open {
		transform: rotate(-225deg) !important;
	}

}

.type-selector-options-container { //the mutating container that goes from the circle border around the button above, to a curved frame around a menu
	position: absolute;
	min-width: 38px; //these figures to ensure circle frame around add button (that mutates)
  min-height: 38px;
	border-radius: 19px;
	z-index: 2;
	border: 2px solid white; //bgcolor set by a second class
	opacity: 0.9;
	@include easer(0.4s);

	&.in-focus { //add shadow to 'pull forward' the menu, then mutate the cornder radii as it shapes up around its content
		box-shadow: 1px 1px 1px #888888;
		border-top-left-radius: 18px;
		border-top-right-radius: 3px;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		z-index: 10
	}
}

.type-selector-menu { //the menu that contains each 'type' for the item to be added
	list-style: none;
	padding: 0px;
	margin: 30px 0 -1px; //margin at top and bottom to create some spare space to fit the curved borders in
	@include easer(0.4s);

	&.out-of-focus {
		margin:0;
		opacity:0;
	}

}

.type-selector-add-label {
	position: absolute;
  top: -1.4rem;
  left: 30px;
  font-style: italic;
	font-size: 0.9rem;
}

.type-selector-menu-item { //each item in the above menu.
	cursor: pointer;
	width: 180px;
	font-size: 1rem;
	height:35px;
	padding: 6px;
	border-bottom: 1px solid whitesmoke;

	@include easer(0.4s);
	//font-size: rem;
	&:hover{
		text-decoration: underline;
	}

	&.out-of-focus { //shrink and remove each item, rather than the container, for smooth animation and consistent speed
		padding:0;
		height: 0;
		width: 0;
		overflow: hidden;
		pointer-events: none;
	}
}

.column-header {
	color: #9e9e9e;
	font-size: 0.8rem;
}


.table-row-options-container {
	min-width: 15px;
	max-width: 15px;
	position: relative;
	min-height: 35px;
	height: 100%;

	@include flexbox();
	@include flex-flow(row nowrap);
	@include justify-content(center);
	@include align-content(center);
	@include align-items(center);


}

.table-row-options {
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 0;
	min-height: 100%;
	max-width: 0px;
	overflow-x: hidden;
	background-color: $accent;
	@include flexbox();
	@include flex-flow(row nowrap);
	@include easer(0.4s);
	@include align-content(center);
	@include align-items(center);

	&.in-focus {
		max-width: 300px;
	}
}

.table-row-options-button {
	position: relative;
	min-width: 15px;
	max-width: 15px;
	cursor: pointer;
	@include flexbox();
	@include flex-flow(row nowrap);
	@include justify-content(center);
	@include align-content(center);
	@include align-items(center);

	&:hover {
		opacity: 0.9;
	}
}


.table-column-header-row {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	padding: 2px 15px 2px 5px;
}


.table-single-line {
  padding-left: 5px;
  border-bottom: 1px solid rgba(220,220,220, 1);
	position: relative;
	flex: 1 0 auto;
  //cursor: pointer;

  &:hover {
    background-color: rgba(220,220,220, 0.2);
  }
	&.deleting {
		background-color: rgba(237, 114, 97, 1);
		color: white;
	}
}

.table-total {
  padding: 5px 20px 5px 5px;
  font-weight: bold;
}
