.text-centre {
	text-align: center;
}

.text-end {
  text-align: right;
}

.text-start {
  text-align: left;
}


.font-third {
  font-size: 0.3rem;
}

.font-half {
  font-size: 0.5rem;
}

.font-three-quarter {
  font-size: 0.75rem;
}
