<div class="loading-block">
  <div class="la-ball-newton-cradle">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <h3>Loading..</h3>
  <div class="loading-tips-block">
    <h6 class='pad5'><h5>Tip: </h5>{{currentTip}}</h6>
  </div>
</div>
