
<div class='s24 flex-column-nowrap flex-justify-centre flex-align-centre pad5'>
  <!--img src='shared-ember-elements/logo/logo-colour.png' class='logo-large pad5' /-->
  <div class='spacer'>
  </div>
  <h4 class='pad5 text-centre'>You don't have access to this amazing tool :(</h4>
  <div class='spacer'>
  </div>
  <div class='s22 m20 text-centre'>
    <h6>If this doesn't seem right to you (it shouldn't seem right to you, this tool is awesome, and you should really want it) contact your firm administrator (the all-powerful being looking after your firm's socket subscription)</h6>

  </div>
</div>
