
<div class='s24 flex-column-nowrap flex-justify-centre flex-align-centre pad5'>
  <!--img src='shared-ember-elements/logo/logo-colour.png' class='logo-large pad5' /-->
  <div class='spacer'>
  </div>
  <h4 class='pad5 text-centre'>Aww man - Socket needs a newer browser than yours to do cool stuff!!</h4>
  <div class='spacer'>
  </div>
  <a href="https://www.google.com/chrome/">We like Google Chrome - get it here</a>
</div>
