<div class='s24 flex-row-nowrap flex-align-centre'>
  <div class='s04 m02 pad5'>
    {{shared/elements/gravatars/gravatar-with-default model=model ghosted=false size='small'}}
  </div>
  <div class='s12 m10'>
    {{model.name}}
  </div>
  <div class='s12 m00'>
    {{model.primaryPhone.contact}}
  </div>
  <div class='s00 m12 text-end flex-justify-end'>
    {{model.primaryEmail.contact}}
  </div>
  {{#shared/buttons/table-row-options-button}}
    {{#if showContacts}}
      {{#if model.primaryPhone.contact}}
        <div class='icon-flex-div' {{action 'callClient'}} title='Call Client'>
          {{inline-svg 'icons/buttons/table-options-phone' class='svg-smaller white-icon hover-opaque'}}
        </div>
      {{/if}}
    {{/if}}
    {{#if showCollaborate}}
      {{#if model.primaryEmail.contact}}
        <div class='icon-flex-div' {{action 'invite'}} title='Collaborate'>
          {{inline-svg 'icons/message-send' class='svg-smaller white-icon hover-opaque'}}
        </div>
      {{/if}}
    {{/if}}
    <div class='icon-flex-div' {{action 'viewDetails'}} title='Edit'>
      {{inline-svg 'icons/buttons/table-options-edit' class='svg-smaller white-icon hover-opaque'}}
    </div>
    <div class='icon-flex-div' {{action 'deleteRecord'}} title='Delete'>
      {{inline-svg 'icons/buttons/table-options-delete' class='svg-smaller white-icon hover-opaque'}}
    </div>
  {{/shared/buttons/table-row-options-button}}
</div>



{{#if model.showDetails}}
  {{#shared/tools/tools-popover-tool-container title=model.name size='large' closeAttribute=model.showDetails}}
    {{shared/views/clients/client-details-popover model=model loanApplication=loanApplication loanParty=loanParty closeAttribute=model.showDetails}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}

{{#if showInvite}}
  {{#shared/tools/tools-popover-tool-container size='small' closeAttribute=showInvite}}
    {{views/loan-applications/share/loan-app-invite-popover client=model loanApplication=loanApplication closeAttribute=showInvite}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}
