
{{#if loans}}
<div class='s24 flex-row-nowrap'>
  <div class='s10 m06'>
    <label class='element-placeholder-like-label'>last known bal</label>
  </div>
  <div class='s06 m04'>
    <label class='element-placeholder-like-label'>lender</label>
  </div>
  <div class='s08 m0 flex-row-nowrap'>
    <label class='element-placeholder-like-label'>type/fixed expiry</label>
  </div>
  <div class='s00 m04'>
    <label class='element-placeholder-like-label'>type</label>
  </div>
  <div class='s00 m04'>
    <label class='element-placeholder-like-label'>rate</label>
  </div>
  <div class='s00 m06'>
    <label class='element-placeholder-like-label'>expiry</label>
  </div>
</div>
{{/if}}

{{#each loans as |loan|}}
<div class='s24 flex-row-nowrap pad5'>
  <div class='s10 m06'>
    {{shared/labels/label-with-placeholder-option currency=true value=loan.owing}}
  </div>
  <div class='s03 m04'>
    {{shared/labels/label-with-placeholder-option value=loan.bank.name}}
  </div>

  {{#if loan.requiresFixedTermExpiry}}
    <div class='s00 m08 flex-row-nowrap'>
      <div class='m24'>
        {{shared/labels/label-with-placeholder-option value=loan.liabilityType.shortenedName}}
      </div>
      <div class='m24'>
        {{shared/labels/label-with-placeholder-option value=loan.interestRate percent=true}}
      </div>
    </div>
    <div class='s08 m06'>
      {{shared/labels/label-with-placeholder-option value=loan.fixedRateExpiry date=true}}
    </div>
  {{else}}
    <div class='s08 m04'>
      {{shared/labels/label-with-placeholder-option value=loan.liabilityType.shortenedName}}
    </div>
  {{/if}}


</div>
{{else}}
  <div class='s24 flex-row-nowrap pad5'>
    No home loans to display
  </div>
{{/each}}
