
<div class='s24'>
  {{#views/financials/financial-table-outer-container showTable=showAssets optionTypes=assetTypes action='addAsset' bgColour='table1-bg' label='Assets' counter=model.assets.length summaryValue=model.totalAssets}}
    {{#each model.assets as |asset|}}
      {{views/financials/financials-assets-table-row model=asset tableInEditMode=assetTableInEditMode tableExpanded=showAssets forex=forex}}
    {{else}}
      {{#tables/table-empty-row-component tableExpanded=showAssets}}
        No assets
      {{/tables/table-empty-row-component}}
    {{/each}}
  {{/views/financials/financial-table-outer-container}}

  {{#views/financials/financial-table-outer-container showTable=showLiabilities optionTypes=liabilityTypes action='addLiability' bgColour='table2-bg' label='Liabilities' counter=model.liabilities.length summaryValue=model.totalLiabilities}}
    {{#each model.liabilities as |liability|}}
      {{views/financials/financials-liabilities-table-row model=liability tableInEditMode=liabilityTableInEditMode tableExpanded=showLiabilities forex=forex}}
    {{else}}
    {{#tables/table-empty-row-component tableExpanded=showLiabilities}}
      No liabilities
    {{/tables/table-empty-row-component}}
    {{/each}}
  {{/views/financials/financial-table-outer-container}}
  {{#views/financials/financial-table-outer-container showTable=showIncomes optionTypes=incomeTypes action='addIncome' bgColour='table1-bg' label='Incomes' counter=model.incomes.length summaryValue=model.totalIncomes}}
    {{#each model.incomes as |income|}}
      {{views/financials/financials-incomes-table-row model=income tableInEditMode=incomeTableInEditMode tableExpanded=showIncomes forex=forex}}
    {{else}}
    {{#tables/table-empty-row-component tableExpanded=showIncomes}}
      No incomes
    {{/tables/table-empty-row-component}}
    {{/each}}
  {{/views/financials/financial-table-outer-container}}

  {{#views/financials/financial-table-outer-container showTable=showExpenses optionTypes=expenseTypes action='addExpense' bgColour='table2-bg' label='Expenses' counter=model.expenses.length summaryValue=model.totalExpenses}}
    {{#each model.expenses as |expense|}}
      {{views/financials/financials-expenses-table-row model=expense tableInEditMode=expenseTableInEditMode tableExpanded=showExpenses forex=forex}}
    {{else}}
    {{#tables/table-empty-row-component tableExpanded=showExpenses}}
      No expenses
    {{/tables/table-empty-row-component}}
    {{/each}}
  {{/views/financials/financial-table-outer-container}}

  {{#views/financials/financial-table-outer-container showTable=showSecurities optionTypes=securityTypes action='addSecurity' bgColour='table1-bg' label='Securities' counter=model.securities.length summaryValue=model.totalSecurities}}
    {{#each model.securities as |security|}}
      {{views/financials/securities-table-row model=security tableInEditMode=securitiesTableInEditMode tableExpanded=showSecurities forex=forex}}
    {{else}}
    {{#tables/table-empty-row-component tableExpanded=showSecurities}}
      No securities
    {{/tables/table-empty-row-component}}
    {{/each}}
  {{/views/financials/financial-table-outer-container}}

</div>
